<aside class="main-sidebar sidebar_fixed">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">

      <%= content_tag :li, class: controller_name == 'supply_orders' ? 'active' : '' do %>
        <%= link_to logistics_supply_orders_path do %>
          <i class="fa fa-cubes"></i><span><%= t('titles.product_supply_ordering') %></span>
        <% end %>
      <% end %>
      <%= content_tag :li, class: controller_name == 'shipping_ers' ? 'active' : '' do %>
        <%= link_to logistics_shipping_ers_path do %>
          <i class="fa fa-truck"></i><span><%= t('activerecord.models.shipping_er') %></span>
        <% end %>
      <% end %>

    </ul>
  </section>
</aside>