<% if !f.object.mn_change || f.object.ali_filters.mn_change(false).count > 0 %>
  <tr class="nested-fields">
    <td>
      <%= field_errors f.object, :name %>
      <%= f.text_field :name, class: 'form-control field', style: 'color: blue', placeholder: t('activerecord.attributes.ali_category.name') %>
    </td>
    <td>
      <%= field_errors f.object, :name_mn %>
      <%= f.text_field :name_mn, class: 'form-control field', style: 'color: blue', placeholder: t('activerecord.attributes.ali_category.name_mn') %>
    </td>
    <td class="remove"></td>
  </tr>
  <%= f.fields_for :ali_filters do |m| %>
    <%= render 'ali_filter_fields', :f => m %>
  <% end %>
<% end %>