<tr class="nested-fields">
  <td>
    <%= field_errors f.object, :name %>
    <%= f.text_field :name, class: 'form-control field name', style: 'color: blue', placeholder: t('activerecord.attributes.ali_category.name'), readonly: true %>
  </td>
  <% if  current_user.id == 1 || current_user.id == 5 || current_user.id == 9 || current_user.id == 12 %>
    <td class="va-mid text-center">
      <% if !f.object.mn_change && !f.object.prod %>
        <button type="button" class="btn btn-warning btn-xs" onclick="set_name_as($(this))" ftype="group">Бүгдийг өөрчил
        </button>
      <% end %>
    </td>
  <% end %>
  <td>
    <%= field_errors f.object, :name_mn %>
    <%= f.text_field :name_mn, class: 'form-control field name_mn', style: 'color: blue', placeholder: t('activerecord.attributes.ali_category.name_mn'), disabled: f.object.mn_change %>
  </td>
  <td class="text-center">
    <%= field_errors f.object, :prod %>
    <%= f.check_box :prod, class: 'flat-red', disabled: (f.object.mn_change || f.object.prod) %>
  </td>
</tr>
<%= f.fields_for :ali_filters do |m| %>
  <%= render 'ali_filter_fields', :f => m %>
<% end %>