<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>

<div class="content-wrapper">
  <div class="action-buttons">
    <%= link_to t('titles.back_to_list'), users_ali_categories_path(page: cookies[:ali_categories_page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box box-info">
      <div class="row">
        <div class="col-md-3" style="padding-right: 0">
          <table class="table table-bordered">
            <% len = @ali_category.parents.length
               @ali_category.parents.reverse.each_with_index {|parent, index| %>
              <tr>
                <td style="padding-left: <%= (index+1) * 3 %>px; font-weight: <%= (len == index + 1) ? 'bold' : 'normal' %>; font-size: 12px">
                  <%= link_to parent.full_name, edit_users_ali_category_path(parent), style: 'color: black' %>
                </td>
              </tr>
            <% } %>
            <% @ali_category.sub_categories.is_check.each {|sub| %>
              <tr>
                <td style="padding-left: <%= (len+1) * 3 %>px; %>; font-size: 12px">
                  <%= link_to sub.full_name, edit_users_ali_category_path(sub), style: 'color: black' %>
                </td>
              </tr>
            <% } %>
          </table>
        </div>
        <div class="col-md-9">

          <%= form_with model: @ali_category, url: @ali_category.persisted? ? users_ali_category_path : users_ali_categories_path,
                        method: @ali_category.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
            <%= form_body do %>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 field_div">
                    <%= f.label :name, class: 'control-label' %>
                    <div class="<%= get_error_class(@ali_category, :name) %>">
                      <%= field_errors(@ali_category, :name) %>
                      <%= f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.ali_category.name') %>
                    </div>
                  </div>
                  <div class="col-md-6 field_div">
                    <%= f.label :name_mn, class: 'control-label' %>
                    <div class="<%= get_error_class(@ali_category, :name_mn) %>">
                      <%= field_errors(@ali_category, :name_mn) %>
                      <%= f.text_field :name_mn, class: 'form-control', placeholder: t('activerecord.attributes.ali_category.name_mn') %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 field_div">
                <%= f.label :ali_filter_groups, class: 'control-label' %>

                <div class="cocoon-nested-form">
                  <div class="<%= get_error_class(@ali_category, :ali_filter_groups) %>">
                    <%= field_errors(@ali_category, :ali_filter_groups) %>
                    <table class="table table-bordered" id="tb_ali_filter_groups">
                      <tr>
                        <th><%= t('activerecord.attributes.ali_category.name') %></th>
                        <th><%= t('activerecord.attributes.ali_category.name_mn') %></th>
                        <th width="50px"></th>
                      </tr>
                      <%= f.fields_for :ali_filter_groups do |m| %>
                        <%= render 'ali_filter_group_fields', :f => m %>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
              <div class="action-buttons">
                <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>