<tr class="nested-fields">
  <td>
    <%= field_errors f.object, :name %>
    <%= f.text_field :name, class: 'form-control field', placeholder: t('activerecord.attributes.ali_category.name'), readonly: true %>
  </td>
  <td>
    <%= field_errors f.object, :name_mn %>
    <%= f.text_field :name_mn, class: 'form-control field', placeholder: t('activerecord.attributes.ali_category.name_mn') %>
  </td>
  <td class="text-center">
    <%= field_errors f.object, :prod %>
    <%= f.check_box :prod, class: 'flat-red', disabled: f.object.prod %>
  </td>
</tr>