<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>

<div class="content-wrapper">
  <div class="action-buttons">
    <%= link_to t('titles.back'), users_ali_category_path(@ali_category), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box box-info">
      <%= form_with model: @ali_category, url: update_filter_users_ali_categories_path(id: @ali_category.id), method: :patch, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>

          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6 field_div">
                <%= f.label :name, class: 'control-label' %>
                <div class="<%= get_error_class(@ali_category, :name) %>">
                  <%= field_errors(@ali_category, :name) %>
                  <%= f.text_field :name, class: 'form-control', readonly: true %>
                </div>
              </div>
              <div class="col-md-6 field_div">
                <%= f.label :name_mn, class: 'control-label' %>
                <div class="<%= get_error_class(@ali_category, :name_mn) %>">
                  <%= field_errors(@ali_category, :name_mn) %>
                  <%= f.text_field :name_mn, class: 'form-control', disabled: true %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 field_div">
            <div class="col-md-8 field_div">
              <%= f.label :ali_filter_groups, class: 'control-label' %>

              <div class="cocoon-nested-form">
                <div class="<%= get_error_class(@ali_category, :ali_filter_groups) %>">
                  <%= field_errors(@ali_category, :ali_filter_groups) %>
                  <table class="table table-bordered" id="tb_ali_filter_groups">
                    <tr>
                      <th><%= t('activerecord.attributes.ali_category.name') %></th>
                      <% if current_user.id == 1 || current_user.id == 5 || current_user.id == 9 || current_user.id == 12 %>
                        <th style="width: 80px"></th>
                      <% end %>
                      <th><%= t('activerecord.attributes.ali_category.name_mn') %></th>
                      <th class="text-center"><%= t('activerecord.attributes.ali_category.prod') %></th>
                    </tr>
                    <%= f.fields_for :ali_filter_groups do |m| %>
                      <%= render 'ali_filter_group_fields', :f => m %>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<script !src="">
    function set_name_as(btn) {
        let parent = btn.parent().parent();
        let name = parent.find("input.name:first").val();
        let name_mn = parent.find("input.name_mn:first").val();
        if (name !== undefined && name_mn !== undefined && name.length > 0 && name_mn.length > 0) {

            if (confirm("<%=t('are_you_sure_ok') %>")) {
                btn.attr('disabled', 'disabled');
                Rails.ajax({
                    url: "<%= set_name_as_filter_users_ali_categories_path %>",
                    type: "PATCH",
                    data: "ftype=" + btn.attr('ftype') + "&name=" + name + "&name_mn=" + name_mn,
                    success: function (data) {
                        btn.remove();
                        alert(data.status)
                    },
                    error: function (data) {
                        btn.removeAttr('disabled');
                        console.log(data);
                    }
                }); // end ajax
            }
        } else {
            alert("Өгөгдөл дутуу байна!")
        }
    }

</script>
<style>
  .form-control[readonly] {
    background-color: white;
  }
</style>