<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<div class="content-wrapper">

  <div class="col-md-12 m-t-10 m-b-10">
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <%= render 'layouts/flash_message' %>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <tr>
                <th><%= t('activerecord.attributes.ali_category.name') %></th>
                <th><%= t('activerecord.attributes.ali_category.name_mn') %></th>
                <th class="text-center"><%= t('activerecord.attributes.ali_category.prod') %></th>
                <th class="text-center"><%= t('activerecord.attributes.ali_category.sub_categories') %></th>
                <th class="text-center"><%= t('activerecord.attributes.ali_category.ali_filter_groups') %></th>
              </tr>
              <% @ali_categories.each do |ali_category| %>
                <tr>
                  <td><%= link_to ali_category.name, users_ali_category_path(ali_category), class: 'no-underline black' %></td>
                  <td><%= link_to ali_category.name_mn, users_ali_category_path(ali_category), class: 'no-underline black' %></td>
                  <td class="text-center"><%= ali_category.check_status %></td>
                  <td><%= ali_category.prod_categories %></td>
                  <td>
                    <%= link_to form_filter_users_ali_categories_path(id: ali_category.id), class: 'no-underline' do %>
                      <%= ali_category.prod_filters %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <%= paginate @ali_categories %>
      </div>
    </div>
  </section>
</div>
<style>
  .black {
    color: #000;
  }
</style>