<% provide :head_tags do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&libraries=places"></script>
<% end %>
<div class="content-wrapper">
  <%= render 'layouts/breadcrumbs', data: [
      [operators_loc_districts_path, t('activerecord.models.loc_district')],
      [operators_loc_khoroos_path(id: @location.loc_district_id), @location.loc_district.name],
      [operators_locations_path(id: @location.loc_khoroo.id), @location.loc_khoroo.name], t('activerecord.models.location') + t(@location.persisted? ? 'titles.edit' : 'titles.add')] %>

  <section class="content">
    <div class="box box-info">
      <%= form_with model: @location, url: @location.persisted? ? operators_location_path : operators_locations_path, method: @location.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <%= f.hidden_field :loc_district_id %>
          <%= f.hidden_field :loc_khoroo_id %>
          <div class="form-group">
            <%= f.label :micro_region, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@location, :micro_region) %>">
              <%= field_errors(@location, :micro_region) %>
              <%= f.text_field :micro_region, class: 'form-control n_press', placeholder: t('activerecord.attributes.location.micro_region') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :town, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@location, :town) %>">
              <%= field_errors(@location, :town) %>
              <%= f.text_field :town, class: 'form-control n_press', placeholder: t('activerecord.attributes.location.town') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :street, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@location, :street) %>">
              <%= field_errors(@location, :street) %>
              <%= f.text_field :street, class: 'form-control n_press', placeholder: t('activerecord.attributes.location.street') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :apartment, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@location, :apartment) %>">
              <%= field_errors(@location, :apartment) %>
              <%= f.text_field :apartment, class: 'form-control n_press', placeholder: t('activerecord.attributes.location.apartment') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :entrance, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@location, :entrance) %>">
              <%= field_errors(@location, :entrance) %>
              <%= f.text_field :entrance, class: 'form-control n_press', placeholder: t('activerecord.attributes.location.entrance') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@location, :name) %>">
              <%= field_errors(@location, :name) %>
              <%= f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.location.name') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name_la, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@location, :name_la) %>">
              <%= field_errors(@location, :name_la) %>
              <%= f.text_field :name_la, class: 'form-control', placeholder: t('activerecord.attributes.location.name_la') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :station_id, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@location, :station_id) %>">
              <%= field_errors(@location, :station_id) %>
              <%= f.collection_select :station_id, Location.by_country, :id, :full_name, {:prompt => t('controls.select.none')}, {class: 'form-control selectpicker', "data-live-search": true} %>
            </div>
          </div>
          <div class="form-group" id="div_distance">
            <%= f.label :distance, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@location, :distance) %>">
              <%= field_errors(@location, :distance) %>
              <%= f.select :distance, Location.distances_i18n.keys.reject {|k| k == 'st_leave'}.map {|k| [Location.distances_i18n[k], k]}, {:prompt => t('controls.select.none')}, {class: 'form-control selectpicker'} %>
            </div>
          </div>
          <%= f.hidden_field :latitude, id: 'latitude' %>
          <%= f.hidden_field :longitude, id: 'longitude' %>
          <div class="form-group">
            <div class="col-sm-12">
              <div id="map"></div>
            </div>
          </div>
          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
<script>
    var map = null, marker;

    function initMap() {
        let lat = document.getElementById('latitude').value;
        let lng = document.getElementById('longitude').value;

        let myCoords = new google.maps.LatLng(lat, lng);
        let mapOptions = {
            center: myCoords,
            zoom: 17,
            mapTypeId: 'hybrid',
            output: 'embed'
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        marker = new google.maps.Marker({
            position: myCoords,
            animation: google.maps.Animation.DROP,
            map: map,
            draggable: true
        });

        // refresh marker position and recenter map on marker
        function refreshMarker() {
            let lat = document.getElementById('latitude').value;
            let lng = document.getElementById('longitude').value;
            let myCoords = new google.maps.LatLng(lat, lng);
            marker.setPosition(myCoords);
            map.setCenter(marker.getPosition());
        }

        // when input values change call refreshMarker
        document.getElementById('latitude').onchange = refreshMarker;
        document.getElementById('longitude').onchange = refreshMarker;
        // when marker is dragged update input values
        marker.addListener('drag', function () {
            latlng = marker.getPosition();
            newlat = (Math.round(latlng.lat() * 1000000)) / 1000000;
            newlng = (Math.round(latlng.lng() * 1000000)) / 1000000;
            document.getElementById('latitude').value = newlat;
            document.getElementById('longitude').value = newlng;
        });
        // When drag ends, center (pan) the map on the marker position
        marker.addListener('dragend', function () {
            map.panTo(marker.getPosition());
        });
    }

    $(function () {
        initMap();
        $('.n_press').keyup(function (e) {
            if (e.which === 13) {
                e.preventDefault();
            } else {
                set_location_full_name();
            }
        });
        $('select#location_station_id').on('change', function () {
            if ($(this).val().length > 0) {
                set_map_marker($(this).val());
                $('div#div_distance').addClass('none');
            } else {
                $('div#div_distance').removeClass('none');
            }
        });
    });

    function set_location_full_name() {
        var n = "";
        n = get_name_text(n, $("#location_micro_region").val());
        n = get_name_text(n, $("#location_town").val());
        n = get_name_text(n, $("#location_street").val());
        n = get_name_text(n, $("#location_apartment").val());
        n = get_name_text(n, $("#location_entrance").val());
        $("#location_name").val(n);
    }

    function set_map_marker(id) {
        Rails.ajax({
            url: "<%= get_location_operators_locations_path %>",
            type: "POST",
            data: "id=" + id,
            success: function (data) {
                let myCoords = new google.maps.LatLng(data.latitude, data.longitude);
                marker.setPosition(myCoords);
                map.setCenter(marker.getPosition());
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

</script>