<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<div class="content-wrapper">
  <div class=" m-t-10 m-b-10">
    <%= form_with url: excel_users_product_sales_path, method: "post", class: "", id: 'search-form', local: true do |f| %>
      <div class="col-md-12">
        <div class="col-md-4">
          <div><%= t('titles.date') %></div>
          <div class="search m-t-5">
            <div id="search-date" class="form-control search">
              <i class="fa fa-calendar fa-lg p-r-0"></i>
              <span><%= t("filters.by_date") %>...</span>
              <%= f.hidden_field :start, value: @start %>
              <%= f.hidden_field :finish, value: @finish %>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div><%= t('activerecord.models.customer') %></div>
          <div class="search">
            <%= f.collection_select :salesman_id, Salesman.all, :id, :full_name, {:include_blank => t('controls.select.all'), selected: @salesman_id},
                                    {class: 'form-control selectpicker', "data-live-search": true} %>
          </div>
        </div>
        <div class="col-md-4 ">
          <div><%= t('activerecord.models.operator') %></div>
          <div class="search">
            <%= f.collection_select :operator_id, Operator.order_name, :id, :operator_name, {:include_blank => t('controls.select.all'), selected: @operator_id},
                                    {class: 'form-control selectpicker', "data-live-search": true} %>
          </div>
        </div>
      </div>
      <div class="col-md-12 m-t-10">
        <div class="col-md-4 ">
          <div>Жагсаалтын төрөл</div>
          <div class="search m-t-5">
            <%= select_tag :list_type, options_for_select([["Захиалгаар", 0], ["Бараагаар", 1]], @List_type), class: 'form-control', id: "list-type-select" %>
          </div>
        </div>
        <div class="col-md-4 none" id="product-code-div">
          <div><%= "Барааны код" %></div>
          <div class="search m-t-5">
            <div class="search">
              <%= text_field_tag :product_code, @product_code, {class: 'form-control', placeholder: 'Барааны код'} %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 m-t-10">
        <div class="col-md-4">
          <div><%= "Харилцагч" %></div>
          <div class="search m-t-5">
            <%= f.collection_select :customer_id, Customer.order_by_name, :id, :name, {:include_blank => t('controls.select.all'), selected: @customer_id},
                                    {class: 'form-control selectpicker', "data-live-search": true} %>
          </div>
        </div>
        <div class="col-md-4">
          <div><%= "Захиалгын эх үүсвэр" %></div>
          <div class="search m-t-5">
            <%= check_box_tag :order_0, 0, @order_0.present? %>
            <span class="m-r-10">Бүгд</span>
            <%= check_box_tag :order_2, 1, @order_1.present? %>
            <span class="m-r-10">Вэб</span>
            <%= check_box_tag :order_2, 2, @order_2.present? %>
            <span class="m-r-10">Коммэнт</span>
            <%= check_box_tag :order_3, 3, @order_3.present? %>
            <span>Оператор</span>
          </div>
        </div>
      </div>
      <div class="col-md-12 m-t-10">
        <div><%= "Статус" %></div>
        <% ProductSaleStatus.not_types(['oper', 'sals']).each {|oper| %>
          <div class="col-md-2">
            <div class="checkbox" style="position: relative; display: block; overflow: hidden; height: 20px;">
              <%= label_tag do %>
                <%= f.check_box(:status_ids, {:multiple => true}, oper.id.to_s, nil) %>
                <span class="<%= oper.next.present? && oper.next.length > 2 ? 'text-bold' : '' %>"><%= oper.name %></span>
              <% end %>
            </div>
          </div>
        <% } %>
      </div>
      <div class="col-md-12 m-t-10">
        <div><%= "Cтатус опэратороос" %></div>
        <% ProductSaleStatus.by_type("oper").each {|sale| %>
          <div class="col-md-2">
            <div class="checkbox" style="position: relative; display: block; overflow: hidden; height: 20px;">
              <%= label_tag do %>
                <%= f.check_box(:status_ids, {:multiple => true}, sale.id.to_s, nil) %>
                <span class="<%= sale.next.present? && sale.next.length > 2 ? 'text-bold' : '' %>"><%= sale.name %></span>
              <% end %>
            </div>
          </div>
        <% } %>
      </div>
      <div class="col-md-12 m-t-10">
        <div><%= "Cтатус хүргэлтийн ажилтан" %></div>
        <% ProductSaleStatus.by_type("sals").each {|other| %>
          <div class="col-md-2">
            <div class="checkbox" style="position: relative; display: block; overflow: hidden; height: 20px;">
              <%= label_tag do %>
                <%= f.check_box(:status_ids, {:multiple => true}, other.id.to_s, nil) %>
                <span class="<%= other.next.present? && other.next.length > 2 ? 'text-bold' : '' %>"><%= other.name %></span>
              <% end %>
            </div>
          </div>
        <% } %>
      </div>
      <div class="search m-r-20">
        <button type="button" class="btn-sm blck-btn right" id="download-excel">
          <i class="fa fa-cloud-download"></i>
          <i class="fa fa-file-excel-o"></i>
        </button>
      </div>
    <% end %>
  </div>

</div>
<%= render 'shared/date-range', search_field_id: 'search-date', start_id: 'start', finish_id: 'finish' %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#list-type-select').on('change', function () {
            if (parseInt($(this).val()) === 1) {
                $('#product-code-div').removeClass('none');
            } else {
                $('#product-code-div').addClass('none');
            }
        });
    });
</script>