<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "admin-lte/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min" %>
<% end %>
<div class="content-wrapper">

  <% if params[:product_feature_id].to_i == 1 %>
    <%= render 'layouts/breadcrumbs', data: [
        [users_product_feature_groups_path, t('activerecord.models.product_feature')],
        [users_product_feature_options_path(product_feature_id: @option.product_feature.id), @option.product_feature.name],
        t('titles.color') + t(@option.persisted? ? 'titles.edit' : 'titles.add')] %>
  <% else %>
    <%= render 'layouts/breadcrumbs', data: [
        [users_product_feature_options_path(product_feature_id: @option.product_feature.id), @option.product_feature.name],
        t('activerecord.models.product_feature') + t(@option.persisted? ? 'titles.edit' : 'titles.add')] %>
  <% end %>


  <section class="content">
    <div class="box box-info">
      <%= form_with model: @option, url: @option.persisted? ? users_product_feature_option_path : users_product_feature_options_path,
                    method: @option.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <%= f.hidden_field :product_feature_id %>

          <% if @option.group.present? %>
            <div class="form-group">
              <%= f.label :group_id, class: 'col-sm-3 control-label' do %>
              <% end %>
              <div class="col-sm-9">
                <%= field_errors(@option, :group_id) %>
                <div class="square-30" style="background-color: <%= @option.group.code %>"></div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :group_id, class: 'col-sm-3 control-label' %>
              <div class="col-sm-9 <%= get_error_class(@option, :group_id) %>">
                <%= field_errors(@option, :group_id) %>
                <%= f.collection_select :group_id, ProductFeatureGroup.order_name, :id, :name, {:prompt => t('controls.select.none')}, {class: 'form-control selectpicker'} %>
              </div>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :queue, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@option, :queue) %>">
              <%= field_errors(@option, :queue) %>
              <%= f.number_field :queue, class: 'form-control', min: 0, step: 1, placeholder: t('activerecord.attributes.product_feature.queue') %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@option, :name) %>">
              <%= field_errors(@option, :name) %>
              <%= f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.product_feature_option.name') %>
            </div>
          </div>

          <% if @option.group.present? %>
            <div class="form-group">
              <%= f.label :name_en, class: 'col-sm-3 control-label' %>
              <div class="col-sm-9 <%= get_error_class(@option, :name_en) %>">
                <%= field_errors(@option, :name_en) %>
                <%= f.text_field :name_en, class: 'form-control', placeholder: t('activerecord.attributes.product_feature_option.name_en') %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :code, class: 'col-sm-3 control-label' %>
              <div class="col-sm-6 <%= get_error_class(@option, :code) %>">
                <%= field_errors(@option, :code) %>
                <%= f.text_field :code, class: 'form-control', placeholder: t('activerecord.attributes.product_feature_option.code') %>
              </div>
            </div>
          <% end %>

          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>

<% content_for :footer_js do -%>
  <%= javascript_include_tag 'admin-lte/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min' %>
<% end %>
<script>
    $(document).ready(function () {
        $('#product_feature_option_code').colorpicker({
            customClass: 'colorpicker-2x',
            sliders: {
                saturation: {
                    maxLeft: 200,
                    maxTop: 200
                },
                hue: {
                    maxTop: 200
                },
                alpha: {
                    maxTop: 200
                }
            }
        });
    })
</script>

<style>
  .colorpicker.colorpicker-2x {
    width: 272px;
  }

  .colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
  }

  .colorpicker-2x .colorpicker-hue,
  .colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
  }
</style>