<div class="content-wrapper index">
  <% if params[:product_feature_id].to_i == 1 %>
    <%= render 'layouts/breadcrumbs', data: [
        [users_product_feature_groups_path, t('activerecord.models.product_feature')],
        [users_product_feature_options_path(product_feature_id: @product_feature.id), @product_feature.name], t('titles.product_feature_options')] %>
  <% else %>
    <%= render 'layouts/breadcrumbs', data: [
        [users_product_feature_options_path(product_feature_id: @product_feature.id), @product_feature.name], t('titles.product_feature_options')] %>
  <% end %>
  <section class="content-header align-left with-breadcrumbs">
    <h4> (<%= t('titles.total') %>：<%= @options.total_count %>)</h4>
  </section>
  <% is_manage = can? :manage, Product %>
  <div class="action-buttons">
    <%= form_with url: users_product_feature_options_path, method: "get", class: 'form-horizontal', local: true do |f| %>
      <%= hidden_field_tag :product_feature_id, @product_feature.id %>
      <%= text_field_tag :option_name, @search_name, {class: 'form-control search'} %>
      <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn' %>
      <% if is_manage %>
        <%= link_to t('controls.button.create'), new_users_product_feature_option_path(product_feature_id: @product_feature.id, group_id: params[:group_id]), class: 'btn btn-warning' %>
      <% end %>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <%= render 'layouts/flash_message' %>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th class="va-mid"><%= t('activerecord.attributes.product_feature_option.queue') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_feature_option.name') %></th>
                <% if params[:product_feature_id].to_i == 1 %>
                  <th class="va-mid"><%= t('activerecord.attributes.product_feature_option.name_en') %></th>
                  <th class="va-mid"><%= t('activerecord.attributes.product_feature_option.code') %></th>
                <% end %>
                <% if is_manage %>
                  <th class="th-email"></th>
                <% end %>
              </tr>
              <% @options.each_with_index do |o| %>
                <tr>
                  <td class="va-mid underline"><%= o.queue %></td>
                  <td class="va-mid underline"><%= o.name %></td>
                  <% if params[:product_feature_id].to_i == 1 %>
                    <td class="va-mid"><%= o.name_en %></td>
                    <td class="va-mid">
                      <% if o.code.present? %>
                        <div class="square-30" style="background-color: <%= o.code %>"></div>
                      <% end %>
                    </td>
                  <% end %>
                  <% if is_manage %>
                    <td>
                      <div class="btn-loc_khoroo">
                        <%= link_to edit_users_product_feature_option_path(o, product_feature_id: o.product_feature_id), class: 'no-underline' do %>
                          <%= button_tag t('controls.button.edit'), class: "btn-sm btn-info" %>
                        <% end %>

                        <%= link_to users_product_feature_option_path(o), class: 'no-underline', :method => :delete, data: {confirm: t('are_you_sure')} do %>
                          <%= button_tag t('controls.button.delete'), class: "btn-sm btn-danger" %>
                        <% end %>
                      </div>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <%= paginate @options %>
      </div>
    </div>
  </section>
</div>
