<div class="content-wrapper">
  <section class="content">
    <div class="box box-primary p-15">
      <%= simple_format(@post_message) %>
      <div class="box-body">
        <table class="table table-hover table-bordered">
          <% @comments.each {|comment| %>
            <tr>
              <td class="va-mid">
                <strong><%= comment.user_name.presence || :'Market.mn' %></strong>
              </td>
              <td class="va-mid"><%= comment.message %></td>
              <td class="va-mid nowrap"><%= comment.date.strftime('%F %R') %></td>
            </tr>
          <% } %>
          <tr>
            <td>
              <div class="bg-yellow p-10"><%= @fb_comment.user_name || :'Market.mn' %></div>
            </td>
            <td class="va-mid"><%= @fb_comment.message %></td>
            <td class="va-mid nowrap"><%= @fb_comment.date.strftime('%F %R') %></td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="box box-info">
      <%= form_for :fb_comment, url: send_message_users_fb_comments_path(id: @fb_comment.id), method: :patch, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="form-group">
            <%= f.label :reply_text, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@fb_comment, :reply_text) %>">
              <%= field_errors(@fb_comment, :reply_text) %>
              <%= f.text_area :reply_text, class: 'form-control', placeholder: t('activerecord.attributes.fb_comment.reply_text') %>
            </div>
          </div>

          <div class="action-buttons">
            <%= f.submit t('controls.button.send'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
