<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>
<div class="content-wrapper">
  <section class="content-header">
    <h1><%= t('activerecord.models.shipping_er') + t(@shipping_er.persisted? ? 'titles.edit' : 'titles.add') %></h1>
  </section>
  <section class="content multi">
    <div class="box box-info">
      <%= form_with model: @shipping_er, url: @shipping_er.persisted? ? logistics_shipping_er_path : logistics_shipping_ers_path, method: @shipping_er.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="row">
            <div class="col-md-12">
              <div class=" col-md-4 field_div">
                <%= f.label :date, class: 'control-label' %>
                <div class="input-append input-group date <%= get_error_class(@shipping_er, :date) %>" data-provide="datepicker">
                  <%= field_errors(@shipping_er, :date) %>
                  <%= f.text_field :date, value: @shipping_er.date.strftime('%F'), class: 'field form-control', placeholder: t('activerecord.attributes.shipping_er.date') %>
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-4 field_div">
                <%= f.label :number, class: 'control-label' %>
                <div>
                  <%= text_field_tag :number, show_id(@shipping_er.persisted? ? @shipping_er.id : @shipping_er.number), {class: 'form-control', readonly: true} %>
                </div>
              </div>
              <div class="col-md-4 field_div">
                <%= f.label :s_type, class: 'control-label' %>
                <div class="<%= get_error_class(@shipping_er, :s_type) %>">
                  <%= field_errors(@shipping_er, :s_type) %>
                  <%= f.select :s_type, ShippingEr.s_types_i18n.keys.map {|k| [ShippingEr.s_types_i18n[k], k]}, {:prompt => t('controls.select.none')}, {class: 'form-control selectpicker'} %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 field_div m-t-10">
            <div class="cocoon-nested-form">
              <div class="<%= get_error_class(@shipping_er, :shipping_er_products) %>">
                <%= field_errors(@shipping_er, :shipping_er_products) %>
                <table class="table table-bordered" id="tb_shipping_er_products">
                  <thead>
                  <tr>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_name') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_code') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_image') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_feature') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_bought') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_feature.quantity') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.cargo') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.cost') %></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <%= f.fields_for :shipping_er_products do |m| %>
                    <%= render 'shipping_er_product_fields', :f => m %>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-t-10">
            <div class="form-group">
              <%= f.label :description, class: 'col-sm-3 control-label' %>
              <div class="col-sm-9 <%= get_error_class(@shipping_er, :description) %>">
                <%= field_errors(@shipping_er, :description) %>
                <%= f.text_area :description, class: 'form-control', placeholder: t('activerecord.attributes.shipping_er.description') %>
              </div>
            </div>
          </div>
          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
          <div class="col-md-12 field_div">
            <div class="cocoon-nested-form">
              <div>
                <table class="table table-bordered" id="tb_products">
                  <tr>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_name') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_code') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_image') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_feature') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_bought') %></th>
                    <th></th>
                  </tr>
                  <% product_id = 0
                     ProductSupplyFeature.find_to_er.each do |supply_feature| %>
                    <% feature_item = supply_feature.feature_item
                       product = feature_item.product %>
                    <tr class="p-<%= product.id %>">
                      <% if product_id != product.id %>
                        <td class="va-mid"><%= product.cn_name %></td>
                        <td class="va-mid"><%= product.code %></td>
                      <% else %>
                        <td></td>
                        <td></td>
                      <% end %>
                      <td class="va-mid">
                        <% if feature_item.img.present? %>
                          <%= link_to feature_item.img.url, :"data-lightbox" => "roadtrip" do %>
                            <%= t('titles.view') %>
                          <% end %>
                        <% elsif product.picture.present? %>
                          <%= link_to product.picture.url, "data-lightbox": "roadtrip" do %>
                            <%= t('titles.view') %>
                          <% end %>
                        <% end %>
                      </td>
                      <td class="va-mid"><%= feature_item.cn_name %></td>
                      <td class="va-mid text-center"><%= supply_feature[:remainder] %></td>
                      <td class="va-mid">
                        <% if product_id != product.id
                             product_id = product.id %>
                          <button class="btn btn-block btn-success btn-xs" type="button" onclick="add_product(<%= product_id %>)">
                            <i class="fa fa-plus" style="color: white"></i></button>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
<script>
    function add_product(id) {
        let row = $('#tb_shipping_er_products td.code').length;
        Rails.ajax({
            url: "<%= add_product_logistics_shipping_ers_path %>",
            type: "POST",
            data: "product_id=" + id + "&rows=" + row,
            success: function () {
                $('#tb_products tr.p-' + id).remove();
            },
        });
    }

    set_quantity("");

    function set_quantity(qr) {
        $(qr + ".sum").on("input", function () {
            if ($(this).val().length > 0) {
                let v = parseInt($(this).val());
                let project = $(this).attr('p');
                let c = $('.feature-' + project).length;

                $('.quantity[p=' + project + ']').each(function () {
                    $(this).val(parseInt(v / c));
                });
            }
        });

        $(qr + ".quantity").on("input", function () {
            if ($(this).val().length > 0) {
                let project = $(this).attr('p');
                var s = 0;
                $('.quantity[p=' + project + ']').each(function () {
                    s += parseInt($(this).val());
                });
                $('.sum[p=' + project + ']').val(s);
            }
        });
    }

</script>