<div>
  <table class="table table-bordered" id="tb_products">
    <thead>
    <tr>
      <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.order_code') %></th>
      <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_name') %></th>
      <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_code') %></th>
      <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_image') %></th>
      <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_feature') %></th>
      <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_bought') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% product_id = 0
       product_supply_features.each do |supply_feature| %>
      <% feature_item = supply_feature.feature_item
         product = feature_item.product %>
      <% if product_id == product.id %>
        <tr class="p-<%= product.id %> collapse<%= product.id %> collapse" aria-expanded="false" style="height: 0">
      <% else %>
        <tr class="p-<%= product.id %>">
      <% end %>

      <% if product_id != product.id %>
        <td class="va-mid">
            <span data-toggle="collapse" style="cursor: pointer;color: #46a2e1" data-target=".collapse<%= product.id %>" aria-expanded="false">
              <%= supply_feature.order_code %>
            </span>
        </td>
        <td class="va-mid"><%= product.cn_name %></td>
        <td class="va-mid"><%= product.code %></td>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
      <td class="va-mid">
        <% supply_order = supply_feature.order_item.product_supply_order %>
        <% if product_id != product.id %>
          <% if supply_order.is_sample? %>
            <% supply_order.product_sample_images.each {|img| %>
              <div style="display: inline-block">
                <%= link_to img.image.url, "data-lightbox": "roadtrip" do %>
                  <%= image_tag img.image.url(:tumb), height: '30' %>
                <% end %>
              </div>
            <% } %>
          <% end %>
        <% else %>
          <% if feature_item.img.present? %>
            <%= link_to feature_item.img.url, :"data-lightbox" => "roadtrip" do %>
              <%= t('titles.view') %>
            <% end %>
          <% elsif product.picture.present? %>
            <%= link_to product.picture.url, "data-lightbox": "roadtrip" do %>
              <%= t('titles.view') %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td class="va-mid"><%= feature_item.cn_name %></td>
      <td class="va-mid text-center"><%= supply_feature[:remainder] %></td>
      <td class="va-mid">
        <% if product_id != product.id
             product_id = product.id %>
          <button class="btn btn-block btn-success btn-xs" type="button" onclick="add_product(<%= product_id %>)">
            <i class="fa fa-plus" style="color: white"></i></button>
        <% end %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>