<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "show" %>
<% end %>
<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1><%= t('activerecord.models.shipping_er') %></h1>
  </section>

  <div class="action-buttons">
    <%= link_to t('controls.button.edit'), edit_logistics_shipping_er_path(@shipping_er), class: 'btn btn-info' %>
    <%= link_to t('titles.back_to_list'), logistics_shipping_ers_path(page: cookies[:shipping_er_page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box box-info">
      <!--      no-padding-->
      <div class="box-body">
        <div class="row">
          <div class="col-md-3">
            <b><%= t('activerecord.attributes.shipping_er.number') %>:</b> <%= show_id @shipping_er.id %>
          </div>
          <div class="col-md-3">
            <b><%= t('activerecord.attributes.shipping_er.date') %>:</b> <%= @shipping_er.date.strftime('%F') %>
          </div>
          <div class="col-md-3">
            <b><%= t('activerecord.attributes.shipping_er.s_type') %>:</b> <%= @shipping_er.s_type_i18n %>
          </div>
          <div class="col-md-3">
            <b><%= t('activerecord.attributes.shipping_er.cost') %>
              :</b> <%= get_currency(@shipping_er.cost, Const::CURRENCY[0], 2) %>
          </div>
        </div>
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_name') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_code') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_image') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_feature') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_feature.quantity') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.cargo') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.cost') %></th>
            </tr>
            </thead>
            <tbody>
            <% @shipping_er.shipping_er_products.each {|er_product| %>
              <% er_product.shipping_er_features.each.with_index do |er_feature, index| %>
                <tr>
                  <% product = er_feature.product
                     feature_item = er_feature.supply_feature.feature_item %>
                  <% if index == 0 %>
                    <td class="va-mid"><%= product.cn_name %></td>
                    <td class="va-mid"><%= product.code %></td>
                  <% else %>
                    <td></td>
                    <td></td>
                  <% end %>
                  <td class="va-mid">
                    <% if feature_item.img.present? %>
                      <%= link_to feature_item.img.url, "data-lightbox": "roadtrip" do %>
                        <%= t('titles.view') %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="va-mid"><%= feature_item.cn_name %></td>
                  <td class="va-mid"><%= er_feature.quantity %></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>
              <tr>
                <% product = er_product.product %>
                <td></td>
                <td></td>
                <td class="va-mid">
                  <% if product.picture.present? %>
                    <%= link_to product.picture.url, "data-lightbox": "roadtrip" do %>
                      <%= t('titles.view') %>
                    <% end %>
                  <% end %>
                </td>
                <td class="text-right va-mid">
                  <strong><%= t('activerecord.attributes.shipping_er_product.quantity') %></strong>
                </td>
                <td class="va-mid"><%= er_product.quantity %></td>
                <td class="va-mid"><%= er_product.cargo %></td>
                <td class="va-mid"><%= get_currency(er_product.cost, Const::CURRENCY[0], 2) %></td>
              </tr>
            <% } %>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <div class="col-md-12 field_div">
            <b><%= t('activerecord.attributes.shipping_er.description') %>
              :</b> <%= @shipping_er.description %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>