<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "show" %>
<% end %>
<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1><%= t('activerecord.models.shipping_er') %></h1>
  </section>

  <div class="action-buttons">
    <%= link_to t('controls.button.edit'), edit_logistics_shipping_er_path(@shipping_er), class: 'btn btn-info' %>
    <%= link_to t('titles.back_to_list'), logistics_shipping_ers_path(page: cookies[:shipping_er_page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body table-responsive no-padding">
        <div class="col-md-12 m-t-10">
          <div class="col-md-12 field_div">
            <b><%= t('activerecord.attributes.shipping_er.date') %>:</b> <%= @shipping_er.date.strftime('%F') %>
          </div>
        </div>
        <div class="col-md-12">
          <table class="table table-hover table-bordered">
            <thead>
            <tr>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_name') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_code') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_image') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_feature') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.received') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.same_feature') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.cargo') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.s_type') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.cost') %></th>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.number') %></th>
            </tr>
            </thead>
            <tbody>
            <% total_sum = 0 %>
            <% @shipping_er.shipping_er_items.each {|item| %>
              <% product = item.product
                 feature_item = item.feature_item %>
              <tr>
                <td class="va-mid"><%= item.id %><%= product.name %></td>
                <td class="va-mid"><%= product.code %></td>
                <td class="va-mid text-center">
                  <% if feature_item.img.present? %>
                    <%= link_to feature_item.img.url, "data-lightbox": "roadtrip" do %>
                      <%= t('titles.view') %>
                    <% end %>
                  <% end %>
                </td>
                <td class="va-mid"><%= feature_item.name %></td>
                <td class="va-mid"><%= item.received %></td>
                <td class="va-mid"><%= item.same_item.present? ? item.same_item.name : '' %></td>
                <td class="va-mid"><%= item.cargo %></td>
                <td class="va-mid"><%= item.s_type_i18n %></td>
                <td class="va-mid">
                  <%= item.cost.present? && item.cost > 0 ? get_currency(item.cost, "￥", 0) : '' %>
                </td>
                <td class="va-mid"><%= item.number %></td>
              </tr>
            <% total_sum += item.received if item.received.present? } %>
            <tr>
              <td colspan="4" class="text-right"><b><%= t('titles.total') %></b>
              </td>
              <td><b><%= total_sum %></b></td>
              <td colspan="4"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <div class="col-md-12 field_div">
            <b><%= t('activerecord.attributes.shipping_er.description') %>
              :</b> <%= @shipping_er.description %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>