<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>
<div class="content-wrapper">
  <section class="content">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="<%= !product_supply.tab_index.present? || product_supply.tab_index.to_i == 0 ? 'active' : '' %>">
          <a href="#basic" data-toggle="tab"><%= t('product_form.basic') %></a></li>
        <% product_supply.product_supply_order_items.each_with_index {|item, index|
          product = item.product
          if product.present? %>
            <li class="<%= product_supply.tab_index.to_i == index + 1 ? 'active' : '' %>">
              <a href="#product<%= product.id %>" data-toggle="tab"><%= product.name %></a></li>
          <% end %>
        <% } %>
      </ul>
      <div class="tab-content">
        <div class="<%= !product_supply.tab_index.present? || product_supply.tab_index.to_i == 0 ? 'active ' : '' %>tab-pane" id="basic">
          <%= render 'form_basic', product_supply: product_supply %>
        </div>
        <% product_supply.product_supply_order_items.each_with_index {|item, index|
          product = item.product
          if product.present? %>
            <div class="<%= product_supply.tab_index.to_i == index + 1 ? 'active ' : '' %>tab-pane" id="product<%= product.id %>">
              <%= render 'users/product_samples/form_product_feature', order_type: 'order', id: product_supply.id, order_item: item, product: product, index: index + 1 %>
            </div>
          <% end %>
        <% } %>
      </div>
    </div>
  </section>
</div>
<select id="product_supply_order_item_product_id"></select>
<%= render 'shared/suggestion_search', id: 'product_supply_order_item_product_id', url: search_product_path %>

