<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>
<div class="content-wrapper">
  <section class="content">
    <div class="box box-info">
      <%= form_with model: @product_supply_order, url: @product_supply_order.persisted? ? users_product_supply_order_path : users_product_supply_orders_path,
                    method: @product_supply_order.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 field_div">
                <%= f.label :code, class: 'control-label' %>
                <div class="<%= get_error_class(@product_supply_order, :code) %>">
                  <%= field_errors(@product_supply_order, :code) %>
                  <%= f.text_field :code, class: 'form-control', placeholder: t('activerecord.attributes.product_supply_order.code') %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :ordered_date, class: 'control-label' %>
                <div class="input-append input-group date <%= get_error_class(@product_supply_order, :ordered_date) %>" data-provide="datepicker">
                  <%= field_errors(@product_supply_order, :ordered_date) %>
                  <%= f.text_field :ordered_date, value: @product_supply_order.ordered_date.strftime('%F'), class: 'field form-control', placeholder: t('activerecord.attributes.product_supply_order.ordered_date') %>
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :supplier_id, class: 'control-label' %>
                <div class="<%= get_error_class(@product_supply_order, :supplier_id) %>">
                  <%= field_errors(@product_supply_order, :supplier_id) %>
                  <%= f.collection_select :supplier_id, ProductSupplier.search(""), :id, :name, {:prompt => t('controls.select.none')}, {class: 'form-control'} %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :payment, class: 'control-label' %>
                <div class="<%= get_error_class(@product_supply_order, :payment) %>">
                  <%= field_errors(@product_supply_order, :payment) %>
                  <%= f.select :payment, ProductSupplyOrder.payments_i18n.keys.map {|k| [ProductSupplyOrder.payments_i18n[k], k]},
                               {:prompt => t('controls.select.none')}, {class: 'form-control'} %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 field_div">
                <%= f.label :exchange, class: 'control-label' %>
                <div class="<%= get_error_class(@product_supply_order, :exchange) %>">
                  <%= field_errors(@product_supply_order, :exchange) %>
                  <%= f.select :exchange, ProductSupplyOrder.exchanges_i18n.keys.map {|k| [ProductSupplyOrder.exchanges_i18n[k], k]},
                               {:prompt => t('controls.select.none')}, {class: 'form-control'} %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :exchange_value, class: 'control-label' %>
                <div class="<%= get_error_class(@product_supply_order, :exchange_value) %>">
                  <%= field_errors(@product_supply_order, :exchange_value) %>
                  <%= f.number_field :exchange_value, class: 'form-control', min: 0, step: 0.01 %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :is_closed, class: 'control-label' %>
                <div class="radio-group p-t-5 <%= get_error_class(@product_supply_order, :is_closed) %>">
                  <%= field_errors(@product_supply_order, :is_closed) %>
                  <%= f.collection_radio_buttons :is_closed, ProductSupplyOrder.is_closeds_i18n, :first, :second do |b| %>
                    <%= b.radio_button %>&nbsp;&nbsp;<%= b.text %> &nbsp;&nbsp;
                  <% end %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :closed_date, class: 'control-label' %>
                <div class="input-append input-group date " data-provide="datepicker">
                  <%= f.text_field :closed_date, value: @product_supply_order.closed_date.presence ? @product_supply_order.closed_date.strftime('%F') : "",
                                   class: 'field form-control', placeholder: t('activerecord.attributes.product_supply_order.closed_date') %>
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 field_div">
            <%= f.label :product_supply_order_items, class: 'control-label' %>

            <div class="cocoon-nested-form">
              <div class="<%= get_error_class(@product_supply_order, :product_supply_order_items) %>">
                <%= field_errors(@product_supply_order, :product_supply_order_items) %>
                <table class="table table-bordered" id="tb_product_supply_order_items">
                  <tr>
                    <th><%= t('activerecord.attributes.product_supply_order_item.product_id') %></th>
                    <th><%= t('activerecord.attributes.product_supply_order_item.quantity') %></th>
                    <th><%= t('activerecord.attributes.product_supply_order_item.price') %></th>
                    <th><%= t('activerecord.attributes.product_supply_order_item.link') %></th>
                    <th><%= t('activerecord.attributes.product_supply_order_item.shuudan') %></th>
                    <th><%= t('activerecord.attributes.product_supply_order_item.note') %></th>
                    <th width="50px"></th>
                  </tr>
                  <%= f.fields_for :product_supply_order_items do |m| %>
                    <%= render 'product_supply_order_item_fields', :f => m %>
                  <% end %>
                </table>
              </div>
              <div class="links item_append">
                <%= link_to_add_association f, :product_supply_order_items, data: {association_insertion_node: '#tb_product_supply_order_items', association_insertion_method: :append} do %>
                  <%= nested_add_btn %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>

<select id="product_supply_order_item_product_id"></select>
<%= render 'shared/suggestion_search', id: 'product_supply_order_item_product_id', url: search_product_path %>
<script !src="">
    var per_price = 0;
</script>