<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<div class="content-wrapper">

  <div class="col-md-12 m-t-10 m-b-5 navbar navbar-default navbar-fixed-top my-own-style">
    <%= form_with url: users_product_supply_orders_path, method: "get", class: "", local: true do |f| %>
      <div class="col-md-2 search">
        <div id="search-date" class="form-control search">
          <i class="fa fa-calendar fa-lg p-r-0"></i>
          <span><%= t("filters.by_date") %>...</span>
          <%= f.hidden_field :by_start, value: @by_start %>
          <%= f.hidden_field :by_end, value: @by_end %>
        </div>
      </div>
      <div class="col-md-2 search">
        <%= text_field_tag :by_code, @by_code, {class: 'form-control', placeholder: t('filters.by_code')} %>
      </div>
      <div class="col-md-2 search">
        <%= text_field_tag :by_product_name, @by_product_name, {class: 'form-control search', placeholder: t('filters.by_product')} %>
      </div>
      <div class="col-md-1 search">
        <%= f.select :order_type, ProductSupplyOrder.order_types.keys.map {|k| [ProductSupplyOrder.order_types_i18n[k], k]},
                     {:prompt => t('activerecord.attributes.product_supply_order.order_type'), selected: @order_type}, {class: 'form-control'} %>
      </div>
      <div class="col-md-2 search none">
        <%= f.select :is_equal, options_for_select([['Тэнцүү', true], ['Зөрүүтэй', false]], @is_equal), {:prompt => 'Захиалгын авалт'}, {class: 'form-control'} %>
      </div>
      <div class="col-md-5 search">
        <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn pull-left m-l-5' %>
        <%=link_to 'Export to Excel', to_excel_users_product_supply_orders_path(by_start: @by_start, by_end: @by_end, by_code: @by_code, by_product_name: @by_product_name, order_type: @order_type, is_equal: @is_equal, format: 'xlsx') ,:class => "btn btn-primary m-l-5" %>
        <% if can? :create, ProductSupplyOrder %>
          <%= link_to t('titles.product_sample'), new_users_product_supply_order_path(order_type: 1), class: 'btn btn-warning m-l-5' %>
          <%= link_to t('activerecord.models.product_supply_order'), new_users_product_supply_order_path(order_type: 0), class: 'btn btn-warning' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <section class="content container-fluid m-t-30">
    <div class="row">
      <div class="col-xs-12">
        <div class="box" id="div_list">
          <div class="box-body table-responsive no-padding" id="fixed_div">
            <%= render 'layouts/flash_message' %>
            <table id='supply_table' class="table table-hover table-bordered">
              <thead>
              <tr>
                <th class="va-mid text-center" colspan="11">Барааны мэдээлэл</th>
                <th class="va-mid text-center" colspan="4">Худалдан авсан</th>
                <th class="va-mid text-center" colspan="4">Эрээнд ирсэн</th>
                <th class="va-mid text-center" colspan="4">УБ-луу ачуулсан</th>
                <th class="va-mid text-center" colspan="2">Орлого</th>
              </tr>
              <tr>
                <th class="va-mid text-center"><%= t('activerecord.attributes.product_supply_order.code') %></th>
                <th class="va-mid text-center"><%= t('activerecord.attributes.product_supply_order.order_type') %></th>
                <th class="va-mid text-center" style="min-width: 150px"><%= t('activerecord.attributes.product_supply_order.status') %></th>
                <th class="va-mid text-center"><%= t('activerecord.attributes.product_supply_order.product_code') %></th>
                <th class="va-mid" style="min-width: 300px"><%= t('activerecord.attributes.product_supply_order.product_name') %></th>
                <th class="va-mid text-center"><%= t('activerecord.attributes.product_supply_order.product_image') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_supply_order.product_feature') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_supply_order.exchange') %></th>
                <th class="va-mid text-center"><%= t('activerecord.attributes.product_supply_order_item.total_quantity') %></th>
                <th class="va-mid text-center"><%= t('activerecord.attributes.product_supply_order_item.price') %></th>
                <th class="va-mid text-center"><%= t('activerecord.attributes.product_supply_order.description') %></th>
                <th class="va-mid text-center bg-1"><%= t('activerecord.attributes.product_supply_order_item.purchase_date') %></th>
                <th class="va-mid text-center bg-1"><%= t('activerecord.attributes.product_supply_order_item.purchase_quantity') %></th>
                <th class="va-mid text-center bg-1"><%= t('activerecord.attributes.product_supply_order_item.price') %></th>
                <th class="va-mid text-center bg-1"><%= t('activerecord.attributes.product_supply_feature.note') %></th>
                <th class="va-mid text-center bg-2"><%= t('activerecord.attributes.product_supply_order_item.shipping_er_date') %></th>
                <th class="va-mid text-center bg-2"><%= t('titles.cost') %></th>
                <th class="va-mid text-center bg-2"><%= t('activerecord.attributes.product_supply_order_item.shipping_products') %></th>
                <th class="va-mid text-center bg-2"><%= t('titles.cargo') %></th>
                <th class="va-mid text-center bg-3"><%= t('activerecord.attributes.product_supply_order_item.shipping_ub_date') %></th>
                <th class="va-mid text-center bg-3"><%= t('titles.cost') %></th>
                <th class="va-mid text-center bg-3"><%= t('activerecord.attributes.product_supply_order_item.shipping_products') %></th>
                <th class="va-mid text-center bg-3"><%= t('titles.cargo') %></th>
                <th class="va-mid text-center">Нийт зардал</th>
                <th class="va-mid text-center"><%=t('activerecord.attributes.product_income.income_date') %></th>
              </tr>
              </thead>
              <tbody>
              <% @product_supply_orders.each do |i| %>
                <% order_items = i.product_supply_order_items
                   order_items_count = order_items.count > 0 ? order_items.count : 1 %>
                <tr id="supple_order_<%= i.id %>">
                  <td class="va-mid" rowspan="<%= order_items_count %>">
                    <%= link_to i.code, users_product_supply_order_path(i, tab_index: 0) %></td>
                  <td class="va-mid" rowspan="<%= order_items_count %>"><%= i.order_type_i18n %></td>
                  <td class="va-mid" rowspan="<%= order_items_count %>"><%= i.ordered_date.strftime('%F') %>
                    - <%= i.status_i18n %>
                    - <%= i.user.name %></td>
                  <% order_item = order_items.first
                     product = order_item.product if order_item.present? %>
                  <td class="va-mid"><%= product.present? ? product.code : i.id %></td>
                  <td class="va-mid"><%= product.present? ? product.name : '' %></td>
                  <td class="va-mid">
                    <% if product.present? && product.picture.present? %>
                      <%= link_to product.picture.url, "data-lightbox": "roadtrip" do %>
                        <%= t('titles.view') %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="va-mid">
                    <% feature_ids = []
                       total_quantity = 0
                       total_quantity_lo = 0
                       sum_price = 0
                       total_price = ""
                       count = 0
                       name = ""
                       if order_item.present?
                         order_item.supply_features.each_with_index {|supply_feature, index|
                           feature_ids << supply_feature.id
                           total_quantity += supply_feature.quantity if supply_feature.quantity.present?
                           total_quantity_lo += supply_feature.quantity_lo if supply_feature.quantity_lo.present?
                           sum_price += supply_feature.sum_price if supply_feature.sum_price.present?
                           if index > 0
                             total_price += ", " %>
                        <% end
                           total_price += "#{i.get_currency supply_feature.price}" %>
                        <% count+=1
                           name += supply_feature.feature_item.name
                           name += ', '%>
                      <% }
                         end %>
                    <%= count %>
                    <i class="fa fa-info-circle blue" data-toggle="tooltip" title="<%= name %>"></i>
                  </td>
                  <td class="va-mid text-center"><%= i.exchange_i18n %></td>
                  <td class="va-mid text-center"><%= total_quantity > 0 ? "#{total_quantity} / #{ProductIncomeItem.by_product_feature_ids(product.present? ? product.id : 0, feature_ids).sum(:quantity)}" : '' %></td>
                  <td class="va-mid text-center"><%= sum_price %></td>
                  <td class="va-mid">
                    <% if order_item.present? %>
                      <%= i.is_basic? ? order_item.note : i.description %>
                    <% end %>
                  </td>
                  <td class="va-mid bg-1"><%= order_item.present? ? order_item.purchase_date : '' %></td>
                  <td class="va-mid text-center bg-1"><%= total_quantity_lo > 0 ? total_quantity_lo : '' %></td>
                  <td class="va-mid text-center bg-1"><%= order_item.present? ? (order_item.get_currency order_item.sum_price_lo) : '' %></td>
                  <td class="va-mid text-center bg-1"><%= order_item.present? ? order_item.note_lo : '' %></td>
                  <% date, costs, quantity, cargo, cost_text = order_item.present? ? order_item.shipping_er_feature : '' %>
                  <td class="va-mid text-center bg-2"><%= date %></td>
                  <td class="va-mid bg-2"><%= costs %>
                    <% if cost_text.present? %>
                      <i class="fa fa-info-circle blue" data-toggle="tooltip" title="<%= cost_text %>"></i>
                    <% end %>
                  </td>
                  <td class="va-mid text-center bg-2"><%= quantity %></td>
                  <td class="va-mid text-center bg-2"><%= cargo %></td>
                  <% date, costsUB, loaded, cargo, cost_text = order_item.present? ? order_item.shipping_ub_product : '' %>
                  <td class="va-mid text-center bg-3"><%= date %></td>
                  <td class="va-mid bg-3"><%= costsUB %>
                    <% if costsUB.present? %>
                      <i class="fa fa-info-circle blue" data-toggle="tooltip" title="<%= cost_text %>"></i>
                    <% end %>
                  </td>
                  <td class="va-mid text-center bg-3"><%= loaded %></td>
                  <td class="va-mid text-center bg-3"><%= cargo %></td>
                  <td class="va-mid text-center"><%= costs.to_f + costsUB.to_f %></td>
                  <% product_feature_ids = ProductIncomeItem.by_product_feature_ids(product.present? ? product.id : 0, feature_ids) %>
                  <td class="va-mid text-center"><%= product_feature_ids.present? ? product_feature_ids.first.product_income.income_date.strftime('%F') : '' %></td>
                </tr>
                <% order_items.each_with_index {|item, index|
                  if index > 0
                    product = item.product %>
                    <tr>
                      <td class="va-mid"><%= product.code %></td>
                      <td class="va-mid"><%= product.name %></td>
                      <td class="va-mid">
                        <% if product.picture.present? %>
                          <%= link_to product.picture.url, "data-lightbox": "roadtrip" do %>
                            <%= t('titles.view') %>
                          <% end %>
                        <% end %>
                      </td>
                      <td class="va-mid">
                        <% feature_ids = []
                           total_quantity = 0
                           total_quantity_lo = 0
                           total_price = ""
                           item.supply_features.each_with_index {|supply_feature, f_index|
                             feature_ids << supply_feature.id
                             total_quantity += supply_feature.quantity if supply_feature.quantity.present?
                             total_quantity_lo += supply_feature.quantity_lo if supply_feature.quantity_lo.present?
                             if f_index > 0
                               total_price += ", " %>,&nbsp;
                          <% end
                             total_price += "#{i.get_currency supply_feature.price}" %>
                          <%= supply_feature.feature_item.name %>
                        <% } %>
                      </td>
                      <td class="va-mid text-center"><%= i.exchange_i18n %></td>
                      <td class="va-mid text-center"><%= total_quantity > 0 ? "#{total_quantity} / #{ProductIncomeItem.by_product_feature_ids(product.id, feature_ids).sum(:quantity)}" : '' %></td>
                      <td class="va-mid text-center"><%= total_price %></td>
                      <td class="va-mid"><%= item.note %></td>
                      <td class="va-mid bg-1"><%= item.purchase_date %></td>
                      <td class="va-mid text-center bg-1"><%= total_quantity_lo > 0 ? total_quantity_lo : '' %></td>
                      <td class="va-mid text-center bg-1"><%= item.get_currency item.sum_price_lo %></td>
                      <td class="va-mid text-center bg-1"><%= item.note_lo %></td>
                      <% date, costs, received, cargo, cost_text = item.shipping_er_feature %>
                      <td class="va-mid text-center bg-2"><%= date %></td>
                      <td class="va-mid bg-2"><%= costs %>
                        <% if costs.present? %>
                          <i class="fa fa-info-circle blue" data-toggle="tooltip" title="<%= cost_text %>"></i>
                        <% end %>
                      </td>
                      <td class="va-mid text-center bg-2"><%= received %></td>
                      <td class="va-mid text-center bg-2"><%= cargo %></td>
                      <% date, costs, loaded, cargo, cost_text = item.shipping_ub_product %>
                      <td class="va-mid text-center bg-3"><%= date %></td>
                      <td class="va-mid bg-3"><%= costsUB %>
                        <% if costs.present? %>
                          <i class="fa fa-info-circle blue" data-toggle="tooltip" title="<%= cost_text %>"></i>
                        <% end %>
                      </td>
                      <td class="va-mid text-center bg-3"><%= loaded %></td>
                      <td class="va-mid text-center bg-3"><%= cargo %></td>
                      <% product_income_product = ProductIncomeProduct.by_product(product.id)
                                                                      .by_supply_order(item.product_supply_order_id) %>
                      <td class="va-mid text-center"><%= product_income_product.present? ? product_income_product.first.product_income.income_date.strftime('%F') : '' %></td>
                    </tr>
                  <% end } %>
              <% end %>
              <tr>
                <%
                  supply_order_ids = @product_supply_orders_x.pluck(:id)
                  order_item_ids = ProductSupplyOrderItem.by_supply_id(supply_order_ids).pluck(:id)
                  quantity = ProductSupplyFeature.by_order_item(order_item_ids).sum(:quantity)
                  quantity_lo = ProductIncomeItem.by_feature_ids(ProductSupplyFeature.by_order_item(order_item_ids).pluck(:id)).sum(:quantity)
                  sum_price = ProductSupplyFeature.by_order_item(order_item_ids).sum(:sum_price)
                  sum_price_lo = ProductSupplyFeature.by_order_item(order_item_ids).sum(:sum_price_lo)
                  quantity_log = ProductSupplyFeature.by_order_item(order_item_ids).sum(:quantity_lo)
                  cost_er = ShippingErProduct.by_order_id(supply_order_ids).sum(:cost)
                  quantity_er = ShippingErProduct.by_order_id(supply_order_ids).sum(:quantity)
                  cargo_er = ShippingErProduct.by_order_id(supply_order_ids).sum(:cargo)
                  cost_ub = ShippingUbProduct.by_order_id(supply_order_ids).sum(:cost)
                  quantity_ub = ShippingUbProduct.by_order_id(supply_order_ids).sum(:quantity)
                  cargo_ub = ShippingUbProduct.by_order_id(supply_order_ids).sum(:cargo)
                %>
                <td colspan="8"><strong>Нийт: <%=@product_supply_orders_x.count %></strong></td>
                <td class="va-mid text-center"><%="#{quantity}/#{quantity_lo}"  %></td>
                <td class="text-center"> <%= sum_price %></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"><%=quantity_log %></td>
                <td class="text-center"><%=sum_price_lo %></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"><%=cost_er %></td>
                <td class="text-center"><%=quantity_er %></td>
                <td class="text-center"><%=cargo_er %></td>
                <td class="text-center"></td>
                <td class="text-center"><%=cost_ub %></td>
                <td class="text-center"><%=quantity_ub %></td>
                <td class="text-center"><%=cargo_ub %></td>
                <td class="text-center"><%= cost_er + cost_ub %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <%#= paginate @product_supply_orders %>
      </div>
    </div>
  </section>
</div>
<%= render 'shared/date-range', search_field_id: 'search-date', start_id: 'by_start', finish_id: 'by_end' %>
<style>

    .my-own-style {
        margin-left: 50px;
        margin-left: 50px;
        top: 7%;
    }
    table{
        width: 100%;
        height: 100%;
        position: relative;
    }

    th {
        position: sticky;
        top: 0px;
        background: white;
        border: #F7F7F7;
    }

    #fixed_div {
        border: 1px solid #ddd;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
    }

    .bg-1 {
        font-weight: bold;
        color: blue;
    }

    .bg-2 {
        font-weight: bold;
        color: orangered;
    }

    .bg-3 {
        font-weight: bold;
        color: darkgreen;
    }
</style>