<div class="content-wrapper index">

  <%= get_search_recursive(@parent, "category") %>

  <section class="content-header align-left with-breadcrumbs">
    <h4> (<%= t('titles.total') %>：<%= @categories.total_count %>)</h4>
  </section>
  <% is_manage = can? :manage, Product %>
  <div class="action-buttons index">
    <%= form_with url: users_product_categorys_path, method: "get", class: 'form-horizontal', local: true do |f| %>
      <%= hidden_field_tag :parent_id, @parent.nil? ? nil : @parent.id %>
      <% if is_manage %>
        <%= link_to t('controls.button.create'), new_users_product_category_path(parent_id: @parent.nil? ? nil : @parent.id), class: 'btn btn-warning' %>
      <% end %>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive no-padding">

            <%= render 'layouts/flash_message' %>

            <table class="table table-hover">
              <tr>
                <th class="text-center"><%= t('activerecord.attributes.product_category.code') %></th>
                <th class="text-center"><%= t('activerecord.attributes.product_category.name') %></th>
                <th class="text-center"><%= t('activerecord.attributes.product_category.parent') %></th>
                <th class="text-center"><%= t('activerecord.attributes.product_category.children') %></th>
                <% if is_manage %>
                  <th></th>
                <% end %>
              </tr>
              <% @categories.each do |c| %>
                <tr>
                  <td class="va-mid"><%= link_to c.code, users_product_categorys_path(parent_id: c.id) %></td>
                  <td class="va-mid"><%= c.name %></td>
                  <td class="va-mid"><%= c.parent.presence ? c.parent.name : "" %></td>
                  <td class="text-center va-mid"><%= c.children.presence ? c.children.count : "0" %></td>
                  <% if is_manage %>
                    <td>
                      <div class="btn-group">
                        <%= link_to edit_users_product_category_path(c), class: 'no-underline' do %>
                          <%= button_tag t('controls.button.edit'), class: "btn-sm btn-info" %>
                        <% end %>

                        <%= link_to users_product_category_path(c), class: 'no-underline', :method => :delete, data: {confirm: t('are_you_sure')} do %>
                          <%= button_tag t('controls.button.delete'), class: "btn-sm btn-danger" %>
                        <% end %>
                      </div>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        </div>

        <%= paginate @categories %>
      </div>
    </div>
  </section>
</div>