<label class="control-label" for="new_location_id">&nbsp;</label>
<div id="new_location_id">
  <button type="button" class="btn btn-warning btn-sm loc_btn" b_type="new" style="height: 28px!important;width: 25px!important;padding: 6px">
    <i class="fa fa-plus" style="color: white"></i></button>
  <button type="button" class="btn btn-primary btn-sm loc_btn" b_type="add" style="height: 28px!important;width: 25px!important;padding: 6px">
    <i class="fa fa-pencil" style="color: white"></i></button>
</div>

<div class="modal fade" id="location-modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><%= t('activerecord.models.location') %> <span id="modal-action-title"></span></h4>
      </div>
      <div class="box box-info" id="location-body"></div>
    </div>
  </div>
</div>
<script>
    function call_khoroo(select) {
        let id = select.val();
        if (id !== "" && id !== undefined && id !== null) {
            Rails.ajax({
                url: "<%= search_khoroos_operators_product_sales_path %>",
                type: "POST",
                data: "id=" + id,
                error: function (data) {
                    console.log(data);
                }
            });
        }
    }

    function call_location(select) {
        let id = select.val();
        if (id !== "" && id !== undefined && id !== null) {
            Rails.ajax({
                url: "<%= get_last_location_operators_product_sales_path %>",
                type: "POST",
                data: "khoroo_id=" + id,
                success: function (data) {
                    locatoion_new_refresh_marker(data.latitude, data.longitude);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    }

    var map = null, marker, latitude, longitude, selected_location_id = 0;

    function initMap() {
        latitude = document.getElementById('latitude').value;
        longitude = document.getElementById('longitude').value;

        let myCoords = new google.maps.LatLng(latitude, longitude);
        let mapOptions = {
            center: myCoords,
            zoom: 17,
            mapTypeId: 'hybrid',
            output: 'embed',
            mapTypeControl: false,
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        marker = new google.maps.Marker({
            position: myCoords,
            animation: google.maps.Animation.DROP,
            map: map,
            draggable: true
        });

        // when marker is dragged update input values
        marker.addListener('drag', function () {
            let latlng = marker.getPosition();
            let newlat = (Math.round(latlng.lat() * 1000000)) / 1000000;
            let newlng = (Math.round(latlng.lng() * 1000000)) / 1000000;
            latitude = newlat;
            longitude = newlng;
        });
        // When drag ends, center (pan) the map on the marker position
        marker.addListener('dragend', function () {
            map.panTo(marker.getPosition());
        });
    }

    // refresh marker position and recenter map on marker
    function locatoion_new_refresh_marker(lat, lng) {
        let myCoords = new google.maps.LatLng(lat, lng);
        marker.setPosition(myCoords);
        map.setCenter(marker.getPosition());
    }

    function set_location_full_name() {
        var n = "";
        n = get_name_text(n, $("#location_micro_region").val());
        n = get_name_text(n, $("#location_town").val());
        n = get_name_text(n, $("#location_street").val());
        n = get_name_text(n, $("#location_apartment").val());
        n = get_name_text(n, $("#location_entrance").val());
        $("#location_name").val(n);
    }

    function set_map_marker(id) {
        Rails.ajax({
            url: "<%= get_location_operators_locations_path %>",
            type: "POST",
            data: "id=" + id,
            success: function (data) {
                let myCoords = new google.maps.LatLng(data.latitude, data.longitude);
                marker.setPosition(myCoords);
                map.setCenter(marker.getPosition());
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    $(document).ready(function () {
        $('button.loc_btn').on('click', function () {
            let b_type = $(this).attr('b_type');
            $("#location-modal-lg").modal('show');
            $('#location-body').html("<div class='text-center m-t-20 w-100'><img src='/images/loading.gif'></div>");
            if (b_type === "new") {
                $('#modal-action-title').text('нэмэх')
            } else {
                $('#modal-action-title').text('засах')
            }
            selected_location_id = (b_type === "new" ? 0 : $('#product_sale_location_id').val())
            Rails.ajax({
                url: "<%= edit_location_operators_product_sales_path %>",
                type: "POST",
                data: "id=" + selected_location_id,
                success: function () {
                    $('#location-body .selectpicker').selectpicker("refresh");
                    initMap();
                }
            });
        });
    });

    function update_location() {
        let district_id = $('#location_loc_district_id').val();
        let khoroo_id = $('#location_loc_khoroo_id').val();
        let loc_name = $('#location_name').val();
        let loc_name_la = $('#location_name_la').val();
        let station_id = $('#location_station_id').val();

        if (district_id.length === 0) {
            alert("<%= t('activerecord.models.loc_district')+t('controls.select.alert')%>");
        } else if (khoroo_id.length === 0) {
            alert("<%= t('activerecord.models.loc_khoroo')+t('controls.select.alert')%>");
        } else if (loc_name.length === 0) {
            alert("<%= t('activerecord.attributes.location.name')+t('activerecord.errors.messages.blank')%>");
        } else if (loc_name_la.length === 0) {
            alert("<%= t('activerecord.attributes.location.name_la')+t('activerecord.errors.messages.blank')%>");
        } else {
            let btn = $(this);
            btn.attr('disabled', 'disabled');
            Rails.ajax({
                url: "<%= update_location_operators_product_sales_path %>",
                type: "POST",
                data: "id=" + selected_location_id + "&loc_district_id=" + district_id + "&loc_khoroo_id=" + khoroo_id +
                    "&micro_region=" + $('#location_micro_region').val() +
                    "&town=" + $('#location_town').val() +
                    "&street=" + $('#location_street').val() +
                    "&apartment=" + $('#location_apartment').val() +
                    "&entrance=" + $('#location_entrance').val() +
                    "&station_id=" + station_id +
                    "&name=" + loc_name + "&name_la=" + loc_name_la + "&latitude=" + latitude + "&longitude=" + longitude,
                success: function (data) {
                    btn.removeAttr('disabled');
                    if (data.status === "ok") {
                        if(data.is_country){
                            $('#product_sale_country').iCheck('check');
                            $('#product_sale_money_account').prop('checked', true);
                            $('div#paid_div').removeClass('none');
                        }
                        $("#location-modal-lg").modal('hide');
                        selected_locatoion_refresh_marker(data.latitude, data.longitude);
                        $('#product_sale_location_id').html("<option selected='selected' value=" + data.id + ">" + data.name + "</option>").selectpicker("refresh");
                    } else {
                        alert(data.error)
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    }

</script>
<%#= button_tag "設定を保存", class: "btn btn-warning", id: 'compare-plan-form-submit', data: { disable_with: "<i class='fa fa-refresh fa-spin'></i> 設定を保存..."} %>