<div class="modal fade" id="prev-sales-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Өмнөх 3 борлуулалт</h4>
      </div>
      <div class="modal-body">
        <div class="box box-info">
          <%= form_body do %>
            <div class="row">
              <table class="table table-hover table-bordered">
                <tr>
                  <th><%= t('activerecord.attributes.product_sale.product_sale_item') %></th>
                  <th><%= t('activerecord.attributes.product_sale.phone') %></th>
                  <th><%= t('activerecord.attributes.product_sale.delivery_end') %></th>
                  <th><%= t('activerecord.attributes.product_sale.location_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale.loc_note') %></th>
                  <th><%= t('activerecord.attributes.product_sale.sum_price') %></th>
                  <th><%= t('activerecord.attributes.product_sale.status_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale.created_operator_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale.approved_operator_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale.approved_date') %></th>
                </tr>
                <tbody id="prev-sales-data"></tbody>
              </table>
              <div class="col-md-12" id="prev-sales-data"></div>
            </div>
            <div class="modal-footer text-right">
              <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('controls.button.close') %></button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #prev-sales-modal table th,
  #prev-sales-modal table td {
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 4px 6px !important;
  }
</style>
<script>
    $(function () {
        $('input#phone_number').keyup(function () {
            var phone = $(this).val();
            if (!isNaN(parseInt(phone)) && phone.length === 8) {
                Rails.ajax({
                    url: "<%= get_prev_sales_operators_product_sales_path %>",
                    type: "POST",
                    data: "phone=" + phone
                });
            }
        });
    });
</script>