<tr class="nested-fields">
  <th class="image va-mid">
    <%= product_img_web_link(f.object) %>
  </th>
  <td class="va-mid">
    <%= field_errors f.object, :product_id %>
    <%= f.collection_select :product_id, Product.search_by_id(f.object.product_id), :id, :full_name,
                            {:prompt => t('controls.select.none')},
                            {class: 'form-control selectpicker select_product', onchange: 'func_change_product(this)', "data-live-search": true} %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :feature_item_id %>
    <%= f.select :feature_item_id, ProductFeatureItem.search(f.object.product_id.presence || nil).collect {|p| [p.name, p.id, {:'data-subtext' => p.balance, product: p.product_id}]},
                 {:prompt => t('controls.select.none')},
                 {class: 'form-control selectpicker feature_item', onchange: 'func_change_feature(this)', "data-live-search": true} %>
  </td>
  <td class="va-mid text-center">
    <%= field_errors f.object, :to_see %>
    <%= f.check_box :to_see, oninput: "calc_total_price()" %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :quantity %>
    <%= f.number_field :quantity, class: 'form-control field item_quantity', oninput: "calc_total_price()", placeholder: t('activerecord.attributes.product_sale_item.quantity') %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :price %>
    <%= f.hidden_field :price, class: 'item_price', price: f.object.p_price, p_6_8: f.object.p_6_8, p_9_: f.object.p_9_ %>
    <%= text_field_tag :price, f.object.price.present? ? get_currency_mn(f.object.price) : nil, {class: 'form-control field item_price_show', readonly: true, placeholder: t('activerecord.attributes.product_sale_item.price')} %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :p_discount %>
    <%= f.number_field :p_discount, class: 'form-control field item_p_discount', oninput: "calc_total_price()", placeholder: t('activerecord.attributes.product_sale_item.p_discount') %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :discount %>
    <%= f.number_field :discount, class: 'form-control field item_discount', oninput: "calc_total_price()", placeholder: '%' %>
  </td>
  <td class="va-mid">
    <%= f.hidden_field :sum_price, class: 'item_sum' %>
    <%= text_field_tag :item_sum, f.object.sum_price.present? ? get_currency_mn(f.object.sum_price) : nil, {class: 'form-control field item_sum_show', readonly: true, placeholder: t('activerecord.attributes.product_sale_item.sum_price')} %>
  </td>
  <td class="va-mid">
    <%= f.text_field :remainder, class: 'form-control field remainder', value: f.object.remainder, readonly: true, placeholder: t('activerecord.attributes.product_sale_item.remainder') %>
  </td>
  <% if @is_editor %>
    <td class="va-mid is_edit" style="padding: 0!important;">
      <i class="fa fa fa-fw fa-minus-circle" onclick="delete_sale_item($(this), <%= f.object.persisted? ? f.object.id : 0 %>)"></i>
    </td>
    <td class="va-mid is_edit" style="padding: 0 0 0 2px!important;">
      <i class="fa fa-save" onclick="update_sale_item($(this), <%= f.object.persisted? ? f.object.id : 0 %>)"></i></td>
  <% else %>
    <td class="va-mid remove">
      <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
        <%= nested_remove_btn %>
      <% end %>
    </td>
  <% end %>
</tr>