<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<div class="content-wrapper">

  <div class="col-md-12 m-t-10 m-b-10">
    <%= form_with url: operators_product_sales_path, method: "get", class: "", local: true do |f| %>
      <div class="col-md-2 search">
        <div id="search-date" class="form-control search">
          <i class="fa fa-calendar fa-lg p-r-0"></i>
          <span><%= t("filters.by_date") %>...</span>
          <%= f.hidden_field :start, value: @start %>
          <%= f.hidden_field :finish, value: @finish %>
        </div>
      </div>
      <div class="col-md-2 search">
        <%= text_field_tag :product_name, @product_name, {class: 'form-control', placeholder: t('filters.by_product')} %>
      </div>

      <div class="col-md-2 search">
        <%= text_field_tag :phone, @phone, {class: 'form-control', placeholder: t('filters.by_phone')} %>
      </div>
      <div class="col-md-2 search">
        <%= f.collection_select :status_id, ProductSaleStatus.search(nil, nil), :id, :name,
                                {:selected => @status_id, :include_blank => t('filters.status')},
                                {class: 'form-control selectpicker', "data-live-search": "true", "data-container": ".box-info"} %>

      </div>

      <div class="col-md-2 search">
        <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn pull-left' %>
      </div>
      <div class="col-md-2 search text-right"></div>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box" id="div_list">
          <div class="box-body table-responsive no-padding table-search">
            <%= render 'layouts/flash_message' %>
            <table class="table table-hover table-bordered">
              <tr>
                <th><%= t('activerecord.attributes.product_sale.product_sale_item') %></th>
                <th><%= t('activerecord.attributes.product_sale.phone') %></th>
                <th><%= t('activerecord.attributes.product_sale.delivery_end') %></th>
                <th><%= t('activerecord.attributes.product_sale.location_id') %></th>
                <th><%= t('activerecord.attributes.product_sale.loc_note') %></th>
                <th><%= t('activerecord.attributes.product_sale.sum_price') %></th>
                <th><%= t('activerecord.attributes.product_sale.status_id') %></th>
                <th><%= t('activerecord.attributes.product_sale.created_operator_id') %></th>
                <th><%= t('activerecord.attributes.product_sale.approved_date') %></th>
              </tr>
              <% @product_sales.each do |p| %>
                <tr>
                  <td class="va-mid text-center"><%= link_to p.product_sale_items.count, operators_product_sale_path(p) %></td>
                  <td class="va-mid"><%= link_to p.phone, operators_product_sale_path(p)  %></td>
                  <td class="va-mid" style="white-space: nowrap"><%= p.delivery_time.html_safe %></td>
                  <td class="va-mid"><%= p.location.full_name %>
                    <% if p.country.present? && p.country %>
                      <i class="fa fa-bus" style='font-size: 16px'></i>
                    <% end %></td>
                  <td class="va-mid"><%= p.loc_note %></td>
                  <td class="va-mid"><%= get_currency_mn(p.sum_price) %></td>
                  <td class="va-mid"><%= p.status.name_with_parent%></td>
                  <td class="va-mid"><%= p.created_operator.present? ? p.created_operator.name : "" %></td>
                  <td class="va-mid"><%= p.approved_date.present? ? p.approved_date.strftime('%F %R') : "" %></td>
                  <td style="display: none">
                    <div class="btn-group">
                      <%= link_to edit_operators_product_sale_path(p), class: 'no-underline' do %>
                        <%= button_tag t('controls.button.edit'), class: "btn-sm btn-info m-r-10" %>
                      <% end %>
                      <%#= link_to users_product_income_path(p), class: 'no-underline', :method => :delete, data: {confirm: t('are_you_sure')} do %>
                      <%#= button_tag t('controls.button.delete'), class: "btn-sm btn-danger" %>
                      <%# end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>

        <%= paginate @product_sales %>
      </div>
    </div>
  </section>
</div>
<%= render 'shared/date-range', search_field_id: 'search-date', start_id: 'start', finish_id: 'finish' %>