<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "show" %>
<% end %>
<% provide :head_tags do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&libraries=places"></script>
<% end %>
<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.product') %> </h1>
  </section>

  <div class="action-buttons">
    <%= link_to t('controls.button.edit'), edit_operators_product_sale_path(@product_sale), class: 'btn btn-info' %>
    <%= link_to t('controls.button.delete'), operators_product_sale_path(@product_sale), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
    <%= link_to t('titles.back_to_list'), operators_product_sales_path(page: cookies[:page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6 field_div">
                  <b><%= t('activerecord.attributes.product_sale.phone') %>:</b> <%= @product_sale.phone %>
                </div>
                <div class="col-md-6 field_div">
                  <b><%= t('activerecord.attributes.product_sale.delivery_end') %>
                    :</b> <%= @product_sale.delivery_time.html_safe %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 field_div">
                  <b><%= t('activerecord.attributes.product_sale.location_id') %>
                    :</b> <%= @product_sale.location.full_name %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 field_div">
                  <b><%= t('activerecord.attributes.product_sale.loc_note') %>:</b> <%= @product_sale.loc_note %>
                </div>
                <div class="col-md-6 field_div">
                  <b><%= t('activerecord.attributes.product_sale.building_code') %>
                    :</b> <%= @product_sale.building_code %>
                </div>
              </div>
              <%= form_with model: @product_sale, url: update_status_operators_product_sales_path(id: @product_sale.id), method: :patch, local: true, :html => {class: 'form-horizontal'} do |f| %>
                <%= f.hidden_field :status_user_type %>
                <div class="row">
                  <div class="col-md-6 field_div">
                    <%= f.label :main_status_id, class: 'control-label' %>
                    <div class="<%= get_error_class(@product_sale, :main_status_id) %>">
                      <%= field_errors(@product_sale, :main_status) %>
                      <%= f.collection_select :main_status_id, ProductSaleStatus.search(nil, @product_sale.status_user_type), :id, :name,
                                              {:prompt => t('controls.select.none')},
                                              {class: 'form-control selectpicker', onchange: 'callChildren(this)', "data-live-search": "true"} %>
                    </div>
                  </div>
                  <div class="col-md-6 field_div">
                    <label class="control-label" for="product_sale_status_id" style="margin-bottom: 13px"></label>
                    <div id="status" class="<%= get_error_class(@product_sale, :status_id) %>">
                      <%= field_errors(@product_sale, :status_id) %>
                      <% if (@product_sale.status.present? && @product_sale.status.id != @product_sale.main_status.id) ||
                          (@product_sale.main_status.present? && @product_sale.main_status.get_status_childs(@product_sale.status_user_type).count > 0) %>
                        <%= f.collection_select :status_id, ProductSaleStatus.search(@product_sale.main_status_id, @product_sale.status_user_type), :id, :name,
                                                {:prompt => t('controls.select.none')},
                                                {class: 'form-control selectpicker', id: 'status_id'} %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 field_div">
                    <%= f.label :status_note, class: 'control-label' %>
                    <div class="<%= get_error_class(@product_sale, :status_note) %>">
                      <%= field_errors(@product_sale, :status_note) %>
                      <%= f.text_area :status_note, class: 'form-control', placeholder: t('activerecord.attributes.product_sale.status_note') %>
                    </div>
                  </div>
                  <div class="col-md-4 field_div">
                    <%= f.submit t('controls.button.update'), class: 'btn btn-warning', style: 'margin-top: 25px' %>
                  </div>
                </div>
              <% end %>

            </div>
            <div class="col-md-4" style="padding: 0">
              <div id="selected_map" style="position:absolute;right: 0;width:100%;background-color: lightgrey;height: 242px"></div>
            </div>
          </div>
        </div>

        <% if @product_sale.product_sale_items.present? %>
          <div class="col-md-12 group_div m-t-10">
            <div class="col-md-12 field_div">
              <b><%= t('activerecord.attributes.product_sale.product_sale_items') %></b>
            </div>

            <div style="clear: both"></div>
            <div class="col-md-4 field_div">
              <div class="div_input">
                <b><%= t('activerecord.attributes.product_sale.sum_price') %>
                  :</b> <%= get_currency_mn(@product_sale.sum_price) %>
              </div>
            </div>
            <div class="col-md-4 field_div">
              <div class="div_input">
                <b><%= t('activerecord.attributes.product_sale.bonus') %>
                  :</b> <%= get_f(@product_sale.bonus) %>
              </div>
            </div>
            <div class="col-md-4 field_div">
              <div class="div_input">
                <b><%= t('activerecord.attributes.product_sale.money') %>:</b> <%= @product_sale.money_i18n %>
                <% if @product_sale.paid.present?%>
                , <b><%= t('activerecord.attributes.product_sale.paid') %>:</b> <%= get_currency_mn(@product_sale.paid) %>
                <% end %>
              </div>
            </div>
            <div style="clear: both"></div>
            <div class="col-md-12 field_div">
              <table style="background: white;" class="table table-bordered">
                <thead>
                <tr>
                  <th style="width: 100px"><%= t('activerecord.attributes.product_sale_item.feature_item_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.product_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.feature_item_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.to_see') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.quantity') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.price') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.sum_price') %></th>
                </tr>
                </thead>
                <tbody>
                <% @product_sale.product_sale_items.each do |i| %>
                  <tr>
                    <td>
                      <% feature_item = i.feature_item
                        if feature_item.img.present? %>
                        <%= link_to feature_item.img.url, "data-lightbox": "roadtrip" do %>
                          <%= image_tag feature_item.img.url(:tumb), class: 'tumb' %>
                        <% end %>
                      <% else %>
                        <%= image_tag 'no-image.png', class: 'tumb' %>
                      <% end %>
                    </td>
                    <td class="va-mid"><%= i.product.name_with_code %></td>
                    <td class="va-mid"><%= i.feature_item.name %></td>
                    <td class="va-mid"><% if i.to_see %> <i class="fa fa-check"></i> <% end %></td>
                    <td class="va-mid"><%= i.quantity %></td>
                    <td class="va-mid"><%= get_currency_mn(i.price) %></td>
                    <td class="va-mid"><%= get_currency_mn(i.sum_price) %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>


        <% if @product_sale.product_sale_status_logs.present? %>
          <div class="col-md-12 group_div m-t-20">
            <div class="col-md-12 field_div">
              <b><%= t('activerecord.attributes.product_sale.product_sale_status_logs') %></b>
            </div>
            <div style="clear: both"></div>
            <div class="col-md-12 field_div">
              <table class="table table-bordered" style="background: white;">
                <thead>
                <tr>
                  <th><%= t('activerecord.attributes.product_sale_status_log.created_at') %></th>
                  <th><%= t('activerecord.attributes.product_sale_status_log.operator_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_status_log.status_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_status_log.note') %></th>
                </tr>
                </thead>
                <tbody>
                <% @product_sale.product_sale_status_logs.each do |p| %>
                  <tr>
                    <td class="va-mid"><%= p.created_at.strftime('%F %R') %></td>
                    <td class="va-mid"><%= p.operator.operator_name %></td>
                    <td class="va-mid"><%= p.status.present? ? p.status.name_with_parent : "Сонгоогүй" %></td>
                    <td class="va-mid"><%= p.note %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        initSelectedMap();
    });

    function callChildren(select) {
        let val = null;
        if (select !== undefined && select !== null) {
            val = $(select).val();
            if (valid_id(val)) {

                Rails.ajax({
                    url: "<%= get_sub_status_operators_product_sales_path %>",
                    type: "PATCH",
                    data: "parent_id=" + val + "&status_user_type=<%= @product_sale.status_user_type %>",
                    success: function (data) {
                        let subs = data.subs;
                        if (subs !== undefined && subs.length > 0) {
                            let divSelect =
                                "<select name='product_sale[status_id]' id=\"status_id\" class='form-control'>" +
                                "<option value=''>Сонгох</option>";

                            for (var i = 0; i < subs.length; i++) {
                                divSelect += '<option value="' + subs[i]["id"] + '">' + subs[i]["name"] + '</option>';
                            }
                            divSelect += "</select>";

                            $("#status").html(divSelect);

                            $("#status_id").selectpicker("refresh");
                        } else {
                            $("#status").html("");
                        }

                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            } // val is undefined chek
        }// select is undefined check
    }

    var selected_map = null, selected_marker;

    function initSelectedMap() {
        let myCoords = new google.maps.LatLng(<%= @product_sale.location.latitude %>, <%= @product_sale.location.longitude %>);
        let mapOptions = {
            center: myCoords,
            zoom: 15,
            mapTypeId: 'hybrid',
            output: 'embed',
            streetViewControl: false,
            mapTypeControl: false,
        };
        selected_map = new google.maps.Map(document.getElementById('selected_map'), mapOptions);
        selected_marker = new google.maps.Marker({
            position: myCoords,
            animation: google.maps.Animation.DROP,
            map: selected_map
        });
    }

</script>