<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "show" %>
<% end %>
<% provide :head_tags do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&libraries=places"></script>
<% end %>
<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.product') %> </h1>
  </section>

  <div class="action-buttons">
    <% has_child = @product_sale.child.present? %>
    <% if has_child %>
      <%= link_to @product_sale.status.name + ' хийсэн бараа', operators_product_sale_path(@product_sale.child), class: 'btn btn-info' %>
    <% else %>
      <%= link_to t('controls.button.edit'), edit_operators_product_sale_path(@product_sale), class: 'btn btn-info' %>
      <%= link_to t('controls.button.delete'), operators_product_sale_path(@product_sale), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
    <% end %>
    <%= link_to t('titles.back_to_list'), operators_product_sales_path(page: cookies[:page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6 field_div">
                  <b><%= t('activerecord.attributes.product_sale.phone') %>:</b> <%= @product_sale.phone %>
                </div>
                <div class="col-md-6 field_div">
                  <b><%= t('activerecord.attributes.product_sale.delivery_end') %>
                    :</b> <%= @product_sale.delivery_time.html_safe %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 field_div">
                  <b><%= t('activerecord.attributes.product_sale.location_id') %>
                    :</b> <%= @product_sale.location.full_name %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 field_div">
                  <b><%= t('activerecord.attributes.product_sale.country') %>:</b> <%= yes_no @product_sale.country %>
                </div>
                <div class="col-md-6 field_div">
                  <b><%= t('activerecord.attributes.product_sale.loc_note') %>:</b> <%= @product_sale.loc_note %>
                </div>
                <div class="col-md-3 field_div">
                  <b><%= t('activerecord.attributes.product_sale.building_code') %>
                    :</b> <%= @product_sale.building_code %>
                </div>
              </div>
              <%= form_with model: @product_sale, url: update_status_operators_product_sales_path(id: @product_sale.id), method: :patch, local: true, :html => {class: 'form-horizontal'} do |f| %>
                <div class="row">
                  <div class="col-md-6 field_div">
                    <%= f.label :status_id, class: 'control-label' %>
                    <div class="<%= get_error_class(@product_sale, :status_id) %>">
                      <%= f.hidden_field :status_id %>
                      <%= field_errors(@product_sale, :status_id) %>
                      <%= f.collection_select :status_m, ProductSaleStatus.by_previous.by_type('oper', @product_sale.status_m), :id, :name,
                                              {:include_blank => t('controls.select.none')}, {class: 'form-control selectpicker', onchange: 'call_next_status(this)', disabled: has_child} %>
                    </div>
                  </div>
                  <div id="div_status_sub" class="col-md-6 field_div <%= @product_sale.status_sub.present? ? '' : 'none' %>">
                    <label class="control-label" for="product_sale_status_id" style="margin-bottom: 15px"></label>
                    <div id="status" class="<%= get_error_class(@product_sale, :status_sub) %>">
                      <%= field_errors(@product_sale, :status_sub) %>
                      <%= f.collection_select :status_sub, ProductSaleStatus.by_previous(@product_sale.status_m).by_type('oper'), :id, :name,
                                              {:include_blank => t('controls.select.none')}, {class: 'form-control selectpicker', onchange: 'call_set_status(this)', disabled: has_child} %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 field_div">
                    <%= f.label :status_note, class: 'control-label' %>
                    <div class="<%= get_error_class(@product_sale, :status_note) %>">
                      <%= field_errors(@product_sale, :status_note) %>
                      <%= f.text_area :status_note, class: 'form-control', placeholder: t('activerecord.attributes.product_sale.status_note'), readonly: has_child %>
                    </div>
                  </div>
                  <div class="col-md-4 field_div">
                    <% unless has_child %>
                      <%= f.submit t('controls.button.update'), class: 'btn btn-warning', style: 'margin-top: 25px' %>
                    <% end %>
                  </div>
                </div>
              <% end %>

            </div>
            <div class="col-md-4" style="padding: 0">
              <div id="selected_map" style="position:absolute;right: 0;width:100%;background-color: lightgrey;height: 242px"></div>
            </div>
          </div>
        </div>

        <% if @product_sale.product_sale_items.present? %>
          <div class="col-md-12 group_div m-t-10">
            <div class="col-md-12 field_div">
              <b><%= t('activerecord.attributes.product_sale.product_sale_items') %></b>
            </div>

            <div style="clear: both"></div>
            <div class="col-md-4 field_div">
              <div class="div_input">
                <b><%= t('activerecord.attributes.product_sale.sum_price') %>
                  :</b> <%= get_currency_mn(@product_sale.sum_price) %>
              </div>
            </div>
            <div class="col-md-4 field_div">
              <div class="div_input">
                <b><%= t('activerecord.attributes.product_sale.bonus') %>
                  :</b> <%= get_f(@product_sale.bonus) %>
              </div>
            </div>
            <div class="col-md-4 field_div">
              <div class="div_input">
                <b><%= t('activerecord.attributes.product_sale.money') %>:</b> <%= @product_sale.money_i18n %>
                <% if @product_sale.paid.present? %>
                  , <b><%= t('activerecord.attributes.product_sale.paid') %>
                :</b> <%= get_currency_mn(@product_sale.paid) %>
                <% end %>
              </div>
            </div>
            <div style="clear: both"></div>
            <div class="col-md-12 field_div">
              <table style="background: white;" class="table table-bordered">
                <thead>
                <tr>
                  <th style="width: 100px"><%= t('activerecord.attributes.product_feature_item.image') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.product_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.feature_item_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.to_see') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.quantity') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.price') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.p_discount') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.discount') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.sum_price') %></th>
                </tr>
                </thead>
                <tbody>
                <% @product_sale.product_sale_items.each do |i| %>
                  <tr>
                    <td class="va-mid">
                      <%= product_img_web_link(i) %>
                    </td>
                    <td class="va-mid"><%= i.product.name_with_code %></td>
                    <td class="va-mid"><%= i.feature_item.name %></td>
                    <td class="va-mid">
                      <% if i.to_see %> <i class="fa fa-check"></i>
                      <% end %></td>
                    <td class="va-mid"><%= i.quantity %></td>
                    <td class="va-mid"><%= get_currency_mn(i.price) %></td>
                    <td class="va-mid"><%= get_currency_mn(i.p_discount) %></td>
                    <td class="va-mid"><%= i.discount %></td>
                    <td class="va-mid"><%= get_currency_mn(i.sum_price) %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>

        <% if @product_sale.product_sale_exchanges.present? %>
          <div class="col-md-12 group_div m-t-20">
            <div class="col-md-12 field_div">
              <b><%= t('activerecord.attributes.product_sale.product_sale_exchanges') %></b>
            </div>
            <div style="clear: both"></div>
            <div class="col-md-12 field_div">
              <table style="background: white;" class="table table-bordered">
                <thead>
                <tr>
                  <th colspan="6">Байсан бараа</th>
                  <th colspan="5">Сольсон бараа</th>
                </tr>
                <tr>
                  <th style="width: 100px"><%= t('activerecord.attributes.product_feature_item.image') %></th>
                  <th><%= t('activerecord.attributes.product_sale_exchange.e_type') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.product_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.feature_item_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.quantity') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.price') %></th>
                  <th style="width: 100px"><%= t('activerecord.attributes.product_feature_item.image') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.product_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.feature_item_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.quantity') %></th>
                  <th><%= t('activerecord.attributes.product_sale_item.price') %></th>
                  <th><%= t('activerecord.attributes.product_sale_exchange.operator') %></th>
                  <th><%= t('activerecord.attributes.product_sale_exchange.created_at') %></th>
                </tr>
                </thead>
                <tbody>
                <% @product_sale.product_sale_exchanges.by_exchange_nil.each do |e| %>
                  <tr>
                    <td class="va-mid"><%= product_img_web_link(e) %></td>
                    <td class="va-mid"><%= e.e_type_i18n %></td>
                    <td class="va-mid"><%= e.product.name_with_code %></td>
                    <td class="va-mid"><%= e.feature_item.name %></td>
                    <td class="va-mid"><%= e.quantity %></td>
                    <td class="va-mid"><%= get_currency_mn(e.price) %></td>
                    <% if e.to_exchange.present?
                         t = e.to_exchange %>
                      <td class="va-mid"><%= product_img_web_link(t) %></td>
                      <td class="va-mid"><%= t.product.name_with_code %></td>
                      <td class="va-mid"><%= t.feature_item.name %></td>
                      <td class="va-mid"><%= t.quantity %></td>
                      <td class="va-mid"><%= get_currency_mn(t.price) %></td>
                    <% else %>
                      <td colspan="5"></td>
                    <% end %>
                    <td class="va-mid"><%= e.operator.name %></td>
                    <td class="va-mid"><%= e.created_at.strftime('%F %R') %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
        <% if @product_sale.product_sale_status_logs.present? %>
          <div class="col-md-12 group_div m-t-20">
            <div class="col-md-12 field_div">
              <b><%= t('activerecord.attributes.product_sale.product_sale_status_logs') %></b>
            </div>
            <div style="clear: both"></div>
            <div class="col-md-12 field_div">
              <table class="table table-bordered" style="background: white;">
                <thead>
                <tr>
                  <th><%= t('activerecord.attributes.product_sale_status_log.created_at') %></th>
                  <th><%= t('activerecord.attributes.product_sale_status_log.operator_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_status_log.status_id') %></th>
                  <th><%= t('activerecord.attributes.product_sale_status_log.note') %></th>
                </tr>
                </thead>
                <tbody>
                <% @product_sale.product_sale_status_logs.each do |p| %>
                  <tr>
                    <td class="va-mid"><%= p.created_at.strftime('%F %R') %></td>
                    <td class="va-mid"><%= p.operator.operator_name %></td>
                    <td class="va-mid"><%= p.status.present? ? p.status_name : "Сонгоогүй" %></td>
                    <td class="va-mid"><%= p.note %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
<%= render 'shared/product_status_js', select_id: 'product_sale_status_id' %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        initSelectedMap();
    });

    var selected_map = null, selected_marker;

    function initSelectedMap() {
        let myCoords = new google.maps.LatLng(<%= @product_sale.location.latitude %>, <%= @product_sale.location.longitude %>);
        let mapOptions = {
            center: myCoords,
            zoom: 15,
            mapTypeId: 'hybrid',
            output: 'embed',
            streetViewControl: false,
            mapTypeControl: false,
        };
        selected_map = new google.maps.Map(document.getElementById('selected_map'), mapOptions);
        selected_marker = new google.maps.Marker({
            position: myCoords,
            animation: google.maps.Animation.DROP,
            map: selected_map
        });
    }

</script>