<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<div class="content-wrapper">
  <div class="col-md-12 m-t-10 m-b-10">
    <%= form_with url: users_delivery_reports_index_path, method: "get", class: 'form-horizontal', local: true do |f| %>
      <div class="col-md-4 search">
        <div class="input-append date input-group date " data-provide="datepicker">
          <%= text_field_tag :date, @date.strftime('%F'), class: 'field form-control', placeholder: t('activerecord.attributes.bank_transaction.date') %>
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 search">
        <%= f.collection_select :salesman_id, Salesman.all, :id, :full_name, {:include_blank => t('activerecord.attributes.bank_transaction.salesman_id'), selected: @salesman_id},
                                {class: 'form-control selectpicker', "data-live-search": true} %>
      </div>
      <div class="col-md-4 search">
        <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn pull-left' %>
      </div>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <%= render 'layouts/flash_message' %>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <thead>
              <tr>
                <th class="th-center va-mid" colspan="8">Захиалгын мэдээлэл</th>
                <th class="th-center va-mid" colspan="2">Төлбөрийн хэлбэр</th>
              </tr>
              <tr>
                <th class="th-center va-mid" style="width: 30px">№</th>
                <th class="th-center va-mid">Төрөл</th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.product_sale.phone') %></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.product_sale_item.product_id') %></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.product_sale_item.feature_item_id') %></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.product_sale_item.quantity') %></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.product_sale_item.price') %></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.product_sale_item.sum_price') %></th>
                <th class="th-center va-mid">Бэлэн</th>
                <th class="th-center va-mid">Данс</th>
              </tr>
              </thead>
              <tbody>
              <% q = 0
                 price = 0
                 back_sum = 0
                 acc_sum = 0
                 cash_sum = 0
                 bought_sum = 0
                 number = 0
                 if @product_sales.present?
                   @product_sales.each_with_index {|product_sale, i|
                     acc_sum += product_sale.paid if product_sale.paid.present?
                     number = i + 1
                     sale_items = product_sale.product_sale_items.not_nil_bought_quantity
                     if sale_items.present?
                       rows = sale_items.count
                       sale_item = sale_items[0] %>
                    <tr>
                      <td class="va-mid text-center" rowspan="<%= rows %>"><%= number %></td>
                      <td class="va-mid" rowspan="<%= rows %>" id="sale_type-<%= i %>"><%= product_sale.parent_id.present? ? product_sale.parent.status.name : 'Захиалга' %></td>
                      <td class="va-mid" rowspan="<%= rows %>"><%= product_sale.phone %></td>
                      <td class="va-mid"><%= sale_item.product.name_with_code %></td>
                      <td class="va-mid"><%= sale_item.feature_item.name %></td>
                      <td class="va-mid"><%= sale_item.bought_quantity %></td>
                      <td class="va-mid text-right"><%= get_currency_mn sale_item.price %></td>
                      <td class="va-mid text-right"><%= get_currency_mn sale_item.bought_price %></td>
                      <td class="va-mid text-right" rowspan="<%= rows %>" id="bought-<%= i %>"></td>
                      <td class="va-mid text-right" rowspan="<%= rows %>"><%= get_currency_mn product_sale.paid %></td>
                    </tr>
                    <% sale_items.each_with_index {|item, index|
                      q += item.bought_quantity
                      price += item.bought_price
                      bought_sum += item.bought_price
                      if index > 0 %>
                        <tr>
                          <td class="va-mid"><%= item.product.name_with_code %></td>
                          <td class="va-mid"><%= item.feature_item.name %></td>
                          <td class="va-mid"><%= item.bought_quantity %></td>
                          <td class="va-mid text-right"><%= get_currency_mn item.price %></td>
                          <td class="va-mid text-right"><%= get_currency_mn item.bought_price %></td>
                        </tr>
                      <% end }
                         end %>
                  <script>
                      <% if product_sale.parent_id.present?
                      b_price = product_sale.return_price
                      if bought_sum == 0
                       back_sum += b_price %>
                      $('#sale_type-<%= i %>').text('Буцаалт');
                      $('#bought-<%= i %>').html("<%= get_currency_mn(b_price) %>").addClass("text-red");
                      <% else
                      p = bought_sum - b_price - (product_sale.paid.presence || 0) %>
                      $('#sale_type-<%= i %>').text('Солилт');
                      <% if p < 0
                      p *= -1
                      back_sum += p
                      %>
                      $('#bought-<%= i %>').addClass("text-red");
                      <% else # Хэрэглэгчийн төлөх мөнгө үлдсэн бол
                      cash_sum += p %>
                      <% end %>
                      $('#bought-<%= i %>').html("<%= get_currency_mn(p) %>");
                      <% end %>
                      <% else
                      p = product_sale.paid.present? ? bought_sum - product_sale.paid : bought_sum
                      cash_sum += p %>
                      $('#bought-<%= i %>').html("<%= get_currency_mn(p) %>");
                      <% end %>
                  </script>
                <% bought_sum = 0.0
                   } %>
                <% if @sale_directs.present?
                     @sale_directs.each_with_index {|sale_direct, i|
                       p = sale_direct.sum_price
                       q += sale_direct.quantity
                       price += p
                       cash_sum += p %>
                    <tr>
                      <td class="va-mid text-center"><%= number + i + 1 %></td>
                      <td class="va-mid">Шууд борлуулалт</td>
                      <td class="va-mid"><%= sale_direct.phone %></td>
                      <td class="va-mid"><%= sale_direct.product.name_with_code %></td>
                      <td class="va-mid"><%= sale_direct.feature_item.name %></td>
                      <td class="va-mid"><%= sale_direct.quantity %></td>
                      <td class="va-mid text-right"><%= get_currency_mn sale_direct.price %></td>
                      <td class="va-mid text-right"><%= get_currency_mn p %></td>
                      <td class="va-mid text-right"><%= get_currency_mn p %></td>
                      <td class="va-mid text-right"></td>
                    </tr>
                  <% } %>
                <% end %>
                <tr>
                  <td colspan="5" class="text-right"><strong><%= t('titles.total') %></strong></td>
                  <td><strong><%= q %></strong></td>
                  <td></td>
                  <td class="text-right"><strong><%= get_currency_mn price %></strong></td>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td colspan="6"></td>
                  <td class="text-right">Буцаалт</td>
                  <td class="text-right text-red"><%= back_sum > 0 ? get_currency_mn(back_sum) : '' %></td>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td colspan="6"></td>
                  <td class="text-right">Дансаар</td>
                  <td class="text-right"><%= acc_sum > 0 ? get_currency_mn(acc_sum) : '' %></td>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td colspan="6"></td>
                  <td class="text-right">Бэлнээр</td>
                  <td class="text-right"><%= cash_sum > 0 ? get_currency_mn(cash_sum) : '' %></td>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td colspan="5"></td>
                  <td colspan="2" class="text-right"><strong>ТҮГЭЭГЧЭЭС АВАХ БЭЛЭН МӨНГӨ</strong></td>
                  <td class="text-right">
                    <strong><%= cash_sum > 0 ? get_currency_mn(cash_sum - back_sum) : '' %></strong></td>
                  <td colspan="2"></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
