<aside class="main-sidebar sidebar_fixed">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <%= content_tag :li, class: controller_name == 'product_sale_calls' ? 'active' : '' do %>
        <%= link_to operators_product_sale_calls_path do %>
          <i class="fa fa-phone"></i><span><%= t('titles.product_sale_calls') %></span>
        <% end %>
      <% end %>

      <%= content_tag :li, class: controller_name == 'product_sales' ? 'active' : '' do %>
        <%= link_to operators_product_sales_path do %>
          <i class="fa fa-shopping-cart"></i><span><%= t('titles.product_sales') %></span>
        <% end %>
      <% end %>

      <% if (can? :read, FbPost) || (can? :read, FbComment) || (can? :read, FbCommentAction) %>
        <%= content_tag :li, class: (controller_name == 'fb_posts' || controller_name == 'fb_comments' || controller_name == 'fb_comment_archives' ||
            controller_name == 'fb_comment_actions') ? 'treeview active' : 'treeview' do %>
          <%= link_to "#" do %>
            <i class="fa fa-facebook"></i><span><%= t('titles.facebook') %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>

          <%= content_tag :ul, class: 'treeview-menu' do %>
            <% if can? :read, FbComment %>
              <%= content_tag :li, class: controller_name == 'fb_comments' ? 'active' : '' do %>
                <%= link_to operators_fb_comments_path do %>
                  <i class="fa fa-comments"></i><span><%= t('activerecord.models.fb_comment') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: controller_name == 'fb_comment_archives' ? 'active' : '' do %>
                <%= link_to operators_fb_comment_archives_path do %>
                  <i class="fa fa-history"></i><span><%= t('activerecord.models.fb_comment_archive') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, FbCommentAction %>
              <%= content_tag :li, class: controller_name == 'fb_comment_actions' ? 'active' : '' do %>
                <%= link_to operators_fb_comment_actions_path do %>
                  <i class="fa fa-cogs"></i><span><%= t('activerecord.models.fb_comment_action') %></span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if can? :read, BankTransaction %>
        <%= content_tag :li, class: controller_name == 'bank_transactions' ? 'active' : '' do %>
          <%= link_to operators_bank_transactions_path do %>
            <i class="fa fa-dollar"></i><span><%= t('titles.bank_transactions') %></span>
          <% end %>
        <% end %>
      <% end %>

    </ul>
  </section>
</aside>