<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<div class="content-wrapper">

  <div style="display: flex; justify-content: space-between">
    <div class="col-md-12 m-t-10 m-b-10">
      <%= @by_start %> - <%= @by_end %>
      <h3>Улаанбаатарлуу ачуулсан</h3>
    </div>
    <div class="col-md-12 m-t-40 m-b-10" style="padding-left: 50%">
      <%=link_to 'Export to Excel', users_supply_calculations_ship_ub_path(by_start: @by_start, by_end: @by_end, format: 'xlsx'), :class => "btn btn-primary" %>
    </div>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box" id="div_list">
          <div class="box-body table-responsive no-padding">
            <%= render 'layouts/flash_message' %>
            <table id='supply_table' class="table table-hover table-bordered col-xs-12">
              <tr>
                <td colspan="7"></td>
                <td class="va-mid text-center" colspan="3"><strong>Хүлээн авсан</strong></td>
                <td class="va-mid text-center" colspan="3"><strong>Улаанбаатарлуу ачуулсан</strong></td>
              </tr>
              <tr>
                <th class="va-mid text-center"><%=t('activerecord.attributes.product_supply_order.code')%></th>
                <th class="va-mid text-center"><%= t('activerecord.attributes.product_supply_order.order_type') %></th>
                <th class="va-mid text-center"><%= t('activerecord.attributes.product_supply_order.product_code') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_supply_order.product_name') %></th>
                <th class="va-mid text-center"><%= t('activerecord.attributes.product_supply_order.product_image') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_supply_feature.feature_item_id') %></th>
                <th class="va-mid text-center bg-1"><%= t('activerecord.attributes.product_supply_order_item.purchase_quantity') %></th>
                <th class="va-mid text-center bg-1"><%= t('activerecord.attributes.shipping_er_feature.quantity') %></th>
                <th class="va-mid text-center bg-1"><%= t('activerecord.attributes.shipping_er_product.cargo') %></th>
                <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_er.date') %></th>
                <th class="va-mid text-center bg-1"><%= t('activerecord.attributes.shipping_ub_product.quantity') %></th>
                <th class="va-mid text-center bg-1"><%= t('activerecord.attributes.shipping_ub_product.cargo') %></th>
                <th class="va-mid text-center bg-2"><%= t('activerecord.attributes.shipping_ub_product.cost') %></th>
                <th class="va-mid text-center bg-2"><%= t('activerecord.attributes.product_supply_feature.sum_price') %></th>
                <th class="va-mid text-center bg-2"><%= t('activerecord.attributes.shipping_ub.date') %></th>
              </tr>
              <tr>
                <th colspan="6">Нийт</th>
                <% sum_in_er = @ub_products.pluck("product_supply_features.price_lo * product_supply_features.quantity_lo").sum(&:to_f)
                   er_product_cost = ShippingErProduct.by_date(@by_start, @by_end).sum(:cost)
                   pur_ids = @ub_products.pluck(:order_item_id)%>
                <th class="va-mid  text-center"><%= ProductSupplyFeature.by_order_item(pur_ids).sum("product_supply_features.quantity") %></th>
                <th class="va-mid text-center"><%=  ShippingErFeature.by_order_item(pur_ids).sum("shipping_er_features.quantity") %></th>
                <th class="va-mid text-center"><%=  @ub_products.group("shipping_er_products.id").pluck("shipping_er_products.cargo").sum %></th>
                <th class="va-mid text-center"><%= %></th>
                <th class="va-mid text-center"><%=@ub_products.sum("shipping_ub_features.quantity") %></th>
                <th class="va-mid text-center"><%= @ub_products.group("shipping_ub_products.id").pluck("shipping_ub_products.cargo").sum%></th>
                <th><%=@ub_products.group("shipping_ub_products.id").pluck("shipping_ub_products.cost").sum %></th>
                <th><%= @ub_products.group("product_supply_order_items.id").pluck("product_supply_order_items.sum_price_lo").sum%></th>
                <th></th>
              </tr>
              <%@ub_products.each do |i| %>
                <% order_items = i.order_item %>
                <% supply_order = order_items.product_supply_order %>
                <% shipping_ub = i.shipping_ub_features %>
                <tr  id="supple_order_<%= i.id %>" class="row_product">
                  <td class="va-mid" >
                    <%= link_to i.code, users_product_supply_order_path(i, tab_index: 0) %>
                  </td>
                  <td class="va-mid">
                    <%= supply_order.order_type_i18n %>
                  </td>
                  <% product = order_items.product if order_items.present? %>
                  <td class="va-mid">
                    <%= product.present? ? product.code : i.id %>
                  </td>
                  <td class="va-mid">
                    <%= product.present? ? product.name : '' %>
                  </td>
                  <td class="va-mid">
                    <% if product.present? && product.picture.present? %>
                      <%= link_to product.picture.url, "data-lightbox": "roadtrip" do %>
                        <%= t('titles.view') %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="va-mid">
                    <% count = 0
                       feature_ids = []
                       total_quantity = 0
                       total_quantity_lo = 0
                       total_price = 0
                       if order_items.present?
                         order_items.supply_features.each_with_index {|supply_feature, index|
                           feature_ids << supply_feature.id
                           total_quantity += supply_feature.quantity if supply_feature.quantity.present?
                           total_quantity_lo += supply_feature.quantity_lo if supply_feature.quantity_lo.present?
                           total_price += supply_feature.sum_price_lo
                           count += 1 %>
                      <% }
                         end %>
                    <%= count %>

                  </td>
                  <td class="va-mid text-center">
                    <%= total_quantity_lo > 0 ? total_quantity_lo : '' %>
                  </td>
                  <% date, costs, quantity, cargo, cost_text = order_items.present? ? order_items.shipping_er_feature : '' %>
                  <td class="va-mid text-center">
                    <%= quantity %>
                  </td>

                  <td class="va-mid text-center bg-2"><%= cargo %></td>
                  <td class="va-mid text-center bg-2">
                    <%= date %>
                  </td>
                  <td class="va-mid text-center bg-2">
                    <% date, costs, quantity, cargo, cost_text = order_items.present? ? order_items.shipping_ub_product : '' %>
                    <%= quantity %>
                  </td>
                  <td class="va-mid text-center">
                    <%= cargo %>
                  </td>
                  <td class="va-mid text-center">
                    <%= costs %>
                  </td>
                  <td>
                    <%= total_price %>
                  </td>

                  <td class="va-mid text-center">
                    <%= date %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>

        <%= paginate @ub_products %>
      </div>
    </div>
  </section>
</div>
<%= render 'shared/date-range', search_field_id: 'search-date', start_id: 'by_start', finish_id: 'by_end' %>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<script !src="">
    $(document).ready(function(){
        $("#excel").click(function() {
            let table = document.getElementById("supply_table");
            TableToExcel.convert(table, {
                name: `эрээнд_хүлээн_авсан.xlsx`,
                sheet: {
                    name: 'Sheet 1'
                }
            });
        });
    });
    function removeDuplicateRows($table){
        function getVisibleRowText($row){
            return $row.find('td:visible').text().toLowerCase();
        }

        $table.find('.row_product').each(function(index, row){
            var $row = $(row);
            $row.nextAll('tr').each(function(index, next){
                var $next = $(next);
                if(getVisibleRowText($next) === getVisibleRowText($row))
                    $next.remove();
            })
        });
    }

    removeDuplicateRows($('table'));
</script>