<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<style>
  /*#tb_calculated tr td {*/
  /*  text-align: center;*/
  /*}*/

  /*#tb_calculated tr td:first-child {*/
  /*  text-align: left;*/
  /*}*/
</style>
<div class="content-wrapper">

  <div class="col-md-12 m-t-10 m-b-10">
    <%= form_with url: users_supply_calculations_supply_orders_path, method: "get", class: "", local: true do |f| %>
      <div class="col-md-3 search">
        <div id="search-date" class="form-control search">
          <i class="fa fa-calendar fa-lg p-r-0"></i>
          <span><%= t("filters.by_date") %>...</span>
          <%= f.hidden_field :by_start, value: @by_start %>
          <%= f.hidden_field :by_end, value: @by_end %>
        </div>
      </div>
      <div class="col-md-2 search">
        <%= text_field_tag :by_code, @by_code, {class: 'form-control', placeholder: t('filters.by_code')} %>
      </div>

      <div class="col-md-1 search">
        <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn pull-left', style: 'height: 30px; font-size: smaller !important' %>
      </div>
      <div class="col-md-2 search">
        <%= link_to 'Падаанаар', users_supply_calculations_for_invoice_path(by_start: @by_start, by_end: @by_end), target: '_blank', class: 'btn blck-btn pull-right' %>
      </div>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box" id="div_list">
          <div class="box-body table-responsive no-padding">
            <%= render 'layouts/flash_message' %>
            <table class="table table-bordered" id="tb_calculated">
              <thead>
              <tr>
                <th rowspan="2" class="va-mid"></th>
                <th rowspan="2" class="va-mid"><%= @by_start %> - <%= @by_end %></th>
                <th rowspan="2" class="va-mid">Маркет.мн</th>
                <th colspan="3" class="text-center">Далай ложистик</th>
              </tr>
              <tr>
                <th class="text-center">Зарцуулалт</th>
                <th class="text-center">Нийлээгүй</th>
                <th class="text-center">Нийлсэн</th>

              </tr>
              </thead>
              <tbody>
              <% bank_transaction = BankTransaction.by_billing_date(@by_start, @by_end).by_dalai
                 prev_transaction = BankTransaction.by_before_start(@by_start).by_dalai.sum(:exc_summary)
                 prev_logistic = LogisticBalance.by_before_start(@by_start).sum_price %>
              <tr>
                <td></td>
                <td>Өмнөх үлдэгдэл</td>
                <td><%= get_currency(prev_logistic - prev_transaction, Const::CURRENCY[0], 3) %></td>
                <td colspan="3"><%= get_currency(prev_transaction - prev_logistic, Const::CURRENCY[0], 3) %></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Орлого</td>
                <td>-<%= get_currency_mn bank_transaction.sum(:summary) %></td>
                <td colspan="3"><%= get_currency(bank_transaction.sum(:exc_summary), Const::CURRENCY[0], 3) %></td>
                <td></td>
              </tr>
              <% sum_supply_feature = ProductSupplyFeature.by_date(@by_start, @by_end).sum_price_lo
                 pur_ids = @pur_products_x.pluck("product_supply_features.id")
                 er_ids = @er_products_x.pluck("product_supply_features.id")
                 ub_ids = @ub_products_x.pluck("product_supply_features.id")
                 in_ub_ids = @in_ub_x.pluck("product_supply_features.id")
                 order_ids = @ub_products_x.pluck("product_supply_order_items.product_supply_order_id")
                 ship_ub_ids = @ub_products_x.pluck("shipping_ub_products.shipping_ub_id")
                 not_id = ProductSupplyFeature.by_feature_id(pur_ids).pluck(:order_item_id)
                 sum_not_er = ProductSupplyFeature.by_feature_id(pur_ids).pluck(:sum_price_lo).sum(&:to_f)
                 sum_not_er_cost = ProductSupplyOrderItem.by_order_item(not_id).pluck(:cost).sum(&:to_f)
                 sum_in_er = ProductSupplyFeature.by_feature_id(er_ids).pluck(:sum_price_lo).sum(&:to_f)
                 #sum_in_er = ProductSupplyFeature.by_order_item(@er_products_x.pluck(:order_item_id)).sum(:sum_price_lo)
                 er_product_cost = @er_products_x.group("shipping_er_products.id").pluck("shipping_er_products.cost").sum(&:to_f)
                 not_ub = ProductSupplyFeature.by_feature_id(ub_ids).pluck(:sum_price_lo).sum(&:to_f)
                 # not_ub = ProductSupplyFeature.by_order_item(@ub_products_x.pluck(:order_item_id)).sum(:sum_price_lo)
                 calculate = ProductSupplyFeature.by_feature_id(in_ub_ids).pluck(:sum_price_lo).sum(&:to_f)
                 cal_cost_er = @in_ub_x.by_calc_nil("false").group("shipping_er_products.id").pluck("shipping_er_products.cost").sum(&:to_f)
                 cal_cost_ub = @in_ub_x.group("shipping_ub_products.id").pluck("shipping_ub_products.cost").sum(&:to_f)
                 ub_box_cost = ShippingUbBox.by_shipping_id(ship_ub_ids).sum(:cost)
                 ub_sample_cost = ShippingUbSample.by_shipping_id(ship_ub_ids).sum(:cost)
                 ub_main_cost = ShippingUbProduct.by_order_id(order_ids).pluck("shipping_ub_products.cost").sum(&:to_f)
                 cost_ids = @pur_products_x.pluck("product_supply_order_items.product_supply_order_id")
                 cost_ids += @er_products_x.pluck("product_supply_order_items.product_supply_order_id")
                 cost_ids += @ub_products_x.pluck("product_supply_order_items.product_supply_order_id")


              %>
              <%
                income_items = ProductIncomeItem.in_ub(@by_start, @by_end)
                shipping_ub_ids = ProductSupplyFeature.by_date(@by_start, @by_end).in_ub.shipping_ub
                cost_sample_n = ShippingUbSample.by_calc_nil("true").cost(shipping_ub_ids).pluck("shipping_ub_samples.per_cost * product_income_items.quantity").sum
                cost_sample_c = ShippingUbSample.by_calc_nil("false").cost(shipping_ub_ids).pluck("shipping_ub_samples.per_cost * product_income_items.quantity").sum
                # income_products = ProductSupplyFeature.by_date(@by_start, @by_end).in_ub
                # income_items = ProductSupplyFeature.by_date(@by_start, @by_end).in_ub
                 sum_supply_feature_cost_n = @income_products_n.group("product_supply_features.id").pluck("product_supply_features.sum_price_lo").sum(&:to_f)
                 sum_supply_feature_cost_c = @income_products_c.group("product_supply_features.id").pluck("product_supply_features.sum_price_lo").sum(&:to_f)
                 sum_shipping_er_cost_n = @in_ub_x.by_calc_nil("true").group("shipping_er_products.id").pluck("shipping_er_products.cost").sum(&:to_f) + ProductIncomeProduct.by_supply_order(@income_products_n.pluck("product_income_products.product_supply_order_id")).supply_order.pluck(:cost).sum(&:to_f)
                 sum_shipping_er_cost_c = @in_ub_x.by_calc_nil("false").group("shipping_er_products.id").pluck("shipping_er_products.cost").sum(&:to_f) + ProductIncomeProduct.by_supply_order(@income_products_c.pluck("product_income_products.product_supply_order_id")).supply_order.pluck(:cost).sum(&:to_f)
                 sum_shipping_ub_n = @in_ub_x.by_calc_nil("true").group("shipping_ub_products.id").pluck("shipping_ub_products.cost").sum(&:to_f) + ProductIncomeProduct.by_supply_order(@income_products_n.pluck("product_income_products.product_supply_order_id")).supply_order.pluck("product_incomes.cargo_price").sum(&:to_f)
                 sum_shipping_ub_c = @in_ub_x.by_calc_nil("false").group("shipping_ub_products.id").pluck("shipping_ub_products.cost").sum(&:to_f) + ProductIncomeProduct.by_supply_order(@income_products_c.pluck("product_income_products.product_supply_order_id")).supply_order.pluck("product_incomes.cargo_price").sum(&:to_f)
                 cost = ProductSupplyOrderItem.by_supply_id(cost_ids).pluck(:cost).sum(&:to_f)
                 # cost += ShippingErProduct.by_order_id(cost_ids).pluck(:cost).sum
                 cost += ShippingUbProduct.by_order_id(cost_ids).pluck(:cost).sum(&:to_f)
                 cost += sum_shipping_er_cost_c + sum_shipping_er_cost_n + sum_shipping_ub_c + sum_shipping_ub_n
                 cost += ub_sample_cost + ub_box_cost + ub_main_cost
                 sum_price_lo = sum_not_er + sum_in_er + not_ub + sum_supply_feature_cost_n + sum_supply_feature_cost_c
                 cost_missing = ShippingErProduct.by_order_id(@ub_products_x.pluck("product_supply_order_items.product_supply_order_id")).pluck(:cost).sum(&:to_f)
                 cost_lo = cost_missing + sum_shipping_er_cost_n + sum_shipping_er_cost_c + ub_sample_cost + ub_box_cost + ub_main_cost + sum_not_er_cost + sum_shipping_ub_c + sum_shipping_ub_n + er_product_cost
                 sum_product = cost_lo + sum_price_lo
              %>

              <tr>
                <td rowspan="3">Эрээнд хүлээж аваагүй</td>
                <td>Барааны дүн</td>
                <td> </td>
                <td><%= get_currency(sum_not_er, Const::CURRENCY[0], 3) %> </td>
                <td> </td>
                <td></td>
              </tr>
              <tr>
                <td>Ачааны зардал</td>
                <td></td>
                <td><%= get_currency(sum_not_er_cost, Const::CURRENCY[0], 3) %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="text-right"><strong>Худалдан авалт хийсэн нийт дүн</strong></td>
                <td></td>
                <td><%= link_to get_currency(sum_not_er_cost + sum_not_er, Const::CURRENCY[0], 3), users_supply_calculations_purchased_er_path(by_start: @by_start, by_end: @by_end, by_code: @by_code)%></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td rowspan="3">Эрээнд хүлээн авсан</td>
                <td>Барааны дүн</td>
                <td></td>
                <td><%= get_currency(sum_in_er, Const::CURRENCY[0], 3) %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Ачааны зардал</td>
                <td></td>
                <td><%= get_currency(er_product_cost, Const::CURRENCY[0], 3) %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="text-right"><strong>Нийт дүн</strong></td>
                <td></td>
                <td><%= link_to get_currency(sum_in_er + er_product_cost, Const::CURRENCY[0], 3), users_supply_calculations_received_er_path(by_start: @by_start, by_end: @by_end, by_code: @by_code)%></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td rowspan="5"> Улаанбаатарлуу Ачуулсан</td>
                <td>Барааны дүн</td>
                <td></td>
                <td><%= get_currency(not_ub, Const::CURRENCY[0], 3) %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Эрээн хүлээн авсан тээврийн зардал</td>
                <td></td>
                <td><%= get_currency(cost_missing, Const::CURRENCY[0], 3) %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Үндсэн барааны ачааны тээврийн зардал</td>
                <td></td>
                <td><%= get_currency(ub_main_cost, Const::CURRENCY[0], 3) %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Дээж барааны ачааны тээврийн зардал</td>
                <td></td>
                <td><%= get_currency(ub_sample_cost, Const::CURRENCY[0], 3) %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="text-right"><strong>Нийт дүн</strong></td>
                <td></td>
                <td><%=link_to get_currency(ub_sample_cost + ub_box_cost + ub_main_cost + not_ub + cost_missing, Const::CURRENCY[0], 3), users_supply_calculations_ship_ub_path(by_start: @by_start, by_end: @by_end, by_code: @by_code) %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td rowspan="4">Орлогод авсан</td>
                <td>Худалдаж авсан барааны дүн </td>
                <td><%= %></td>
                <td class="text-center"><%= get_currency(sum_supply_feature_cost_n + sum_supply_feature_cost_c, Const::CURRENCY[0], 3) %></td>
                <td class="text-center"><%= get_currency(sum_supply_feature_cost_n, Const::CURRENCY[0], 3) %></td>
                <td class="text-center"><%= get_currency(sum_supply_feature_cost_c, Const::CURRENCY[0], 3) %></td>
              </tr>
              <tr>
                <td>Эрээнд хүлээн авсан ачааны зардал</td>
                <td><%= %></td>
                <td class="text-center"><%= get_currency(sum_shipping_er_cost_c + sum_shipping_er_cost_n, Const::CURRENCY[0], 3) %></td>
                <td class="text-center"><%= get_currency(sum_shipping_er_cost_n, Const::CURRENCY[0], 3) %></td>
                <td class="text-center"><%= get_currency(sum_shipping_er_cost_c, Const::CURRENCY[0], 3) %></td>
              </tr>
              <tr>
                <td>УБ-луу ачуулсан тээврийн зардал</td>
                <td></td>
                <td class="text-center"><%= get_currency(sum_shipping_ub_c + sum_shipping_ub_n, Const::CURRENCY[0], 3) %></td>
                <td class="text-center"><%= get_currency(sum_shipping_ub_n, Const::CURRENCY[0], 3) %></td>
                <td class="text-center"><%= get_currency(sum_shipping_ub_c, Const::CURRENCY[0], 3) %></td>
              </tr>
              <tr>
                <td class="text-right"><strong>Нийт дүн</strong></td>
                <td></td>
                <td class="text-center"><%= get_currency(sum_shipping_ub_c + sum_shipping_ub_n + sum_shipping_er_cost_c + sum_shipping_er_cost_n + sum_supply_feature_cost_n + sum_supply_feature_cost_c, Const::CURRENCY[0], 3) %></td>
                <td class="text-center"><%= get_currency(sum_shipping_ub_n + sum_shipping_er_cost_n + sum_supply_feature_cost_n, Const::CURRENCY[0], 3) %></td>
                <td class="text-center"><%= get_currency(sum_shipping_ub_c + sum_shipping_er_cost_c + sum_supply_feature_cost_c, Const::CURRENCY[0], 3) %></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right"><strong>Нийт барааны дүн</strong></td>
                <td></td>
                <td><strong><%= get_currency(sum_price_lo, Const::CURRENCY[0], 3) %></strong></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right"><strong>Нийт зардал</strong></td>
                <td></td>
                <td><strong><%= get_currency(cost_lo, Const::CURRENCY[0], 3) %></strong></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right"><strong>Нийт зарцуулалт</strong></td>
                <td><%= %></td>
                <td><strong><%= get_currency(sum_product, Const::CURRENCY[0], 3) %></strong></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">Тодруулах/ Түгжигдсэн</td>
                <td></td>
                <td colspan="3"><%= @in_ub_x.by_clarify(true).count %></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">Барааны тоо</td>
                <td></td>
                <td></td>
                <td><%= link_to @income_products_n.count.length, users_supply_calculations_income_products_path(by_start: @by_start, by_end: @by_end, by_nil: true), target: '_blank' %></td>
                <td><%= link_to @income_products_c.count.length, users_supply_calculations_income_products_path(by_start: @by_start, by_end: @by_end, by_nil: false), target: '_blank' %></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">Далайгийн үлдэгдэл</td>
                <td></td>
                <% sum = bank_transaction.sum(:summary) + prev_logistic - prev_transaction
                %>
                <td><%= get_currency( sum_product - sum, Const::CURRENCY[0], 3) %></td>
                <td></td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
<%= render 'shared/date-range', search_field_id: 'search-date', start_id: 'by_start', finish_id: 'by_end' %>