<tr class="nested-fields">
  <td class="va-mid">
    <%= field_errors f.object, :name %>
    <%= f.text_field :name, class: 'form-control field', placeholder: t('activerecord.attributes.category_filter.name') %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :name_en %>
    <%= f.text_field :name_en, class: 'form-control field', placeholder: t('activerecord.attributes.category_filter.name_en') %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :img %>
    <%= f.file_field :img, accept: "image/*" %>
    <% if f.object.img.present? %>
      <div class="preview noselect">
        <%= image_tag f.object.img.url, class: 'preview-img' %>
      </div>
    <% end %>
  </td>
  <td class="remove">
    <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
      <%= nested_remove_btn %>
    <% end %>
  </td>
</tr>