<div class="login-box-body">
  <p class="login-box-msg"><%= t("titles.resetting_a_password")%></p>

  <%= form_for(resource, as: resource_name, url: operator_passwords_path, html: { method: :patch }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group has-feedback">
      <%= f.label :password, t("activerecord.attributes.admin_user.new_password") %><br />
      <%= f.password_field :password, class: 'form-control', autofocus: true, autocomplete: "off", :placeholder => t("controls.input.please_enter") %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :password_confirmation, t("activerecord.attributes.admin_user.confirm_new_password") %><br />
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", :placeholder => t("controls.input.please_enter") %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>

    <div class="row">
      <%= f.submit t("controls.button.change"), class: 'btn btn-primary btn-block btn-flat' %>
    </div>
  <% end %>
</div>