<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
  <%= stylesheet_link_tag "summernote/dist/summernote-bs4" %>
<% end %>
<div class="content-wrapper">
  <section class="content">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="<%= !@product.tab_index.present? || @product.tab_index.to_i == 0 ? 'active':'' %>"><a href="#basic" data-toggle="tab"><%= t('product_form.basic') %></a></li>
        <li class="<%= @product.tab_index.to_i == 1 ? 'active':'' %>"><a href="#price" data-toggle="tab"><%= t('product_form.price') %></a></li>
        <li class="<%= @product.tab_index.to_i == 2 ? 'active':'' %>"><a href="#information" data-toggle="tab"><%= t('product_form.information') %></a></li>
        <li class="<%= @product.tab_index.to_i == 3 ? 'active':'' %>"><a href="#image_video" data-toggle="tab"><%= t('product_form.image_video') %></a></li>
        <li class="<%= @product.tab_index.to_i == 4 ? 'active':'' %>"><a href="#package" data-toggle="tab"><%= t('product_form.package') %></a></li>
      </ul>
      <div class="tab-content">
        <div class="<%= !@product.tab_index.present? || @product.tab_index.to_i == 0 ? 'active ':'' %>tab-pane" id="basic">
          <%= render 'form_basic' %>
        </div>
        <div class="<%= @product.tab_index.to_i == 1 ? 'active ':'' %>tab-pane" id="price">
          <%= render 'form_price' %>
        </div>
        <div class="<%= @product.tab_index.to_i == 2 ? 'active ':'' %>tab-pane" id="information">
          <%= render 'form_information' %>
        </div>
        <div class="<%= @product.tab_index.to_i == 3 ? 'active ':'' %>tab-pane" id="image_video">
          <%= render 'form_image_video' %>
        </div>
        <div class="<%= @product.tab_index.to_i == 4 ? 'active ':'' %>tab-pane" id="package">
          <%= render 'form_package' %>
        </div>
      </div>
    </div>
  </section>
</div>

<% content_for :footer_js do -%>
  <%= javascript_include_tag 'summernote/dist/summernote-bs4' %>
  <%= javascript_include_tag 'summernote/dist/lang/summernote-mn-MN.min' %>
  <%= javascript_include_tag 'summernote_upload' %>
<% end %>

<script>
    $(document).ready(function () {
        load_image_preview("tr.nested-fields:not(:last)");
        load_image_preview("#product_picture_div");
    });
</script>