<% if @product.persisted? %>
  <%= form_with model: @product, url: form_price_users_products_path(id: @product.id), method: :patch, local: true, :html => {class: 'form-horizontal'} do |f| %>
    <%= form_body do %>
      <%= f.hidden_field :tab_index, {value: 1} %>
      <div class="col-md-12 field_div cocoon-nested-form">
        <% no_balance = !@product.check_balance %>
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th rowspan="2"></th>
            <th rowspan="2" class="text-center va-mid"><%= t('activerecord.attributes.product_feature_item.barcode') %></th>
            <th rowspan="2" class="text-center va-mid"><%= t('activerecord.attributes.product_feature_item.price') %></th>
            <th colspan="2" class="text-center"><%= t('activerecord.attributes.product_feature_item.p_6_8') %></th>
            <th colspan="2" class="text-center"><%= t('activerecord.attributes.product_feature_item.p_9_') %></th>
            <th rowspan="2" class="text-center va-mid"><%= t('activerecord.attributes.product_feature_item.cost') %></th>
            <% if no_balance %>
              <th rowspan="2" class="text-center va-mid"><%= t('activerecord.attributes.product_feature_item.balance') %></th>
            <% end %>
            <th rowspan="2"></th>
          </tr>
          <tr>
            <th class="text-center">%</th>
            <th class="text-center"><%= t('currency') %></th>
            <th class="text-center">%</th>
            <th class="text-center"><%= t('currency') %></th>
          </tr>
          </thead>
          <tbody>
          <% if @product.product_feature_items.count > 1 %>
            <tr class="btn_actions">
              <td></td>
              <td></td>
              <td class="text-center">
                <button type="button" class="btn btn-default btn-xs" btype="price"><%= t('controls.button.to_equate') %></button>
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-default btn-xs" btype="p_6_8_p"><%= t('controls.button.to_equate') %></button>
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-default btn-xs" btype="p_6_8"><%= t('controls.button.to_equate') %></button>
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-default btn-xs" btype="p_9_p"><%= t('controls.button.to_equate') %></button>
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-default btn-xs" btype="p_9_"><%= t('controls.button.to_equate') %></button>
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-default btn-xs" btype="cost"><%= t('controls.button.to_equate') %></button>
              </td>
              <% if no_balance %>
                <td class="text-center">
                  <button type="button" class="btn btn-default btn-xs" btype="balance"><%= t('controls.button.to_equate') %></button>
                </td>
              <% end %>
              <td></td>
            </tr>
          <% end %>
          <%= f.fields_for :product_feature_items do |m| %>
            <%= render 'product_feature_item_fields', :f => m, no_balance: no_balance %>
          <% end %>
          </tbody>
        </table>
      </div>
      <% unless @product.is_own %>
        <div class="form-group m-t-10">
          <%= f.label :delivery_type, class: 'col-sm-3 control-label' %>
          <div class="col-sm-9 p-t-5">
            <%= field_errors(@product, :delivery_type) %>
            <% delivery_ids = @product.customer.customer_contacts.uniq(&:delivery).map(&:delivery).to_a %>
            <% CustomerContact.deliveries.reject {|k, v| !delivery_ids.include? k}.each {|key, deli| %>
              <div class="col-md-3">
                <div class="checkbox" style="position: relative; display: block; overflow: hidden; height: 20px;">
                  <%= label_tag do %>
                    <%= f.check_box(:deliveries, {:multiple => true}, deli, nil) %>
                    <%= CustomerContact.deliveries_i18n[key] %>
                  <% end %>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      <% end %>
      <% if @product.category.present? && @product.category.check_is_clothes %>
        <div class="col-md-12 m-t-10">
          <div class="form-group">
            <%= f.label :product_size_instructions, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 cocoon-nested-form">
              <div class="<%= get_error_class(@product, :product_size_instructions) %>">
                <%= field_errors(@product, :product_size_instructions) %>
                <% feature_options = @product.product_feature_option_rels.by_size_feature_option %>
                <table class="table table-bordered" id="tb_product_size_instructions">
                  <tr>
                    <th><%= t('activerecord.attributes.product_size_instruction.size_instruction_id') %></th>
                    <% feature_options.each {|feature_option| %>
                      <th><%= feature_option.name %></th>
                    <% } %>
                  </tr>
                  <tr class="btn_actions">
                    <td></td>
                    <% feature_options.each {|feature_option| %>
                      <td class="text-center">
                        <button type="button" class="btn btn-default btn-xs" btype="feature_option_<%= feature_option.id %>"><%= t('controls.button.to_equate') %></button>
                      </td>
                    <% } %>
                  </tr>
                  <% SizeInstruction.order_queue.each {|si| %>
                    <tr class="nested-fields field_div">
                      <td class="va-mid">
                        <%= si.instruction %>
                      </td>
                      <% feature_options.each {|feature_option| %>
                        <td>
                          <%= hidden_field_tag "product[instruction_id][]", "#{si.id}-#{feature_option.id}" %>
                          <%= text_field_tag "product[instruction_val][]", @product.get_instruction(si.id, feature_option.id), {min: 0, step: 0.1, class: 'form-control field feature_option_' + feature_option.id.to_s, placeholder: feature_option.name} %>
                        </td>
                      <% } %>
                    </tr>
                  <% } %>
                </table>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :instruction, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 field_div">
              <%= field_errors f.object, :instruction %>
              <%= f.text_area :instruction, {class: 'form-control', placeholder: t('activerecord.attributes.product.instruction')} %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="action-buttons m-t-10">
        <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
      </div>
    <% end %>
  <% end %>
  <script>
      $(document).ready(function () {
          $('.btn_actions button').on('click', function () {
              var v = '';
              $('.nested-fields input.' + $(this).attr('btype')).each(function (index) {
                  if (index === 0) {
                      v = $(this).val();
                  } else {
                      $(this).val(v);
                  }
              });
          });
      });
  </script>
<% end %>