<% if @product.persisted? %>
  <%= form_with model: @product, url: form_image_video_users_products_path(id: @product.id), method: :patch, local: true, multipart: true, :html => {class: 'form-horizontal'} do |f| %>
    <%= form_body do %>
      <%= f.hidden_field :tab_index, {value: 3} %>
      <div class="form-group">
        <%= f.label :picture, class: 'col-sm-3 control-label va-mid' do %>
          <%= t('activerecord.attributes.product.picture') %>
          <i class="fa fa-info-circle blue" data-toggle="tooltip" title="<%= Const::PRODUCT_IMG[0] %>"></i>
        <% end %>
        <div class="col-sm-9 <%= get_error_class(@product, :picture) %>" id="product_picture_div">
          <%= field_errors(@product, :picture) %>
          <%= f.file_field :picture, accept: "image/*", class: 'image-file none-force' %>
          <div class="preview noselect">
            <% if @product.picture.present? %>
              <%= image_tag f.object.picture.url(:tumb), class: 'preview-img' %>
            <% else %>
              <span class="text"><%= t('upload_image') %></span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :product_feature_items, class: 'col-sm-3 control-label' %>
        <div class="col-sm-9 cocoon-nested-form">
          <div class="<%= get_error_class(@product, :product_feature_items) %>">
            <%= field_errors(@product, :product_feature_items) %>
            <table class="table table-bordered" id="tb_product_image_videos">
              <tr>
                <th><%= t('activerecord.attributes.product_feature_item.feature_item_id') %></th>
                <th><%= t('activerecord.attributes.product_feature_item.image') %>
                  <i class="fa fa-info-circle blue" data-toggle="tooltip" title="<%= Const::PRODUCT_IMG[1] %>"></i></th>
                <th width="50px"><%= t('activerecord.attributes.product_feature_item.real_img') %></th>
                <th><%= t('activerecord.attributes.product_feature_item.same_item_id') %>
                  <i class="fa fa-info-circle blue" data-toggle="tooltip" title="<%= Const::PRODUCT_INFO[2] %>"></i>
                </th>
              </tr>
              <%= f.fields_for :product_feature_items do |m| %>
                <%= render 'product_image_video_fields', :f => m %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :product_images, class: 'col-sm-3 control-label' do %>
          <%= t('activerecord.attributes.product.product_images') %>
          <i class="fa fa-info-circle blue" data-toggle="tooltip" title="<%= Const::PRODUCT_IMG[2] %>"></i>
        <% end %>
        <% if @product.product_images.present? %>
          <div id="div_product_images" class="col-sm-9 cocoon-nested-form <%= get_error_class(@product, :product_images) %>">
            <%= field_errors(@product, :product_images) %>
            <%= f.fields_for :product_images do |m| %>
              <%= render 'product_image_fields', :f => m %>
            <% end %>
            <div class="links">
              <%= link_to_add_association f, :product_images, class: 'append-after' do %>
                <%= nested_add_btn %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="col-sm-9">
            <%= f.file_field :images_multi, accept: "image/*", multiple: true %>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :product_videos, class: 'col-sm-3 control-label' %>
        <div class="col-sm-9 cocoon-nested-form">
          <div class="<%= get_error_class(@product, :product_videos) %>">
            <%= field_errors(@product, :product_videos) %>
            <table class="table table-bordered" id="tb_product_videos">
              <tr>
                <th><%= t('activerecord.attributes.product_video.image') %></th>
                <th><%= t('activerecord.attributes.product_video.video') %></th>
                <th width="50px"></th>
              </tr>
              <%= f.fields_for :product_videos do |m| %>
                <%= render 'product_video_fields', :f => m %>
              <% end %>
            </table>
          </div>
          <div class="links">
            <%= link_to_add_association f, :product_videos, data: {association_insertion_node: '#tb_product_videos', association_insertion_method: :append} do %>
              <%= nested_add_btn %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :photo_web, class: 'col-sm-3 control-label' do %>
          <%= t('activerecord.attributes.product.photo_web') %>
          <i class="fa fa-info-circle blue" data-toggle="tooltip" title="<%= Const::PRODUCT_IMG[3] %>"></i>
        <% end %>
        <div class="col-sm-9 <%= get_error_class(@product, :photo_web) %>">
          <%= f.check_box :photo_web %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :product_photos, class: 'col-sm-3 control-label' %>
        <div id="div_product_photos" class="col-sm-9 cocoon-nested-form <%= get_error_class(@product, :product_photos) %>">
          <%= field_errors(@product, :product_photos) %>
          <%= f.fields_for :product_photos do |m| %>
            <%= render 'product_photo_fields', :f => m %>
          <% end %>
          <div class="links">
            <%= link_to_add_association f, :product_photos, class: 'append-after' do %>
              <%= nested_add_btn %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="action-buttons m-t-10">
        <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
      </div>
    <% end %>
  <% end %>
<% end %>