<tr class="nested-fields">
  <td class="va-mid">
    <%= field_errors f.object, :size_instruction_id %>
    <%= f.collection_select :size_instruction_id, SizeInstruction.order_queue, :id, :instruction, {:prompt => t('controls.select.none')},
                            {class: 'form-control selectpicker', "data-live-search": true} %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :instruction %>
    <%= f.number_field :instruction, min: 0, step: 0.1, class: 'form-control field', placeholder: t('activerecord.attributes.product_size_instruction.instruction') %>
  </td>
  <td class="remove va-mid">
    <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
      <%= nested_remove_btn %>
    <% end %>
  </td>
</tr>
<script>
    $(document).ready(function () {
        var last_tr = "#tb_product_size_instructions .nested-fields:last";
        $(last_tr).find('.selectpicker').selectpicker('refresh');
    })
</script>