<tr class="nested-fields field_div">
  <td class="va-mid">
    <%= f.object.name %>
  </td>
  <td>
    <%= field_errors f.object, :barcode %>
    <%= f.text_field :barcode, class: 'form-control field', placeholder: t('activerecord.attributes.product_feature_item.barcode') %>
  </td>
  <td>
    <%= field_errors f.object, :price %>
    <%= f.number_field :price, class: 'form-control field price', placeholder: t('activerecord.attributes.product_feature_item.price') %>
  </td>
  <td>
    <%= field_errors f.object, :p_6_8 %>
    <%= f.number_field :p_6_8, class: 'form-control field p_6_8', placeholder: t('activerecord.attributes.product_feature_item.p_6_8') %>
  </td>
  <td>
    <%= field_errors f.object, :p_9_ %>
    <%= f.number_field :p_9_, class: 'form-control field p_9_', placeholder: t('activerecord.attributes.product_feature_item.p_9_') %>
  </td>
  <% if is_customer %>
    <td>
      <%= field_errors f.object, :c_balance %>
      <%= f.number_field :c_balance, class: 'form-control field c_balance', placeholder: t('activerecord.attributes.product_feature_item.c_balance') %>
    </td>
  <% end %>
  <td class="va-mid remove">
    <%= link_to_remove_association f, data: {confirm: "Энэ шинж чанарыг устгахдаа итгэлтэй байна уу, үүнтэй холбоотой бүх өгөгдөл устах болно!"} do %>
      <%= nested_remove_btn %>
    <% end %>
  </td>
</tr>