<tr class="nested-fields field_div">
  <td class="va-mid">
    <%= f.object.name %>
  </td>
  <td>
    <%= field_errors f.object, :barcode %>
    <%= f.text_field :barcode, class: 'form-control field', placeholder: t('activerecord.attributes.product_feature_item.barcode') %>
  </td>
  <td>
    <%= field_errors f.object, :price %>
    <%= f.number_field :price, class: 'form-control field price', placeholder: t('activerecord.attributes.product_feature_item.price') %>
  </td>
  <td>
    <%= field_errors f.object, :p_6_8_p %>
    <%= f.number_field :p_6_8_p, class: 'form-control field p_6_8_p',readonly: true, placeholder: t('activerecord.attributes.product_feature_item.p_6_8_p') %>
  </td>
  <td>
    <%= field_errors f.object, :p_6_8 %>
    <%= f.number_field :p_6_8, class: 'form-control field p_6_8',readonly: true, placeholder: t('activerecord.attributes.product_feature_item.p_6_8') %>
  </td>
  <td>
    <%= field_errors f.object, :p_9_p %>
    <%= f.number_field :p_9_p, class: 'form-control field p_9_p',readonly: true, placeholder: t('activerecord.attributes.product_feature_item.p_9_p') %>
  </td>
  <td>
    <%= field_errors f.object, :p_9_ %>
    <%= f.number_field :p_9_, class: 'form-control field p_9_',readonly: true, placeholder: t('activerecord.attributes.product_feature_item.p_9_') %>
  </td>
  <td>
    <%= field_errors f.object, :cost %>
    <%= f.number_field :cost, class: 'form-control field cost', placeholder: t('activerecord.attributes.product_feature_item.cost') %>
  </td>
  <% if no_balance %>
    <td>
      <%= field_errors f.object, :balance %>
      <%= f.number_field :balance, class: 'form-control field balance', placeholder: t('activerecord.attributes.product_feature_item.balance') %>
    </td>
  <% end %>
  <td class="va-mid remove">
    <%= link_to_remove_association f, data: {confirm: "Энэ шинж чанарыг устгахдаа итгэлтэй байна уу, үүнтэй холбоотой бүх өгөгдөл устах болно!"} do %>
      <%= nested_remove_btn %>
    <% end %>
  </td>
</tr>