<div class="nested-fields text-center" style="float: left;margin-right: 8px">
  <div>
    <%= field_errors f.object, :photo %>
    <%= f.file_field :photo, accept: "image/*", class: 'image-file none-force' %>
    <div class="preview noselect">
      <% if f.object.photo.present? %>
        <%= image_tag f.object.photo.url(:tumb), class: 'preview-img' %>
      <% else %>
        <span class="text"><%= t('upload_image') %></span>
      <% end %>
    </div>
    <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
      <%= nested_remove_btn %>
    <% end %>
  </div>
</div>