<tr class="nested-fields">
  <td class="va-mid">
    <%= field_errors f.object, :image %>
    <%= f.file_field :image, accept: "image/*", class: 'image-file none-force' %>
    <div class="preview noselect">
      <% if f.object.image.present? %>
        <%= image_tag f.object.image.url(:tumb), class: 'preview-img' %>
      <% else %>
        <span class="text"><%= t('upload_image') %></span>
      <% end %>
    </div>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :video %>
    <%= f.file_field :video, accept: "video/*" %>
    <% if f.object.persisted? && f.object.video.present? %>
      <%= link_to t('controls.button.watch'), f.object.video.url(:original, false) %>
    <% end %>
  </td>
  <td class="remove va-mid">
    <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
      <%= nested_remove_btn %>
    <% end %>
  </td>
</tr>
<script>
    $(document).ready(function () {
        load_image_preview("#tb_product_videos .nested-fields:last");
    })
</script>