<div class="body-box">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product.n_name') %>:</b> <%= @product.n_name %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product.n_model') %>:</b> <%= @product.n_model %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product.n_package') %>:</b> <%= @product.n_package %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product.brand_id') %>
          :</b> <%= @product.brand.present? ? @product.brand.name : '' %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product.n_material') %>:</b> <%= @product.n_material %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product.n_advantage') %>:</b> <%= @product.n_advantage %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product.category_id') %>:</b> <%= get_name_recursive(@product.category) %>
      </div>
      <div class="col-md-2 field_div">
        <b><%= t('activerecord.attributes.product.code') %>:</b> <%= @product.code %>
      </div>
      <div class="col-md-2 field_div">
        <b><%= t('activerecord.attributes.product.is_web') %>:</b> <%= yes_no @product.is_web %>
      </div>
      <% if !@product.is_own && @product.customer.present? %>
        <div class="col-md-2 field_div">
          <b><%= t('activerecord.attributes.product.is_own') %>:</b> <%= yes_no(@product.is_own) %>
        </div>
        <div class="col-md-2 field_div">
          <b><%= t('activerecord.attributes.product.customer_id') %>:</b> <%= @product.customer.name %>
        </div>
      <% else %>
        <div class="col-md-4 field_div">
          <b><%= t('activerecord.attributes.product.is_own') %>:</b> <%= yes_no(@product.is_own) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 field_div">
        <form action="" class="form-horizontal">
          <% ProductFeature.skip_no.order_by_queue.each {|feature| %>
            <% if feature.id == 2 %>
              <div class="form-group">
                <%= label_tag :product_feature_rel, class: 'col-sm-1 control-label' do %>
                  <%= feature.name %>
                <% end %>
                <div class="col-sm-11">
                  <% feature.options.order_queue.each {|option| %>
                    <div class="col-md-2">
                      <div class="checkbox" style="position: relative; display: block; overflow: hidden; height: 20px;">
                        <%= label_tag do %>
                          <%= option.name %>
                          <%= yes_no(@product.option_rels.include?(option.id.to_s)) %>
                        <% end %>
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
            <% else %>
              <% ProductFeatureGroup.order_name.each {|gr| %>
                <div class="form-group">
                  <%= label_tag :gr_rel, class: 'col-sm-1 control-label' do %>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= gr.id %>" style="color: black">
                      <%= gr.name %>
                    </a>
                  <% end %>
                  <div class="col-sm-11">
                    <div id="collapse<%= gr.id %>" class="panel-collapse collapse <%= gr.check_option_selected(@product.option_rels) ? 'in' : '' %>">
                      <% gr.product_feature_options.order_queue.each {|option| %>
                        <div class="col-md-2">
                          <div class="checkbox" style="position: relative; display: block; overflow: hidden;  height: 34px;font-size: 11px">
                            <%= label_tag do %>
                              <%= option.name %>
                              <%= yes_no(@product.option_rels.include?(option.id.to_s)) %>
                            <% end %>
                          </div>
                        </div>
                      <% } %>
                    </div>
                  </div>
                </div>
              <% } %>
            <% end %>
          <% } %>
        </form>
      </div>
    </div>
  </div>
</div>