<%= form_body do %>
  <% product_package = @product.product_package %>
  <div class="col-md-6 field_div">
    <b><%= t('activerecord.attributes.product_package.product_size') %>:</b> <%= product_package.product_size %>
  </div>
  <div class="col-md-6 field_div">
    <b><%= t('activerecord.attributes.product_package.bag') %>:</b> <%= product_package.bag %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product_package.length') %>
          :</b> <%= get_f(product_package.length) %><%= product_package.package_unit_val %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product_package.weight') %>
          :</b> <%= get_f(product_package.weight) %><%= product_package.package_unit_val %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product_package.height') %>
          :</b> <%= get_f(product_package.height) %><%= product_package.package_unit_val %>
      </div>
    </div>
  </div>
  <div class="col-md-12 field_div">
    <b><%= t('activerecord.attributes.product_package.weight') %>:</b>
    <%= get_f(product_package.weight) %><%= product_package.weight_unit_val %>
  </div>
  <div class="col-md-12 field_div">
    <b><%= t('activerecord.attributes.product_package.gift_wrap') %>:</b> <%= product_package.gift_wrap_i18n %>
  </div>
<% end %>