<div class="form-horizontal">
  <div class="body-box">
    <% unless @product.is_own %>
      <div class="form-group">
        <%= label_tag :delivery_type, t('activerecord.attributes.product.delivery_type'), class: 'col-sm-3 control-label', style: 'padding-top:0' %>
        <div class="col-sm-9">
          <% if @product.deliveries.present? %>
            <% @product.deliveries.each_with_index {|deli, index| %>
              <% if index > 0 %>,
              <% end %>
              <%= CustomerContact.deliveries_i18n[CustomerContact.deliveries.key(deli)] %>
            <% } %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= label_tag :product_feature_items, t('activerecord.attributes.product.product_feature_items'), class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th rowspan="2"></th>
            <th rowspan="2" class="text-center va-mid"><%= t('activerecord.attributes.product_feature_item.barcode') %></th>
            <th rowspan="2" class="text-center va-mid"><%= t('activerecord.attributes.product_feature_item.price') %></th>
            <th colspan="2" class="text-center"><%= t('activerecord.attributes.product_feature_item.p_6_8_p') %></th>
            <th colspan="2" class="text-center"><%= t('activerecord.attributes.product_feature_item.p_9_p') %></th>
            <th rowspan="2" class="text-center va-mid"><%= t('activerecord.attributes.product_feature_item.balance') %></th>
          </tr>
          <tr>
            <th class="text-center">%</th>
            <th class="text-center"><%= t('currency') %></th>
            <th class="text-center">%</th>
            <th class="text-center"><%= t('currency') %></th>
          </tr>
          </thead>
          <tbody>
          <% @product.product_feature_items.each {|item| %>
            <tr class="field_div">
              <td><%= item.name %></td>
              <td><%= item.barcode %></td>
              <td><%= get_currency_mn(item.price) %></td>
              <td><%= item.p_6_8_p %></td>
              <td><%= get_currency_mn item.p_6_8 %></td>
              <td><%= item.p_9_p %></td>
              <td><%= get_currency_mn item.p_9_ %></td>
              <td><%= item.balance %></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <% feature_options = @product.product_feature_option_rels.by_size_feature_option %>
    <% if feature_options.present? %>
      <div class="form-group">
        <%= label_tag :product_size_instructions, t('activerecord.attributes.product.product_size_instructions'), class: 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <table class="table table-hover table-bordered">
            <thead>
            <tr>
              <th class="text-center"><%= t('activerecord.attributes.product_size_instruction.size_instruction_id') %></th>
              <% feature_options.each {|feature_option| %>
                <th><%= feature_option.name %></th>
              <% } %>
            </tr>
            </thead>
            <tbody>
            <% SizeInstruction.order_queue.each {|si| %>
              <tr class="field_div">
                <td class="va-mid">
                  <%= si.instruction %>
                </td>
                <% feature_options.each {|feature_option| %>
                  <td><%= @product.get_instruction(si.id, feature_option.id) %></td>
                <% } %>
              </tr>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

  </div>
</div>