<div class="content-wrapper index">
  <section class="content-header align-left padding-15 m-b-5">
    <h1> <%= t('titles.products') %> </h1>
  </section>

  <div class="action-buttons index">
    <%= form_with url: users_products_path, method: "get", class: 'form-horizontal', local: true do |f| %>
      <%= text_field_tag :product_name, @search_name, {class: 'form-control search'} %>
      <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn' %>
      <%= link_to t('controls.button.create'), new_users_product_path, class: 'btn btn-warning' %>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive no-padding">

            <%= render 'layouts/flash_message' %>

            <table class="table table-hover">
              <tr>
                <th ><%= t('activerecord.attributes.product.name') %></th>
                <th ><%= t('activerecord.attributes.product.code') %></th>
                <th ><%= t('activerecord.attributes.product.main_code') %></th>
                <th ><%= t('activerecord.attributes.product.barcode') %></th>
                <th><%= t('activerecord.attributes.product.measure') %></th>
                <th ><%= t('activerecord.attributes.product.ptype') %></th>
                <th ><%= t('activerecord.attributes.product.category') %></th>
                <th ></th>
              </tr>
              <% @products.each do |p| %>
                <tr>
                  <td class="va-mid"><%= link_to p.name, users_product_feature_option_rels_path(product_id: p.id) %></td>
                  <td class="va-mid"><%= link_to p.code, users_product_feature_option_rels_path(product_id: p.id) %></td>
                  <td class="va-mid"><%= link_to p.main_code, users_product_feature_option_rels_path(product_id: p.id) %></td>
                  <td class="va-mid"><%= link_to p.barcode, users_product_feature_option_rels_path(product_id: p.id) %></td>
                  <td class="va-mid"><%= p.measure_i18n %></td>
                  <td class="va-mid"><%= p.ptype_i18n %></td>
                  <td class="va-mid"><%= get_name_recursive(p.category)  %></td>
                  <td>
                    <div class="btn-group">
                      <%= link_to edit_users_product_path(p), class: 'no-underline' do %>
                        <%= button_tag t('controls.button.edit'), class: "btn-sm btn-info m-r-10" %>
                      <% end %>
                      <%= link_to users_product_path(p), class: 'no-underline', :method => :delete, data: {confirm: t('are_you_sure')} do %>
                        <%= button_tag t('controls.button.delete'), class: "btn-sm btn-danger m-r-10" %>
                      <% end %>
                      <%= link_to users_product_path(p), class: 'no-underline' do %>
                        <%= button_tag t('controls.button.show'), class: "btn-sm btn-default" %>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <%= paginate @products %>
      </div>
    </div>
  </section>
</div>