<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<div class="content-wrapper index">
  <section class="content-header align-left padding-15 m-b-5">
    <h1> <%= t('titles.products') %> </h1>
  </section>

  <div class="action-buttons index">
    <%= form_with url: users_products_path, method: "get", class: 'form-horizontal', local: true do |f| %>
      <%= text_field_tag :product_name, @search_name, {class: 'form-control search'} %>
      <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn' %>
      <% if can? :create, Product %>
        <%= link_to t('controls.button.create'), new_users_product_path, class: 'btn btn-warning' %>
      <% end %>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive no-padding">

            <%= render 'layouts/flash_message' %>

            <table class="table table-hover table-bordered">
              <tr>
                <th><%= t('activerecord.attributes.product.name') %></th>
                <th><%= t('activerecord.attributes.product.code') %></th>
                <th><%= t('activerecord.attributes.product.main_code') %></th>
                <th><%= t('activerecord.attributes.product.barcode') %></th>
                <th><%= t('activerecord.attributes.product.measure') %></th>
                <th><%= t('activerecord.attributes.product.ptype') %></th>
                <th><%= t('activerecord.attributes.product.category') %></th>
              </tr>
              <% @products.each do |p| %>
                <tr>
                  <td class="va-mid"><%= link_to p.name, users_product_path(p) %></td>
                  <td class="va-mid"><%= p.code %></td>
                  <td class="va-mid"><%= p.main_code %></td>
                  <td class="va-mid"><%= p.barcode %></td>
                  <td class="va-mid"><%= p.measure_i18n %></td>
                  <td class="va-mid"><%= p.ptype_i18n %></td>
                  <td class="va-mid"><%= get_name_recursive(p.category) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%= paginate @products %>
  </section>
</div>