<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "show" %>
<% end %>
<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.product') %> </h1>
  </section>

  <div class="action-buttons">
    <% if can? :update, Product %>
      <%= link_to t('controls.button.edit'), edit_users_product_path(@product), class: 'btn btn-info' %>
    <% end %>
    <%= link_to t('titles.back_to_list'), users_products_path(page: cookies[:page_number]), {class: "btn blck-btn"} %>
    <% if can? :destroy, Product %>
      <%= link_to t('controls.button.delete'), users_product_path(@product), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
    <% end %>
  </div>
  <%= show_body do %>
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#basic" data-toggle="tab"><%= t('product_form.basic') %></a></li>
        <li><a href="#price" data-toggle="tab"><%= t('product_form.price') %></a></li>
        <li><a href="#information" data-toggle="tab"><%= t('product_form.information') %></a></li>
        <li><a href="#image_video" data-toggle="tab"><%= t('product_form.image_video') %></a></li>
        <li><a href="#package" data-toggle="tab"><%= t('product_form.package') %></a></li>
      </ul>
      <div class="tab-content">
        <div class="active tab-pane" id="basic">
          <%= render 'show_basic' %>
        </div>
        <div class="tab-pane" id="price">
          <%= render 'show_price' %>
        </div>
        <div class="tab-pane" id="information">
          <%= render 'show_information' %>
        </div>
        <div class="tab-pane" id="image_video">
          <%= render 'show_image_video' %>
        </div>
        <div class="tab-pane" id="package">
          <%= render 'show_package' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script>
    lightbox.option({
        'resizeDuration': 200,
    })
</script>