<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "admin-lte/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min" %>
<% end %>
<div class="content-wrapper">

  <section class="content">
    <div class="box box-info">
      <%= form_with model: @product_feature_group, url: @product_feature_group.persisted? ? users_product_feature_group_path : users_product_feature_groups_path,
                    method: @product_feature_group.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="form-group">
            <%= f.label :queue, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@product_feature_group, :queue) %>">
              <%= field_errors(@product_feature_group, :queue) %>
              <%= f.number_field :queue, class: 'form-control', min: 0, step: 1, placeholder: t('activerecord.attributes.product_feature_group.queue') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@product_feature_group, :name) %>">
              <%= field_errors(@product_feature_group, :name) %>
              <%= f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.product_feature_group.name') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :code, class: 'col-sm-3 control-label' %>
            <%= field_errors(@product_feature_group, :code) %>
            <div class="col-sm-6 <%= get_error_class(@product_feature_group, :code) %>">
              <%= f.text_field :code, class: 'form-control', placeholder: t('activerecord.attributes.product_feature_group.code') %>
            </div>
          </div>

          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
            <%= link_to t('titles.back_to_list'), users_product_feature_groups_path(page: cookies[:page_number]), {class: "btn blck-btn"} %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>

<% content_for :footer_js do -%>
  <%= javascript_include_tag 'admin-lte/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min' %>
<% end %>
<script>
    $(document).ready(function () {
        $('#product_feature_group_code').colorpicker({
            customClass: 'colorpicker-2x',
            sliders: {
                saturation: {
                    maxLeft: 200,
                    maxTop: 200
                },
                hue: {
                    maxTop: 200
                },
                alpha: {
                    maxTop: 200
                }
            }
        });
    })
</script>

<style>
  .colorpicker.colorpicker-2x {
    width: 272px;
  }

  .colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
  }

  .colorpicker-2x .colorpicker-hue,
  .colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
  }
</style>