<div class="content-wrapper">
  <section class="content-header">
    <h1><%= t('activerecord.models.fb_post') + t(@fb_post.persisted? ? 'titles.edit' : 'titles.add') %></h1>
  </section>
  <section class="content">
    <div class="box box-info">
      <%= form_for :fb_post, url: @fb_post.persisted? ? users_fb_post_path : users_fb_posts_path, method: @fb_post.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="form-group">
            <%= f.label :post_id, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@fb_post, :post_id) %>">
              <%= field_errors(@fb_post, :post_id) %>
              <%= f.text_field :post_id, class: 'form-control', placeholder: t('activerecord.attributes.fb_post.post_id'), disabled: true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :product_name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@fb_post, :product_name) %>">
              <%= field_errors(@fb_post, :product_name) %>
              <%= f.text_field :product_name, class: 'form-control', placeholder: t('activerecord.attributes.fb_post.product_name') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :product_code, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@fb_post, :product_code) %>">
              <%= field_errors(@fb_post, :product_code) %>
              <%= f.text_field :product_code, class: 'form-control', placeholder: t('activerecord.attributes.fb_post.product_code') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :content, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@fb_post, :content) %>">
              <%= field_errors(@fb_post, :content) %>
              <%= f.text_area :content, {class: 'form-control', placeholder: t('activerecord.attributes.fb_post.content'), style:'height: 300px'} %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :price, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@fb_post, :price) %>">
              <%= field_errors(@fb_post, :price) %>
              <%= f.text_field :price, class: 'form-control', placeholder: t('activerecord.attributes.fb_post.price') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :feature, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@fb_post, :feature) %>">
              <%= field_errors(@fb_post, :feature) %>
              <%= f.text_area :feature, class: 'form-control', placeholder: t('activerecord.attributes.fb_post.feature') %>
            </div>
          </div>

          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
