<div class="content-wrapper">
  <section class="content-header">
    <h1><%= t('activerecord.models.fb_post') + ' ' + t('controls.button.download').downcase %></h1>
  </section>
  <section class="content">
    <div class="box box-info">
      <%= form_with url: download_users_fb_posts_path, method: :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="form-group">
            <label class="col-sm-3 control-label" for=""><%= t('activerecord.attributes.fb_comment.date') %></label>
            <div class="col-sm-9">
              <div class="input-append date input-group date " data-provide="datepicker" style="width: 180px">
                <%= text_field_tag :date, @date.strftime('%F'), class: 'field form-control', placeholder: t('activerecord.attributes.fb_comment.date'), readonly: true %>
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for=""><%= t('titles.hour_start') %></label>
            <div class="col-sm-9">
              <%= select_tag :hour_start, options_for_select(0..23, @hour_start), {class: 'form-control selectpicker'} %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for=""><%= t('titles.hour_end') %></label>
            <div class="col-sm-9">
              <%= select_tag :hour_end, options_for_select(0..23, @hour_end), {class: 'form-control selectpicker'} %>
            </div>
          </div>

          <div class="action-buttons">
            <%= f.submit t('controls.button.download'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>

