<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>

  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.fb_post') %> </h1>
  </section>

  <div class="action-buttons">
    <% if can? :manage, FbPost %>
      <%= link_to t('controls.button.edit'), edit_users_fb_post_path(@fb_post), class: 'btn btn-info' %>
      <%= link_to t('controls.button.delete'), users_fb_post_path(@fb_post), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
    <% end %>
    <%= link_to t('titles.back_to_list'), users_fb_posts_path(page: cookies[:fb_post_page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body table-responsive no-padding">
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.fb_post.post_id') %> :</div>
          <div class="col-data"><%= @fb_post.post_id %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.fb_post.product_code') %> :</div>
          <div class="col-data"><%= @fb_post.product_code %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.fb_post.product_name') %> :</div>
          <div class="col-data"><%= @fb_post.product_name %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.fb_post.price') %> :</div>
          <div class="col-data"><%= @fb_post.price.present? ? get_currency_mn(@fb_post.price) : '---' %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.fb_post.feature') %> :</div>
          <div class="col-data"><%= @fb_post.feature %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
