<%= form_with model: @product_sample, url: @product_sample.persisted? ? users_product_sample_path : users_product_samples_path,
              method: @product_sample.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
  <%= form_body do %>
    <%= f.hidden_field :tab_index, {value: 0} %>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :code, class: 'control-label' %>
        <div class="<%= get_error_class(@product_sample, :code) %>">
          <%= field_errors(@product_sample, :code) %>
          <%= f.text_field :code, class: 'form-control', placeholder: t('activerecord.attributes.product_sample.code') %>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.label :ordered_date, class: 'control-label' %>
        <div class="input-append input-group date <%= get_error_class(@product_sample, :ordered_date) %>" data-provide="datepicker">
          <%= field_errors(@product_sample, :ordered_date) %>
          <%= f.text_field :ordered_date, value: @product_sample.ordered_date.strftime('%F'), class: 'field form-control', placeholder: t('activerecord.attributes.product_sample.ordered_date') %>
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 field_div">
        <%= f.label :supplier_id, class: 'control-label' %>
        <div class="<%= get_error_class(@product_sample, :supplier_id) %>">
          <%= field_errors(@product_sample, :supplier_id) %>
          <%= f.collection_select :supplier_id, ProductSupplier.search(""), :id, :name, {}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-md-3 field_div">
        <%= f.label :exchange, class: 'control-label' %>
        <div class="<%= get_error_class(@product_sample, :exchange) %>">
          <%= field_errors(@product_sample, :exchange) %>
          <%= f.select :exchange, ProductSample.exchanges_i18n.keys.map {|k| [ProductSample.exchanges_i18n[k], k]},
                       {}, {class: 'form-control'} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :product_name, class: 'control-label' %>
        <div class="<%= get_error_class(@product_sample, :product_name) %>">
          <%= field_errors(@product_sample, :product_name) %>
          <%= f.text_field :product_name, class: 'form-control', placeholder: t('activerecord.attributes.product_sample.product_name') %>
        </div>
      </div>
      <div class="col-md-6">
        <%= f.label :link, class: 'control-label' %>
        <div class="<%= get_error_class(@product_sample, :link) %>">
          <%= field_errors(@product_sample, :link) %>
          <%= f.text_field :link, class: 'form-control', placeholder: t('activerecord.attributes.product_sample.link') %>
        </div>
      </div>
    </div>
    <div class="row m-t-10">
      <div class="col-md-2">
        <%= f.label :product_sample_images, class: 'control-label' %>
      </div>
      <div class="cocoon-nested-form col-md-10">
        <div id="div_product_sample_images" class="<%= get_error_class(@product_sample, :product_sample_images) %>">
          <%= field_errors(@product_sample, :product_sample_images) %>
          <%= f.fields_for :product_sample_images do |m| %>
            <%= render 'product_sample_image_fields', :f => m %>
          <% end %>
          <div class="links">
            <%= link_to_add_association f, :product_sample_images, class: 'append-after' do %>
              <%= nested_add_btn %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% ProductFeature.skip_no.order_by_queue.each {|feature| %>
          <div class="form-group">
            <%= label_tag :product_feature_rel, class: 'col-sm-1 control-label' do %>
              <%= feature.name %>
            <% end %>
            <div class="col-sm-11">
              <% feature.options.order_queue.each {|option| %>
                <div class="col-md-2">
                  <div class="checkbox" style="position: relative; display: block; overflow: hidden; height: 20px;">
                    <%= label_tag do %>
                      <%= f.check_box(:option_rels, {:multiple => true}, option.id.to_s, nil) %>
                      <%= option.name %>
                    <% end %>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: 'col-sm-1 control-label' %>
      <div class="col-sm-11 <%= get_error_class(@product_sample, :description) %>">
        <%= field_errors(@product_sample, :description) %>
        <%= f.text_area :description, {class: 'form-control', placeholder: t('activerecord.attributes.product_sample.description')} %>
      </div>
    </div>

    <div class="row">
      <div class="action-buttons">
        <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
      </div>
    </div>
  <% end %>
<% end %>