<tr class="nested-fields">
  <td class="va-mid">
    <%= field_errors f.object, :product_name %>
    <%= f.text_field :product_name, class: 'form-control field', placeholder: t('activerecord.attributes.product_supply_order_item.product_name') %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :link %>
    <%= f.text_field :link, class: 'form-control field', placeholder: t('activerecord.attributes.product_supply_order_item.link') %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :note %>
    <%= f.text_field :note, class: 'form-control field', placeholder: t('activerecord.attributes.product_supply_order_item.note') %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :image %>
    <%= f.file_field :image, accept: "image/*", class: 'image-file none-force' %>
    <div class="preview noselect">
      <% if f.object.image.present? %>
        <%= image_tag f.object.image.url(:tumb), class: 'preview-img' %>
      <% else %>
        <span class="text"><%= t('upload_image') %></span>
      <% end %>
    </div>
  </td>
  <td class="va-mid remove">
    <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
      <%= nested_remove_btn %>
    <% end %>
  </td>
</tr>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker('refresh');
        select_input_press($('tr.nested-fields:last select:first').attr('id'), "<%= search_product_path %>", false);

        var last_tr = "#tb_product_supply_order_items .nested-fields:last";
        $(last_tr).find('.selectpicker').selectpicker('refresh');
        load_image_preview(last_tr);

    });

</script>