<div class="body-box">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 field_div">
        <b><%= t('activerecord.attributes.product_sample.status') %>:</b> <%= @product_sample.get_status %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3 field_div">
        <b><%= t('activerecord.attributes.product_sample.code') %>:</b> <%= @product_sample.code %>
      </div>
      <div class="col-md-3 field_div">
        <b><%= t('activerecord.attributes.product_sample.ordered_date') %>
          :</b> <%= @product_sample.ordered_date.strftime('%F') %>
      </div>
      <div class="col-md-3 field_div">
        <b><%= t('activerecord.attributes.product_sample.logistic_id') %>:</b> <%= @product_sample.logistic.name %>
      </div>
      <div class="col-md-3 field_div">
        <b><%= t('activerecord.attributes.product_sample.exchange') %>:</b> <%= @product_sample.exchange_i18n %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6 field_div">
        <b><%= t('activerecord.attributes.product_sample.product_name') %>:</b> <%= @product_sample.product_name %>
      </div>
      <div class="col-md-6 field_div">
        <b><%= t('activerecord.attributes.product_sample.link') %>:</b> <%= @product_sample.link %>
      </div>
    </div>
  </div>
  <% if @product_sample.product_sample_images.present? %>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 field_div">
          <% @product_sample.product_sample_images.each {|img| %>
            <div style="display: inline-block">
              <%= link_to img.image.url, "data-lightbox": "roadtrip" do %>
                <%= image_tag img.image.url(:tumb), class: 'tumb' %>
              <% end %>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12 field_div">
      <form action="" class="form-horizontal">
        <% ProductFeature.skip_no.order_by_queue.each {|feature| %>
          <% if feature.id == 2 %>
            <div class="form-group">
              <%= label_tag :product_feature_rel, class: 'col-sm-1 control-label' do %>
                <%= feature.name %>
              <% end %>
              <div class="col-sm-11">
                <% feature.options.order_queue.each {|option| %>
                  <div class="col-md-2">
                    <div class="checkbox" style="position: relative; display: block; overflow: hidden; height: 20px;">
                      <%= label_tag do %>
                        <%= option.name %>
                        <%= yes_no(@product_sample.option_rels.include?(option.id.to_s)) %>
                      <% end %>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          <% else %>
            <% ProductFeatureGroup.order_name.each {|gr| %>
              <div class="form-group">
                <%= label_tag :gr_rel, class: 'col-sm-1 control-label' do %>
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= gr.id %>" style="color: black">
                    <%= gr.name %>
                  </a>
                <% end %>
                <div class="col-sm-11">
                  <div id="collapse<%= gr.id %>" class="panel-collapse collapse <%= gr.check_option_selected(@product_sample.option_rels) ? 'in' : '' %>">
                    <% gr.product_feature_options.order_queue.each {|option| %>
                      <div class="col-md-2">
                        <div class="checkbox" style="position: relative; display: block; overflow: hidden; height: 20px;">
                          <%= label_tag do %>
                            <%= option.name %>
                            <%= yes_no(@product_sample.option_rels.include?(option.id.to_s)) %>
                          <% end %>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
            <% } %>
          <% end %>
        <% } %>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6 field_div">
        <b><%= t('activerecord.attributes.product_sample.description') %>:</b> <%= @product_sample.description %>
      </div>
    </div>
  </div>
</div>