<div class="body-box">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product_sample.code') %>:</b> <%= @product_sample.code %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product_sample.ordered_date') %>
          :</b> <%= @product_sample.ordered_date.strftime('%F') %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product_sample.supplier_id') %>:</b> <%= @product_sample.supplier.name %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product_sample.payment') %>:</b> <%= @product_sample.payment_i18n %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product_sample.exchange') %>:</b> <%= @product_sample.exchange %>
      </div>
      <div class="col-md-4 field_div">
        <b><%= t('activerecord.attributes.product_sample.exchange_value') %>:</b> <%= @product_sample.exchange_value %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 field_div">
        <table class="table table-bordered" id="tb_product_supply_order_items">
          <thead>
          <tr>
            <th><%= t('activerecord.attributes.product_supply_order_item.product_id') %></th>
            <th><%= t('activerecord.attributes.product_supply_order_item.link') %></th>
            <th><%= t('activerecord.attributes.product_supply_order_item.note') %></th>
            <th><%= t('activerecord.attributes.product_supply_order_item.image') %></th>
          </tr>
          </thead>
          <tbody>
          <% @product_sample.product_supply_order_items.each {|order_item| %>
            <tr>
              <td class="va-mid"><%= order_item.product.full_name %></td>
              <td class="va-mid"><%= order_item.link %></td>
              <td class="va-mid"><%= order_item.note %></td>
              <td>
                <% if order_item.image.present? %>
                  <%= link_to order_item.image.url, "data-lightbox": "roadtrip" do %>
                    <%= image_tag order_item.image.url(:tumb), class: 'tumb' %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>