<div class="content-wrapper">
  <section class="content-header">
    <h1><%= t('activerecord.models.operator') + t(@operator.persisted? ? 'titles.edit' : 'titles.add') %></h1>
  </section>
  <section class="content">
    <div class="box box-info">
      <%= form_with model: @operator, url: @operator.persisted? ? users_operator_path : users_operators_path, method: @operator.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="form-group">
            <%= f.label :surname, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@operator, :surname) %>">
              <%= field_errors(@operator, :surname) %>
              <%= f.text_field :surname, class: 'form-control', placeholder: t('activerecord.attributes.operator.surname') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@operator, :name) %>">
              <%= field_errors(@operator, :name) %>
              <%= f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.operator.name') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :gender, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 radio-group p-t-5 <%= get_error_class(@operator, :gender) %>">
              <%= field_errors(@operator, :gender) %>
              <%= f.collection_radio_buttons :gender, Operator.genders_i18n, :first, :second do |b| %>
                <%= b.radio_button %>&nbsp;&nbsp;<%= b.text %> &nbsp;&nbsp;
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@operator, :email) %>">
              <%= get_user_field_errors(@operator, :email) %>
              <%= f.email_field :email, class: 'form-control', placeholder: t('activerecord.attributes.operator.email'), disabled: @operator.persisted? %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :phone, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@operator, :phone) %>">
              <%= field_errors(@operator, :phone) %>
              <%= f.text_field :phone, class: 'form-control', placeholder: t('activerecord.attributes.operator.phone') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :order_sys_name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@operator, :order_sys_name) %>">
              <%= field_errors(@operator, :order_sys_name) %>
              <%= f.text_field :order_sys_name, class: 'form-control', placeholder: t('activerecord.attributes.operator.order_sys_name') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :operator_permission_rels, class: 'col-sm-3 control-label' %>

            <div class="col-sm-9 cocoon-nested-form">
              <div class="<%= get_error_class(@operator, :operator_permission_rels) %>">
                <%= field_errors(@operator, :operator_permission_rels) %>
                <table class="table table-bordered" id="tb_operator_permission_rels">
                  <tr>
                    <th width="45%"><%= t('activerecord.attributes.operator_permission_rel.operator_permission_id') %></th>
                    <th width="45%"><%= t('activerecord.attributes.operator_permission_rel.role') %></th>
                    <th width="50px"></th>
                  </tr>
                  <%= f.fields_for :operator_permission_rels do |rel| %>
                    <%= render 'operator_permission_rel_fields', f: rel %>
                  <% end %>
                </table>
              </div>
              <div class="links item_append">
                <%= link_to_add_association f, :operator_permission_rels, data: {association_insertion_node: '#tb_operator_permission_rels', association_insertion_method: :append} do %>
                  <%= nested_add_btn %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
