<div class="modal fade" id="model-operator-search">
  <div class="modal-dialog">
    <div class="modal-content modal-operator">
      <div class="modal-header">
        <h4 class="modal-title"><%= t('titles.search_by_user') %></h4>
      </div>
      <%= form_tag users_operators_path, method: "get" do %>
        <div class="modal-body">
          <p><%= search_field_tag :name, search_name, class: 'form-control', placeholder: 'Нэр оруулна уу' %></p>
          <p><%= search_field_tag :email, search_email, class: 'form-control', placeholder: 'Имэйл бичнэ үү' %></p>
          <p><%= search_field_tag :phone, search_phone, class: 'form-control', placeholder: 'Утасны дугаар оруулна уу' %></p>
        </div>
        <div class="modal-footer">
          <%= submit_tag t('controls.button.searching'), :class=>'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
