<div class="content-wrapper">
  <section class="content-header">
    <h1><%= t('activerecord.models.logistic') + t(@logistic.persisted? ? 'titles.edit' : 'titles.add') %></h1>
  </section>
  <section class="content">
    <div class="box box-info">
      <%= form_with model: @logistic, url: @logistic.persisted? ? admin_users_logistic_path : admin_users_logistics_path, method: @logistic.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="form-group">
            <%= f.label :surname, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@logistic, :surname) %>">
              <%= field_errors(@logistic, :surname) %>
              <%= f.text_field :surname, class: 'form-control', placeholder: t('activerecord.attributes.logistic.surname') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@logistic, :name) %>">
              <%= field_errors(@logistic, :name) %>
              <%= f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.logistic.name') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :gender, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 radio-group p-t-5 <%= get_error_class(@logistic, :gender) %>">
              <%= field_errors(@logistic, :gender) %>
              <%= f.collection_radio_buttons :gender, Operator.genders_i18n, :first, :second do |b| %>
                <%= b.radio_button %>&nbsp;&nbsp;<%= b.text %> &nbsp;&nbsp;
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@logistic, :email) %>">
              <%= get_user_field_errors(@logistic, :email) %>
              <%= f.email_field :email, class: 'form-control', placeholder: t('activerecord.attributes.logistic.email'), disabled: @logistic.persisted? %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :phone, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@logistic, :phone) %>">
              <%= field_errors(@logistic, :phone) %>
              <%= f.text_field :phone, class: 'form-control', placeholder: t('activerecord.attributes.logistic.phone') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :logistic_permission_rels, class: 'col-sm-3 control-label' %>

            <div class="col-sm-9 cocoon-nested-form">
              <div class="<%= get_error_class(@logistic, :logistic_permission_rels) %>">
                <%= field_errors(@logistic, :logistic_permission_rels) %>
                <table class="table table-bordered" id="tb_logistic_permission_rels">
                  <tr>
                    <th width="45%"><%= t('activerecord.attributes.logistic_permission_rel.logistic_permission_id') %></th>
                    <th width="45%"><%= t('activerecord.attributes.logistic_permission_rel.role') %></th>
                    <th width="50px"></th>
                  </tr>
                  <%= f.fields_for :logistic_permission_rels do |rel| %>
                    <%= render 'logistic_permission_rel_fields', f: rel %>
                  <% end %>
                </table>
              </div>
              <div class="links item_append">
                <%= link_to_add_association f, :logistic_permission_rels, data: {association_insertion_node: '#tb_logistic_permission_rels', association_insertion_method: :append} do %>
                  <%= nested_add_btn %>
                <% end %>
              </div>
            </div>
          </div>


          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
