<div class="content-wrapper">

  <section class="content">
    <div class="box box-info">
      <%= form_with model: @customer, url: @customer.persisted? ? users_customer_path : users_customers_path,
                    method: @customer.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="form-group">
            <%= f.label :logo, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@customer, :logo) %>">
              <%= f.file_field :logo, accept: "image/*", class: 'image-file none-force' %>
              <%= field_errors(@customer, :logo) %>
              <div class="preview noselect" style="width: 230px;height: 80px">
                <% if @customer.logo.present? %>
                  <%= image_tag @customer.logo.url(:tumb), class: 'preview-img', style: 'width: 230px;height: 80px' %>
                <% else %>
                  <span class="text"><%= t('upload_image') %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :c_type, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 radio-group p-t-5 <%= get_error_class(@customer, :c_type) %>">
              <%= field_errors(@customer, :c_type) %>
              <%= f.collection_radio_buttons :c_type, Customer.c_types_i18n, :first, :second do |b| %>
                <%= b.radio_button %>&nbsp;&nbsp;<%= b.text %> &nbsp;&nbsp;
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :queue, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@customer, :queue) %>">
              <%= field_errors(@customer, :queue) %>
              <%= f.number_field :queue, class: 'form-control', min: 0, step: 1, placeholder: t('activerecord.attributes.size_instruction.queue') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :code, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@customer, :code) %>">
              <%= field_errors(@customer, :code) %>
              <%= f.text_field :code, class: 'form-control', placeholder: t('activerecord.attributes.customer.code') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@customer, :name) %>">
              <%= field_errors(@customer, :name) %>
              <%= f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.customer.name') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :description, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@customer, :description) %>">
              <%= field_errors(@customer, :description) %>
              <%= f.text_area :description, class: 'form-control', placeholder: t('activerecord.attributes.customer.description') %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-11"><strong>Харилцагчтай байгуулсан гэрээний мэдээлэл</strong></div>
          </div>
          <div class="form-group">
            <%= f.label :supply_price, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@customer, :supply_price) %>">
              <%= field_errors(@customer, :supply_price) %>
              <%= f.check_box :supply_price %>
            </div>
          </div>
          <div class="form-group" id="customer_contact_fee">
            <label class="col-sm-3 control-label">Барааны үнэ бодох</label>
            <div class="col-sm-9 cocoon-nested-form">
              <%= field_errors(@customer, :customer_contact_fees) %>
              <table class="table table-bordered" id="tb_customer_contact_fees">
                <tr>
                  <th><%= t('activerecord.attributes.customer_contact_fee.range_s') %></th>
                  <th><%= t('activerecord.attributes.customer_contact_fee.range_e') %></th>
                  <th><%= t('activerecord.attributes.customer_contact_fee.percent') %></th>
                  <th width="50px">
                    <%= link_to_add_association f, :customer_contact_fees, data: {association_insertion_node: '#tb_customer_contact_fees', association_insertion_method: :append} do %>
                      <%= nested_add_btn %>
                    <% end %>
                  </th>
                </tr>
                <%= f.fields_for :customer_contact_fees do |m| %>
                  <%= render 'customer_contact_fee_fields', :f => m %>
                <% end %>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Хүргэлтийн нөхцөл сонгох</label>
            <div class="col-sm-9 cocoon-nested-form">
              <%= field_errors(@customer, :customer_contacts) %>
              <table class="table table-bordered" id="tb_customer_contacts">
                <tr>
                  <th><%= t('activerecord.attributes.customer_contact.delivery') %></th>
                  <th><%= t('activerecord.attributes.customer_contact.condition') %></th>
                  <th><%= t('activerecord.attributes.customer_contact.price') %></th>
                  <th width="50px">
                    <%= link_to_add_association f, :customer_contacts, data: {association_insertion_node: '#tb_customer_contacts', association_insertion_method: :append} do %>
                      <%= nested_add_btn('btn_customer_contact') %>
                    <% end %>
                  </th>
                </tr>
                <%= f.fields_for :customer_contacts do |m| %>
                  <%= render 'customer_contact_fields', :f => m %>
                <% end %>
              </table>
            </div>
          </div>

          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
            <%= link_to t('titles.back_to_list'), users_customers_path(page: cookies[:page_number]), {class: "btn blck-btn"} %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
<script !src="">
    $(document).ready(function () {
        load_image_preview('.content');
        $('tr.nested-fields .selectpicker').selectpicker('refresh');

        $('#btn_customer_contact').on('click', function () {
            setTimeout(set_customer_contacts, 300);
        });
        $('#customer_supply_price').on('change', function () {
            if ($(this).prop('checked')) {
                $('#customer_contact_fee').addClass('none');
            } else $('#customer_contact_fee').removeClass('none');
        });
    });

    function set_customer_contacts() {
        var last_tr = "#tb_customer_contacts .nested-fields:last";
        $(last_tr).find('.selectpicker').selectpicker('refresh');
    }

</script>