<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.customer') %> </h1>
  </section>

  <div class="action-buttons">
    <% if can? :manage, Customer %>
      <%= link_to t('controls.button.edit'), edit_users_customer_path(@customer), class: 'btn btn-info' %>
      <%= link_to t('controls.button.delete'), users_customer_path(@customer), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
    <% end %>
    <%= link_to t('titles.back_to_list'), users_customers_path(page: cookies[:page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body table-responsive no-padding">
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.customer.logo') %> :</div>
          <div class="col-data">
            <% if @customer.logo.present? %>
              <%= link_to @customer.logo.url, "data-lightbox": "roadtrip" do %>
                <%= image_tag @customer.logo.url(:tumb), size: 'width: 230px;height: 80px' %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.customer.c_type') %> :</div>
          <div class="col-data"><%= @customer.c_type_i18n %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.customer.queue') %> :</div>
          <div class="col-data"><%= @customer.queue %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.customer.code') %> :</div>
          <div class="col-data"><%= @customer.code %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.customer.name') %> :</div>
          <div class="col-data"><%= @customer.name %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.customer.description') %> :</div>
          <div class="col-data"><%= @customer.description.presence || '---' %></div>
        </div>
        <div class="m30"><strong>Харилцагчтай байгуулсан гэрээний мэдээлэл</strong></div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.customer.supply_price') %> :</div>
          <div class="col-data"><%= yes_no @customer.supply_price %></div>
        </div>
        <div class="m30">
          <div class="align-left">Барааны үнэ бодох :</div>
          <div class="col-data">
            <table class="table-bordered table table-hover">
              <tr>
                <th><%= t('activerecord.attributes.customer_contact_fee.range_s') %></th>
                <th><%= t('activerecord.attributes.customer_contact_fee.range_e') %></th>
                <th><%= t('activerecord.attributes.customer_contact_fee.percent') %></th>
              </tr>
              <% @customer.customer_contact_fees.each {|contact_fee| %>
                <tr>
                  <td><%= get_currency_mn(contact_fee.range_s) %></td>
                  <td><%= get_currency_mn(contact_fee.range_e) %></td>
                  <td><%= contact_fee.percent %>%</td>
                </tr>
              <% } %>
            </table>
          </div>
        </div>
        <div class="m30">
          <div class="align-left">Хүргэлтийн нөхцөл сонгох :</div>
          <div class="col-data">
            <table class="table-bordered table table-hover">
              <tr>
                <th><%= t('activerecord.attributes.customer_contact.delivery') %></th>
                <th><%= t('activerecord.attributes.customer_contact.condition') %></th>
                <th><%= t('activerecord.attributes.customer_contact.price') %></th>
              </tr>
              <% @customer.customer_contacts.each {|contact| %>
                <tr>
                  <td><%= contact.delivery_i18n %></td>
                  <td><%= contact.condition_i18n %></td>
                  <td><%= get_currency_mn(contact.price) %></td>
                </tr>
              <% } %>
            </table>
          </div>
        </div>
        <div class="m30">
          <div class="align-left">Агуулахын мэдээлэл :</div>
          <div class="col-data">
            <%= link_to new_users_customer_warehouse_path(customer_id: @customer.id) do %>
              <button type="button" class="btn btn-success btn-xs">
                <i class="fa fa-plus" style="color: white"></i></button>
            <% end %>
            <% @customer.customer_warehouses.each {|warehouse| %>
              <table style="width: 100%;margin-bottom: 8px">
                <tr>
                  <td><strong>Нэр</strong></td>
                  <td><%= warehouse.name %>
                    <%= link_to t('controls.button.delete'), users_customer_warehouse_path(warehouse), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn-sm btn-danger pull-right' %>
                    <%= link_to t('controls.button.edit'), edit_users_customer_warehouse_path(warehouse), class: 'btn-sm btn-info pull-right' %>
                  </td>
                  <td rowspan="3">
                    <iframe src="http://maps.google.com/maps?q=<%= warehouse.latitude %>,<%= warehouse.longitude %>&z=15&output=embed&t=k&f=l"></iframe>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align: top"><strong>Цагийн хуваарь</strong></td>
                  <td>
                    <table class="inner-table">
                      <tr>
                        <td></td>
                        <td>Даваа</td>
                        <td>Мягмар</td>
                        <td>Лхагва</td>
                        <td>Пүрэв</td>
                        <td>Баасан</td>
                        <td>Бямба</td>
                        <td>Ням</td>
                      </tr>
                      <tr>
                        <td>Нээх цаг</td>
                        <td><%= warehouse.mo_start %></td>
                        <td><%= warehouse.tu_start %></td>
                        <td><%= warehouse.we_start %></td>
                        <td><%= warehouse.th_start %></td>
                        <td><%= warehouse.fr_start %></td>
                        <td><%= warehouse.sa_start %></td>
                        <td><%= warehouse.su_start %></td>
                      </tr>
                      <tr>
                        <td>Хаах цаг</td>
                        <td><%= warehouse.mo_end %></td>
                        <td><%= warehouse.tu_end %></td>
                        <td><%= warehouse.we_end %></td>
                        <td><%= warehouse.th_end %></td>
                        <td><%= warehouse.fr_end %></td>
                        <td><%= warehouse.sa_end %></td>
                        <td><%= warehouse.su_end %></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td><strong>Тайлбар</strong></td>
                  <td><%= warehouse.description %></td>
                </tr>
              </table>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<style>
  .inner-table td {
    border: 1px solid darkgray;
  }
</style>