<% provide :head_tags do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>"></script>
<% end %>
<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<div class="content-wrapper">
  <div class="col-md-12 m-t-10 m-b-10">
    <div class="col-md-3 search"></div>
    <div class="col-md-3 search"></div>
    <div class="col-md-3 search"></div>
    <div class="col-md-3 search">
      <%= button_tag 'Хувиарлах', type: 'button', class: 'btn-sm btn-warning pull-right m-l-10', id: 'to_travel' %>
      <%= link_to zone_operators_salesman_travels_path do %>
        <%= button_tag 'Бүсээр', type: 'button', class: 'btn-sm btn-info pull-right m-l-10' %>
      <% end %>
      <%= link_to operators_salesman_travels_path do %>
        <%= button_tag 'Жагсаалт', type: 'button', class: 'btn-sm btn-primary pull-right' %>
      <% end %>
    </div>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div id="map"></div>
      </div>
    </div>
  </section>
</div>
<%= render 'shared/form_modal', title: 'Захиалга хувиарлалт', modal_class: 'modal-lg' %>
<script type="text/javascript" charset="utf-8">
    $('body').addClass('sidebar-collapse');
    var map;
    var marker_tracks = [];
    var marker_sales = [];
    let sale_ids = [];
    var infowindow;

    function initMap() {
        let myCoords = new google.maps.LatLng(47.918772, 106.917609);
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: myCoords,
            mapTypeId: 'hybrid',
            output: 'embed',
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: true,
            streetViewControl: true,
            rotateControl: true,
            fullscreenControl: true
        });
    }

    function load_track() {
        Rails.ajax({
            url: "<%= operators_distributing_salesman_track_path %>",
            type: "POST"
        });
    }

    function set_marker_tracks(m_tracks) {
        remove_markers(marker_tracks);
        marker_tracks = [];
        for (let i = 0; i < m_tracks.length; i++) {
            const array = m_tracks[i];
            let latLng = new google.maps.LatLng(array[3], array[4]);
            // var icon = {
            //     url: "/images/map/prius.png", // url
            //     scaledSize: new google.maps.Size(87, 32), // scaled size
            // origin: new google.maps.Point(0, 0), // origin
            // anchor: new google.maps.Point(0, 0) // anchor
            // };
            const m = new google.maps.Marker({
                position: latLng,
                map: map,
                label: {
                    fontSize: "8pt",
                    text: array[1]
                },
                zIndex: array[0]
            });
            google.maps.event.addListener(m, 'click', function () {
                let content = '<p>' + array[2] + '</p>' +
                    array[5];
                let infowindow = new google.maps.InfoWindow({
                    content: content,
                    position: latLng,
                });
                infowindow.open(map);
            });
            marker_tracks.push(m);
        }
    }

    function remove_markers(markers) {
        for (let i = 0; i < markers.length; i++) {
            console.log("remove:" + i);
            markers[i].setMap(null);
        }
    }

    function generateRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function add_sale_marker(lat, lng, sale_id, phone, location, time, allocation_type, color, index) {
        let latLng = new google.maps.LatLng(lat, lng);
        let image = {
            url: "/images/map/" + color + "-dot.png",
            labelOrigin: new google.maps.Point(15, 10)
        };
        const m = new google.maps.Marker({
            position: latLng,
            map: map,
            icon: image,
            id: sale_id,
        });
        google.maps.event.addListener(m, 'click', function () {
            const is_added = sale_ids.includes(sale_id);
            infowindow = new google.maps.InfoWindow({
                content: "<p>" + location + "</p>" +
                    "<p>Утас: " + phone + "</p>" +
                    "<p>Цаг: " + time + "</p>" +
                    "<button onclick='add_product_sale(" + sale_id + "," + is_added + "," + lat + "," + lng + "," + phone + ",\"" + location + "\",\"" + time + "\",\"" + allocation_type + "\")' type='button'>" + (is_added ? "Хасах" : "Сонгох") + "</button>",
                position: latLng,
            });
            infowindow.open(map);
        });
        marker_sales.push(m);
        if (index === 0) {
            map.setCenter(latLng);
        }
    }

    function add_product_sale(sale_id, is_added, lat, lng, phone, location, time, allocation_type) {
        if (is_added) {
            if (sale_ids.includes(sale_id)) {
                const index = sale_ids.indexOf(sale_id);
                sale_ids.splice(index, 1);
                refresh_marker(sale_id, lat, lng, phone, location, time, allocation_type, 'red');
            }
        } else {
            if (!sale_ids.includes(sale_id)) {
                sale_ids.push(sale_id);
                refresh_marker(sale_id, lat, lng, phone, location, time, allocation_type, 'green');
            }
        }
        infowindow.close();
    }

    function refresh_marker(sale_id, lat, lng, phone, location, time, allocation_type, color) {
        marker_sales.forEach(element => {
            if (sale_id === element['id']) {
                const index = marker_sales.indexOf(element);
                if (index !== -1) {
                    marker_sales[index].setMap(null);
                    marker_sales.splice(index, 1);
                }
                add_sale_marker(lat, lng, sale_id, phone, location, time, allocation_type, color, 1)
            }
        });
    }

    $(document).ready(function () {
        $('#map').css('height', ($(window).height() - 170) + 'px');

        App.order = App.cable.subscriptions.create("SalesmanTrackChannel", {
            received: function () {
                load_track();
            }
        });

        App.order = App.cable.subscriptions.create("SalesmanTravelChannel", {
            received: function (data) {
                if (data['obj_type'] === "sale") {
                    add_sale_marker(data['latitude'], data['longitude'], data['sale_id'], data['phone'], data['name'], data['delivery_hour'], data['allocation_type'], 'red', 1)
                }
            }
        });
        initMap();
        load_track();

        <% zones = LocationZone.order_queue
        if zones.present? %>
        <% zones.each { |zone| %>
        new google.maps.Polyline({
            path: [{lat: <%= zone.lat_l_t %>, lng: <%= zone.lng_l_t %>},
                {lat: <%= zone.lat_l_b %>, lng: <%= zone.lng_l_b %>},
                {lat: <%= zone.lat_r_b %>, lng: <%= zone.lng_r_b %>},
                {lat: <%= zone.lat_r_t %>, lng: <%= zone.lng_r_t %>},
                {lat: <%= zone.lat_l_t %>, lng: <%= zone.lng_l_t %>}],
            geodesic: true,
            strokeColor: generateRandomColor(),
            strokeOpacity: 1.0,
            strokeWeight: 2,
            map: map,
        });
        <% }
         end %>

        <% @product_sales.each_with_index { |sale, index|
        location = sale.location %>
        add_sale_marker(<%= location.latitude %>, <%=location.longitude %>, <%= sale.id %>, <%= sale.phone %>, "<%= location.full_name %>", "<%= sale.delivery_hour %>", "<%= sale.allocation_type %>", 'red', <%= index %>);
        <% } %>

        $('#to_travel').on('click', function () {

            $("input.sale").each(function () {
                if ($(this).prop('checked')) {
                    sale_ids.push($(this).attr('id'));
                }
            });
            if (sale_ids.length > 0) {
                $('#form_modal').modal('show');
                $('#form_modal_body').html("<div class='text-center'><img src='/images/loading.gif'></div>");
                Rails.ajax({
                    url: "<%= new_operators_salesman_travel_path %>",
                    type: "GET",
                    data: "sale_ids=" + sale_ids + "&allocation=map"
                });
            } else {
                alert("Захиалга сонгоно уу!");
            }
        });
    });

</script>