<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.salesman_travel') %> </h1>
  </section>

  <div class="action-buttons">
    <% if (can? :manage, SalesmanTravel) && !@salesman_travel.load_at.present? %>
      <%= link_to t('controls.button.edit'), edit_operators_salesman_travel_path(@salesman_travel), class: 'btn btn-info' %>
      <%= link_to t('controls.button.delete'), operators_salesman_travel_path(@salesman_travel), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
    <% end %>
    <%= link_to t('titles.back_to_list'), operators_salesman_travels_path(page: cookies[:salesman_travel_page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body table-responsive no-padding">
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.number') %> :</div>
          <div class="col-data"><%= @salesman_travel.id %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.created_at') %> :</div>
          <div class="col-data"><%= @salesman_travel.created_at.strftime('%F %R') %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.salesman_id') %> :</div>
          <div class="col-data"><%= @salesman_travel.salesman.name %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.operator_id') %> :</div>
          <div class="col-data"><%= @salesman_travel.operator.name %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.description') %> :</div>
          <div class="col-data"><%= @salesman_travel.description %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.salesman_travel_routes') %> :</div>
          <div class="col-data">
            <table class="table-bordered table table-hover">
              <tr>
                <th><%= t('activerecord.attributes.salesman_travel_route.queue') %></th>
                <th>Байршил</th>
                <th>Цаг</th>
                <th>Утас</th>
              </tr>
              <% @salesman_travel.salesman_travel_routes.each {|route| %>
                <tr>
                  <td><%= route.queue %></td>
                  <td><%= route.location.full_name %></td>
                  <td><%= route.product_sale.delivery_hour %></td>
                  <td><%= route.product_sale.phone %></td>
                </tr>
              <% } %>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>