<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.salesman_travel') %> </h1>
  </section>

  <div class="action-buttons">
    <%= link_to t('titles.back_to_list'), operators_salesman_travels_path(page: cookies[:salesman_travel_page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body table-responsive no-padding">
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.number') %> :</div>
          <div class="col-data"><%= @salesman_travel.id %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.created_at') %> :</div>
          <div class="col-data"><%= @salesman_travel.created_at.strftime('%F %R') %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.salesman_id') %> :</div>
          <div class="col-data"><%= @salesman_travel.salesman.name %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.operator_id') %> :</div>
          <div class="col-data"><%= @salesman_travel.operator.name %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.description') %> :</div>
          <div class="col-data"><%= @salesman_travel.description %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman_travel.salesman_travel_routes') %> :</div>
          <div class="col-data text-right">
            <% unless @salesman_travel.load_at.present? %>
              <button type="button" class="btn btn-success btn-xs" id="btn_travel_route">
                <i class="fa fa-plus" style="color: white"></i>
              </button>
            <% end %>
            <table class="table-bordered table table-hover m-t-5">
              <tr>
                <th><%= t('activerecord.attributes.salesman_travel_route.queue') %></th>
                <th>Байршил</th>
                <th>Цаг</th>
                <th>Утас</th>
              </tr>
              <% @salesman_travel.salesman_travel_routes.each {|route| %>
                <tr>
                  <td><%= route.queue %></td>
                  <td><%= route.location.full_name %>, <%= route.product_sale.loc_note %></td>
                  <td><%= route.product_sale.delivery_hour %></td>
                  <td><%= route.product_sale.phone %></td>
                </tr>
              <% } %>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render 'shared/form_modal', title: 'Захиалга нэмэх', modal_class: 'modal-lg' %>
<script>
    $('#btn_travel_route').on('click', function () {
        $('#form_modal').modal('show');
        $('#form_modal_body').html("<div class='text-center'><img src='/images/loading.gif'></div>");
        Rails.ajax({
            url: "<%= insert_sale_operators_salesman_travels_path %>",
            type: "POST",
            data: "travel_id=<%= @salesman_travel.id %>"
        });
    });

    function insert_to_sale() {
        const sale_id = $('#form_modal_body #product_sale_id').val();
        const queue = $('#form_modal_body #product_sale_queue').val();
        if (sale_id.length === 0) {
            alert("Захиалга сонгоно уу!")
        } else if (queue.length === 0) {
            alert("Дараалал сонгоно уу!")
        } else {
            Rails.ajax({
                url: "<%= insert_to_sale_operators_salesman_travels_path %>",
                type: "POST",
                data: "travel_id=<%= @salesman_travel.id %>&product_sale_id=" + sale_id + "&queue=" + queue,
                success: function (data) {
                    if (data.success) {
                        $('#form_modal').modal('hide');
                        window.location.reload();
                    } else {
                        alert(data.errors);
                    }
                }
            });
        }
    }
</script>