<tr class="nested-fields">
  <td class="image va-mid">
    <%= product_img_web_link(f.object) %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :product_id %>
    <%= f.collection_select :product_id, Product.search_by_id(f.object.product_id), :id, :full_name,
                            {:prompt => t('controls.select.none')},
                            {class: 'form-control selectpicker select_product', onchange: 'func_change_product(this)', "data-live-search": "true"} %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :feature_item_id %>
    <%= f.select :feature_item_id, ProductFeatureItem.search(f.object.product_id.presence || nil).collect {|p| [p.name, p.id, {:'data-subtext' => p.balance, product: p.product_id}]},
                 {:prompt => t('controls.select.none')},
                 {class: 'form-control selectpicker feature_item', onchange: 'func_change_feature(this)', "data-live-search": "true"} %>
  </td>
  <td class="va-mid">
    <%= field_errors f.object, :quantity %>
    <%= f.number_field :quantity, value: f.object.quantity.presence || 1, class: 'form-control field item_quantity', oninput: "calc_total_price()", placeholder: t('activerecord.attributes.product_call_item.quantity') %>
  </td>
  <td class="va-mid">
    <%= f.hidden_field :price, class: 'item_price' %>
    <%= text_field_tag :price, f.object.price.present? ? get_currency_mn(f.object.price) : nil, {class: 'form-control field item_price_show', readonly: true, placeholder: t('activerecord.attributes.product_call_item.price')} %>
  </td>
  <td class="va-mid">
    <%= f.hidden_field :sum_price, class: 'item_sum' %>
    <%= text_field_tag :item_sum, f.object.sum_price.present? ? get_currency_mn(f.object.sum_price) : nil, {class: 'form-control field item_sum_show', readonly: true, placeholder: t('activerecord.attributes.product_call_item.sum_price')} %>
  </td>
  <td class="va-mid">
    <%= f.text_field :remainder, class: 'form-control field remainder', value: f.object.remainder.presence || f.object.get_balance, readonly: true, placeholder: t('activerecord.attributes.product_sale_item.remainder') %>
  </td>
  <% feature_item = f.object.feature_item %>
  <td class="va-mid warehouse"><%= (f.object.persisted? && feature_item.present?) ? feature_item.warehouse : '' %></td>
  <td class="va-mid working_hours"><%= f.object.persisted? ? feature_item.working_hours(f.object.created_at) : '' %></td>
  <td class="va-mid remove">
    <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
      <%= nested_remove_btn %>
    <% end %>
  </td>
</tr>