<%= product = shipping_er_product.product %>
<tr class="nested-fields">
  <input type="hidden" value="<%= product.id %>" name="shipping_ub[shipping_ub_boxes_attributes][<%= box_r %>][shipping_ub_products_attributes][<%= row %>][product_id]"
         id="shipping_ub_shipping_ub_boxes_attributes_<%= box_r %>_shipping_ub_products_attributes_<%= row %>_product_id">
  <input type="hidden" value="<%= shipping_er_product.id %>" name="shipping_ub[shipping_ub_boxes_attributes][<%= box_r %>][shipping_ub_products_attributes][<%= row %>][shipping_er_product_id]"
         id="shipping_ub_shipping_ub_boxes_attributes_<%= box_r %>_shipping_ub_products_attributes_<%= row %>_shipping_er_product_id">
  <input type="hidden" value="<%= shipping_er_product[:remainder] %>" name="shipping_ub[shipping_ub_boxes_attributes][<%= box_r %>][shipping_ub_products_attributes][<%= row %>][remainder]"
         id="shipping_ub_shipping_ub_boxes_attributes_<%= box_r %>_shipping_ub_products_attributes_<%= row %>_remainder">
  <td class="va-mid"><%= product.cn_name %></td>
  <td class="va-mid"><%= product.code %></td>
  <td class="va-mid">
    <% if product.picture.present? %>
      <%= link_to product.picture.url, "data-lightbox": "roadtrip" do %>
        <%= t('titles.view') %>
      <% end %>
    <% else %>
      <% sample_images = ProductSampleImage.by_product_id(product)
         sample_images.each {|img| %>
        <div style="display: inline-block">
          <%= link_to img.image.url, "data-lightbox": "roadtrip" do %>
            <%= image_tag img.image.url(:tumb), height: '30' %>
          <% end %>
        </div>
      <% } %>
    <% end %>
  </td>
  <td class="va-mid"><%= shipping_er_product.shipping_er_features.count %></td>
  <td class="va-mid text-center"><%= shipping_er_product.quantity %></td>
  <td class="va-mid text-center"><%= shipping_er_product[:remainder] %></td>
  <td class="va-mid text-center"><%= shipping_er_product.cargo %></td>
  <td class="va-mid text-center"><%= shipping_er_product.shipping_er.date.strftime('%F') %></td>
  <td class="va-mid">
    <input class="form-control field" min="0" step="1" placeholder="<%= t('activerecord.attributes.shipping_ub_product.quantity') %>" type="number" name="shipping_ub[shipping_ub_boxes_attributes][<%= box_r %>][shipping_ub_products_attributes][<%= row %>][quantity]"
           id="shipping_ub_shipping_ub_boxes_attributes_<%= box_r %>_shipping_ub_products_attributes_<%= row %>_quantity">
  </td>
  <td class="va-mid">
    <input class="form-control field" value="<%= box_r > 0 ? 1 : '' %>" <%= box_r > 0 ? 'readonly' : '' %> min="0" step="1" placeholder="<%= t('activerecord.attributes.shipping_ub_product.cargo') %>" type="number" name="shipping_ub[shipping_ub_boxes_attributes][<%= box_r %>][shipping_ub_products_attributes][<%= row %>][cargo]"
           id="shipping_ub_shipping_ub_boxes_attributes_<%= box_r %>_shipping_ub_products_attributes_<%= row %>_cargo">
  </td>
  <td class="va-mid">
    <% if box_r == 0 %>
      <input class="form-control field" min="0" step="0.01" placeholder="<%= t('activerecord.attributes.shipping_ub_product.cost') %>" type="number" name="shipping_ub[shipping_ub_boxes_attributes][<%= box_r %>][shipping_ub_products_attributes][<%= row %>][cost]"
             id="shipping_ub_shipping_ub_boxes_attributes_<%= box_r %>_shipping_ub_products_attributes_<%= row %>_cost">
    <% end %>
  </td>
  <td class="va-mid remove">
    <input value="false" type="hidden" name="shipping_ub[shipping_ub_boxes_attributes][<%= box_r %>][shipping_ub_products_attributes][<%= row %>][_destroy]"
           id="shipping_ub_shipping_ub_boxes_attributes_<%= box_r %>_shipping_ub_products_attributes_<%= row %>__destroy"><a data-confirm="<%= t('are_you_sure') %>" class="remove_fields dynamic" href="#">
    <i class="fa fa-fw fa-minus-circle"></i>
  </a>
  </td>
</tr>