<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>
<div class="content-wrapper">
  <section class="content-header">
    <h1><%= t('activerecord.models.shipping_ub') + t(@shipping_ub.persisted? ? 'titles.edit' : 'titles.add') %></h1>
  </section>
  <section class="content multi">
    <div class="box box-info">
      <%= form_with model: @shipping_ub, url: @shipping_ub.persisted? ? logistics_shipping_ub_path : logistics_shipping_ubs_path, method: @shipping_ub.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="row">
            <div class="col-md-12">
              <div class=" col-md-3 field_div">
                <%= f.label :date, class: 'control-label' %>
                <div class="input-append input-group date <%= get_error_class(@shipping_ub, :date) %>" data-provide="datepicker">
                  <%= field_errors(@shipping_ub, :date) %>
                  <%= f.text_field :date, value: @shipping_ub.date.strftime('%F'), class: 'field form-control', placeholder: t('activerecord.attributes.shipping_ub.date') %>
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-2 field_div">
                <%= f.label :number, class: 'control-label' %>
                <div>
                  <%= text_field_tag :number, show_id(@shipping_ub.persisted? ? @shipping_ub.id : @shipping_ub.number), {class: 'form-control', readonly: true} %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :s_type, class: 'control-label' %>
                <div class="<%= get_error_class(@shipping_ub, :s_type) %>">
                  <%= field_errors(@shipping_ub, :s_type) %>
                  <%= f.select :s_type, ShippingUb.s_types_i18n.keys.map {|k| [ShippingUb.s_types_i18n[k], k]}, {}, {class: 'form-control selectpicker'} %>
                </div>
              </div>
              <div class="col-md-4 field_div">
                <%= f.label :description, class: 'control-label' %>
                <div class="<%= get_error_class(@shipping_ub, :description) %>">
                  <%= field_errors(@shipping_ub, :description) %>
                  <%= f.text_area :description, class: 'form-control', placeholder: t('activerecord.attributes.shipping_ub.description') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 field_div m-t-10">
            <div class="cocoon-nested-form">
              <div class="<%= get_error_class(@shipping_ub, :shipping_ub_boxes) %>">
                <%= field_errors(@shipping_ub, :shipping_ub_boxes) %>

                <% f.object.shipping_ub_boxes.each.with_index do |shipping_ub_box, index| %>
                  <%= f.fields_for :shipping_ub_boxes, shipping_ub_box do |m| %>
                    <%= render 'shipping_ub_box_fields', :f => m, :index => index %>
                  <% end %>
                <% end %>

                <div class="links" id="btn_shipping_ub_boxes" style="position: absolute; display: none">
                  <%= link_to_add_association f, :shipping_ub_boxes do %>
                    <button type="button" class="btn btn-success btn-xs" id="btn_shipping_ub_boxes">
                      <i class="fa"><%= t('controls.button.add_box') %></i></button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 field_div m-t-10">
            <div class="cocoon-nested-form">
              <div class="<%= get_error_class(@shipping_ub, :shipping_ub_samples) %>">
                <%= field_errors(@shipping_ub, :shipping_ub_samples) %>
                <table class="table table-bordered" id="tb_ub_samples">
                  <tr>
                    <th><%= t('activerecord.attributes.shipping_ub.shipping_ub_samples') %> <%= t('activerecord.attributes.shipping_ub_sample.number') %></th>
                    <th><%= t('activerecord.attributes.shipping_ub_sample.cost') %></th>
                    <th width="50px">
                      <%= link_to_add_association f, :shipping_ub_samples, data: {association_insertion_node: '#tb_ub_samples', association_insertion_method: :append} do %>
                        <button type="button" class="btn btn-success btn-xs" id="btn_shipping_ub_samples">
                          <i class="fa"><%= t('controls.button.add_sample_box') %></i></button>
                      <% end %>
                    </th>
                  </tr>
                  <%= f.fields_for :shipping_ub_samples do |m| %>
                    <%= render 'shipping_ub_sample_fields', :f => m %>
                  <% end %>
                </table>
              </div>
            </div>
          </div>

          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
          <div class="col-md-12 field_div">
            <div class="row m-b-10">
              <div class="col-md-6">
                <%= text_field_tag :by_product_name, @by_product_name, {class: 'form-control search', placeholder: t('filters.by_product')} %>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-primary" onclick="search_er_product()"><%= t('controls.button.searching') %></button>
              </div>
            </div>
            <div class="cocoon-nested-form">
              <div id="er_products"></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
<script !src="">
    function add_product(id) {
        let row = $('.tb_shipping_ub_products:last .nested-fields').length;
        let box_r = $('.box_r:last input:first').attr('name').replace("shipping_ub[shipping_ub_boxes_attributes][", "").replace("][box_type]", "");
        Rails.ajax({
            url: "<%= add_product_logistics_shipping_ubs_path %>",
            type: "POST",
            data: "id=" + id + "&box_r=" + box_r + "&rows=" + row,
            success: function () {
                $('#tb_shipping_er_products tr#p-' + id).remove();
            },
        });
    }

    function search_er_product() {
        $('#er_products').html("<div class='text-center m-t-20 w-100'><img src='/images/loading.gif'></div>");
        Rails.ajax({
            url: "<%= search_er_products_logistics_shipping_ubs_path %>",
            type: "POST",
            data: "order_type=<%= params[:order_type] %>&by_code=" + $('#by_code').val() + "&by_product_name=" + $('#by_product_name').val()
        });
    }

    $(function () {
        search_er_product();
    });
</script>