<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "show" %>
<% end %>
<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1><%= t('activerecord.models.shipping_ub') %></h1>
  </section>

  <div class="action-buttons">
    <% if is_logistic %>
      <%= link_to t('controls.button.edit'), edit_logistics_shipping_ub_path(@shipping_ub), class: 'btn btn-info' %>
      <%= link_to t('titles.back_to_list'), logistics_shipping_ubs_path(page: cookies[:shipping_ub_page_number]), {class: "btn blck-btn"} %>
    <% else %>
      <%= link_to t('titles.product_incomes'), new_users_product_income_path(id: @shipping_ub.id), class: 'btn btn-warning' %>
    <% end %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body table-responsive no-padding">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <b><%= t('activerecord.attributes.shipping_ub.date') %>:</b> <%= @shipping_ub.date.strftime('%F') %>
            </div>
            <div class="col-md-3">
              <b><%= t('activerecord.attributes.shipping_ub.number') %>:</b> <%= show_id @shipping_ub.id %>
            </div>
            <div class="col-md-3">
              <b><%= t('activerecord.attributes.shipping_ub.s_type') %>:</b> <%= @shipping_ub.s_type_i18n %>
            </div>
            <div class="col-md-3">
              <b><%= t('activerecord.attributes.shipping_ub.description') %>:</b> <%= @shipping_ub.description %>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <table class="table table-bordered t-list m-t-10 table-hover">
            <thead>
            <tr>
              <th colspan="5"></th>
              <th colspan="3" class="text-center"><%= t('titles.received') %></th>
              <th colspan="3" class="text-center"><%= t('titles.consignment') %></th>
            </tr>
            <tr>
              <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_name') %></th>
              <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_er_product.product_code') %></th>
              <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_er_product.product_image') %></th>
              <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_er_product.product_feature') %></th>
              <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_ub_product.product_bought') %></th>
              <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_ub_product.quantity') %></th>
              <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_er_product.cargo') %></th>
              <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_ub_product.at_er') %></th>
              <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_ub_product.quantity') %></th>
              <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_ub_product.cargo') %></th>
              <th class="va-mid text-center"><%= t('activerecord.attributes.shipping_ub_product.cost') %></th>
            </tr>
            </thead>
            <tbody>
            <% @shipping_ub.shipping_ub_boxes.each_with_index {|box, b_i| %>
              <% if box.is_box? %>
                <tr>
                  <td class="2" colspan="11"><%= t('activerecord.models.shipping_ub_box') %>: <%= box.number %></td>
                </tr>
              <% end %>
              <% box.shipping_ub_products.each_with_index {|ub, index|
                product = ub.product
                shipping_er_product = ub.shipping_er_product %>
                <tr>
                  <td class="va-mid"><%= product.cn_name %></td>
                  <td class="va-mid"><%= product.code %></td>
                  <td class="va-mid text-center">
                    <% if product.picture.present? %>
                      <%= link_to product.picture.url, "data-lightbox": "roadtrip" do %>
                        <%= t('titles.view') %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="va-mid text-center"><%= shipping_er_product.shipping_er_features.count %></td>
                  <td class="va-mid text-center"><%= shipping_er_product.product_bought %></td>
                  <td class="va-mid text-center"><%= shipping_er_product.quantity %></td>
                  <td class="va-mid text-center"><%= shipping_er_product.cargo %></td>
                  <td class="va-mid text-center"><%= shipping_er_product.shipping_er.date.strftime('%F') %></td>
                  <td class="va-mid text-center"><%= ub.quantity %></td>
                  <td class="va-mid text-center"><%= ub.cargo %></td>
                  <% if box.is_box?
                       if index == 0 %>
                      <td class="va-mid text-center" rowspan="<%= box.shipping_ub_products.count %>"><%= get_currency(box.cost, Const::CURRENCY[0], 3) %></td>
                    <% end
                       else %>
                    <td class="va-mid text-center"><%= get_currency(ub.cost, Const::CURRENCY[0], 3) %></td>
                  <% end %>
                </tr>
              <% }
                 } %>
            </tbody>
          </table>
        </div>
        <% if @shipping_ub.shipping_ub_samples.present? %>
          <div class="col-md-12">
            <table class="table table-bordered t-list m-t-10 table-hover">
              <thead>
              <tr>
                <th width="30px">#</th>
                <th><%= t('activerecord.attributes.shipping_ub.shipping_ub_samples') %> <%= t('activerecord.attributes.shipping_ub_sample.number') %></th>
                <th><%= t('activerecord.attributes.shipping_ub_sample.cost') %></th>
              </tr>
              </thead>
              <tbody>
              <% @shipping_ub.shipping_ub_samples.each_with_index {|s, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= s.number %></td>
                  <td><%= get_currency(s.cost, Const::CURRENCY[0], 3) %></td>
                </tr>
              <% } %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>