<aside class="main-sidebar sidebar_fixed">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <% if can? :read, ProductIncome %>
        <%= content_tag :li, class: (controller_name == 'product_incomes' || controller_name == 'product_income_items') ? 'active' : '' do %>
          <%= link_to users_product_incomes_path do %>
            <i class="fa fa-cart-arrow-down"></i><span><%= t('titles.product_incomes') %></span>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, ProductSupplyOrder %>
        <%= content_tag :li, class: (controller_name == 'product_supply_orders' || controller_name == 'product_supply_order_items') ? 'active' : '' do %>
          <%= link_to users_product_supply_orders_path do %>
            <i class="fa fa-truck"></i><span><%= t('titles.product_supply_orders') %></span>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, Product %>
        <%= content_tag :li, class: (controller_name == 'products' || controller_name == 'product_feature_rels') ? 'active' : '' do %>
          <%= link_to users_products_path do %>
            <i class="fa fa-cube"></i><span><%= t('titles.products') %></span>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li, class: controller_name == 'ali_categories' ? 'active' : '' do %>
        <%= link_to users_ali_categories_path do %>
          <i class="fa fa-check"></i><span>Категри орчуулга</span>
        <% end %>
      <% end %>
      <% if (can? :read, FbPost) || (can? :read, FbComment) || (can? :read, FbCommentAction) %>
        <%= content_tag :li, class: (controller_name == 'fb_posts' || controller_name == 'fb_comments' || controller_name == 'fb_comment_archives' ||
            controller_name == 'fb_comment_actions') ? 'treeview active' : 'treeview' do %>
          <%= link_to "#" do %>
            <i class="fa fa-facebook"></i><span><%= t('titles.facebook') %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>
          <%= content_tag :ul, class: 'treeview-menu' do %>
            <% if can? :read, FbPost %>
              <%= content_tag :li, class: controller_name == 'fb_posts' ? 'active' : '' do %>
                <%= link_to users_fb_posts_path do %>
                  <i class="fa fa-newspaper-o"></i><span><%= t('activerecord.models.fb_post') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, FbComment %>
              <%= content_tag :li, class: controller_name == 'fb_comments' ? 'active' : '' do %>
                <%= link_to users_fb_comments_path do %>
                  <i class="fa fa-comments"></i><span><%= t('activerecord.models.fb_comment') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'fb_comment_archives' && action_name != 'report') ? 'active' : '' do %>
                <%= link_to users_fb_comment_archives_path do %>
                  <i class="fa fa-history"></i><span><%= t('activerecord.models.fb_comment_archive') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'fb_comment_archives' && action_name == 'report') ? 'active' : '' do %>
                <%= link_to report_users_fb_comment_archives_path do %>
                  <i class="fa fa-bar-chart"></i><span><%= t('activerecord.models.fb_comment_report') %></span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, BankTransaction %>
        <%= content_tag :li, class: controller_name == 'bank_transactions' ? 'active' : '' do %>
          <%= link_to users_bank_transactions_path do %>
            <i class="fa fa-dollar"></i><span><%= t('titles.bank_transactions') %></span>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, SmsMessage %>
        <%= content_tag :li, class: controller_name == 'sms_messages' ? 'active' : '' do %>
          <%= link_to users_sms_messages_path do %>
            <i class="fa fa-send"></i><span><%= t('titles.sms_messages') %></span>
          <% end %>
        <% end %>
      <% end %>

      <% if (can? :read, Location) || (can? :read, Product) || (can? :read, ProductLocation) || (can? :read, Operator) || (can? :read, ProductSupplier) %>
        <%= content_tag :li, class: controller_name == 'loc_districts' || controller_name == 'loc_khoroos' || controller_name == 'locations' ||
            controller_name == 'product_categories' || controller_name == 'product_suppliers' ||
            controller_name == 'product_features' || controller_name == 'product_feature_options' ||
            controller_name == 'product_locations' || controller_name == 'category_filter_groups' ||
            controller_name == 'brands' || controller_name == 'manufacturers' || controller_name == 'technical_specifications' || controller_name == 'size_instructions' ||
            controller_name == 'operators' || controller_name == 'salesmen' ? 'treeview active' : 'treeview' do %>
          <%= link_to "#" do %>
            <i class="fa fa-cogs"></i><span><%= t('titles.settings') %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>

          <%= content_tag :ul, class: 'treeview-menu' do %>
            <% if can? :read, Location %>
              <%= content_tag :li, class: (controller_name == 'loc_districts' || controller_name == 'loc_khoroos' || controller_name == 'locations') ? 'active' : '' do %>
                <%= link_to users_loc_districts_path do %>
                  <i class="fa fa-map-marker"></i><span><%= t('titles.loc_districts') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, Product %>
              <%= content_tag :li, class: (controller_name == 'product_categories') ? 'active' : '' do %>
                <%= link_to users_product_categories_path do %>
                  <i class="fa fa-navicon"></i><span><%= t('titles.product_categories') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'product_features' || controller_name == 'product_feature_options') ? 'active' : '' do %>
                <%= link_to users_product_features_path do %>
                  <i class="fa fa-asterisk"></i><span><%= t('titles.product_features') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'category_filter_groups') ? 'active' : '' do %>
                <%= link_to users_category_filter_groups_path do %>
                  <i class="fa fa-filter"></i><span><%= t('titles.category_filter_groups') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'brands') ? 'active' : '' do %>
                <%= link_to users_brands_path do %>
                  <i class="fa fa-adn"></i><span><%= t('activerecord.models.brand') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'technical_specifications') ? 'active' : '' do %>
                <%= link_to users_technical_specifications_path do %>
                  <i class="fa fa-fw fa-balance-scale"></i><span><%= t('activerecord.models.technical_specification') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'size_instructions') ? 'active' : '' do %>
                <%= link_to users_size_instructions_path do %>
                  <i class="fa fa-fw fa-arrows-h"></i><span><%= t('activerecord.models.size_instruction') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'manufacturers') ? 'active' : '' do %>
                <%= link_to users_manufacturers_path do %>
                  <i class="fa fa-flag"></i><span><%= t('activerecord.models.manufacturer') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, ProductLocation %>
              <%= content_tag :li, class: (controller_name == 'product_locations') ? 'active' : '' do %>
                <%= link_to users_product_locations_path do %>
                  <i class="fa fa-shopping-basket"></i><span><%= t('titles.product_locations') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, Operator %>
              <%= content_tag :li, class: (controller_name == 'operators') ? 'active' : '' do %>
                <%= link_to users_operators_path do %>
                  <i class="fa fa-users"></i><span><%= t('titles.operators') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'salesmen') ? 'active' : '' do %>
                <%= link_to users_salesmen_path do %>
                  <i class="fa fa-car"></i><span><%= t('titles.salesmen') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, ProductSupplier %>
              <%= content_tag :li, class: (controller_name == 'product_suppliers') ? 'active' : '' do %>
                <%= link_to users_product_suppliers_path do %>
                  <i class="fa fa-building-o"></i><span><%= t('titles.product_suppliers') %></span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </section>
</aside>