<aside class="main-sidebar sidebar_fixed">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <% if can? :read, ProductIncome %>
        <%= content_tag :li, class: (controller_name == 'product_incomes' || controller_name == 'product_income_items') ? 'active' : '' do %>
          <%= link_to users_product_incomes_path do %>
            <i class="fa fa-cart-arrow-down"></i><span><%= t('titles.product_incomes') %></span>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, ProductSupplyOrder %>
        <%= content_tag :li, class: (controller_name == 'product_supply_orders' || controller_name == 'product_supply_order_items') ? 'active' : '' do %>
          <%= link_to users_product_supply_orders_path do %>
            <i class="fa fa-truck"></i><span><%= t('titles.product_supply_orders') %></span>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, Product %>
        <%= content_tag :li, class: (controller_name == 'products' || controller_name == 'product_feature_rels') ? 'active' : '' do %>
          <%= link_to users_products_path do %>
            <i class="fa fa-cube"></i><span><%= t('titles.products') %></span>
          <% end %>
        <% end %>
      <% end %>
      <% if (can? :read, Location) || (can? :read, Product)  || (can? :read, ProductLocation)  || (can? :read, Operator)  || (can? :read, ProductSupplier) %>
        <%= content_tag :li, class: controller_name == 'loc_districts' || controller_name == 'loc_khoroos' || controller_name == 'locations' ||
            controller_name == 'product_categorys' || controller_name == 'product_suppliers' ||
            controller_name == 'product_features' || controller_name == 'product_feature_options' ||
            controller_name == 'product_locations' ||
            controller_name == 'operators' ? 'treeview active' : 'treeview' do %>
          <%= link_to "#" do %>
            <i class="fa fa-cogs"></i><span><%= t('titles.settings') %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>

          <%= content_tag :ul, class: 'treeview-menu' do %>
            <% if can? :read, Location %>
              <%= content_tag :li, class: (controller_name == 'loc_districts' || controller_name == 'loc_khoroos' || controller_name == 'locations') ? 'active' : '' do %>
                <%= link_to users_loc_districts_path do %>
                  <i class="fa fa-map-marker"></i><span><%= t('titles.loc_districts') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, Product %>
              <%= content_tag :li, class: (controller_name == 'product_categorys') ? 'active' : '' do %>
                <%= link_to users_product_categorys_path do %>
                  <i class="fa fa-navicon"></i><span><%= t('titles.product_categorys') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'product_features' || controller_name == 'product_feature_options') ? 'active' : '' do %>
                <%= link_to users_product_features_path do %>
                  <i class="fa fa-asterisk"></i><span><%= t('titles.product_features') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, ProductLocation %>
              <%= content_tag :li, class: (controller_name == 'product_locations') ? 'active' : '' do %>
                <%= link_to users_product_locations_path do %>
                  <i class="fa fa-shopping-basket"></i><span><%= t('titles.product_locations') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, Operator %>
              <%= content_tag :li, class: (controller_name == 'operators') ? 'active' : '' do %>
                <%= link_to users_operators_path do %>
                  <i class="fa fa-users"></i><span><%= t('titles.operators') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, ProductSupplier %>
              <%= content_tag :li, class: (controller_name == 'product_suppliers') ? 'active' : '' do %>
                <%= link_to users_product_suppliers_path do %>
                  <i class="fa fa-building-o"></i><span><%= t('titles.product_suppliers') %></span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </section>
</aside>