<aside class="main-sidebar sidebar_fixed">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <% if can? :read, ProductIncome %>
        <%= content_tag :li, class: (controller_name == 'product_incomes' || controller_name == 'product_income_items') ? 'active' : '' do %>
          <%= link_to users_product_incomes_path do %>
            <i class="fa fa-cart-arrow-down"></i><span><%= t('activerecord.models.product_income') %></span>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, ProductSupplyOrder %>
        <%= content_tag :li, class: controller_name == 'product_supply_orders' ? 'active' : '' do %>
          <%= link_to users_product_supply_orders_path do %>
            <i class="fa fa-train"></i><span><%= t('titles.product_supply_orders') %></span>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, :delivery_report %>
        <%= content_tag :li, class: controller_name == 'delivery_reports' ? 'treeview active' : 'treeview' do %>
          <%= link_to "#" do %>
            <i class="fa fa-send"></i><span><%= t('titles.delivery_reports') %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>
          <%= content_tag :ul, class: 'treeview-menu' do %>
            <%= content_tag :li, class: action_name == 'index' ? 'active' : '' do %>
              <%= link_to users_delivery_reports_index_path do %>
                <i class="fa fa-list"></i><span><%= t('titles.delivered_goods') %></span>
              <% end %>
            <% end %>
            <%= content_tag :li, class: action_name == 'salary' ? 'active' : '' do %>
              <%= link_to users_delivery_reports_salary_path do %>
                <i class="fa fa-calculator"></i><span><%= t('titles.salary_calculation') %></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, SaleTax %>
        <%= content_tag :li, class: controller_name == 'product_sales' ? 'active' : '' do %>
          <%= link_to users_product_sales_path do %>
            <i class="fa fa-shopping-cart"></i><span><%= t('titles.product_sales') %></span>
          <% end %>
        <% end %>
        <%= content_tag :li, class: controller_name == 'sale_taxes' ? 'active' : '' do %>
          <%= link_to users_sale_taxes_path do %>
            <i class="fa fa-hand-o-left"></i><span><%= t('activerecord.models.sale_tax') %></span>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, Product %>
        <%= content_tag :li, class: (controller_name == 'products' || controller_name == 'product_feature_rels' || controller_name == 'product_feature_items' ||
            controller_name == 'product_reports') ? 'treeview active' : 'treeview' do %>
          <%= link_to "#" do %>
            <i class="fa fa-cube"></i><span><%= t('titles.products') %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>
          <%= content_tag :ul, class: 'treeview-menu' do %>
            <%= content_tag :li, class: controller_name == 'products' ? 'active' : '' do %>
              <%= link_to users_products_path do %>
                <i class="fa fa-list"></i><span><%= t('titles.list') %></span>
              <% end %>
            <% end %>
            <%= content_tag :li, class: controller_name == 'product_feature_items' ? 'active' : '' do %>
              <%= link_to balance_users_product_feature_items_path do %>
                <i class="fa fa-balance-scale"></i><span><%= t('titles.balance') %></span>
              <% end %>
            <% end %>
            <%= content_tag :li, class: controller_name == 'product_reports' ? 'active' : '' do %>
              <%= link_to users_product_reports_track_path do %>
                <i class="fa fa-file-archive-o"></i><span><%= t('titles.sale_track') %></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if (can? :read, FbPost) || (can? :read, FbComment) || (can? :read, FbCommentAction) %>
        <%= content_tag :li, class: (controller_name == 'fb_posts' || controller_name == 'fb_comments' || controller_name == 'fb_comment_archives' ||
            controller_name == 'fb_comment_actions') ? 'treeview active' : 'treeview' do %>
          <%= link_to "#" do %>
            <i class="fa fa-facebook"></i><span><%= t('titles.facebook') %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>
          <%= content_tag :ul, class: 'treeview-menu' do %>
            <% if can? :read, FbPost %>
              <%= content_tag :li, class: controller_name == 'fb_posts' ? 'active' : '' do %>
                <%= link_to users_fb_posts_path do %>
                  <i class="fa fa-newspaper-o"></i><span><%= t('activerecord.models.fb_post') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, FbComment %>
              <%= content_tag :li, class: controller_name == 'fb_comments' ? 'active' : '' do %>
                <%= link_to users_fb_comments_path do %>
                  <i class="fa fa-comments"></i><span><%= t('activerecord.models.fb_comment') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'fb_comment_archives' && action_name != 'report') ? 'active' : '' do %>
                <%= link_to users_fb_comment_archives_path do %>
                  <i class="fa fa-history"></i><span><%= t('activerecord.models.fb_comment_archive') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'fb_comment_archives' && action_name == 'report') ? 'active' : '' do %>
                <%= link_to report_users_fb_comment_archives_path do %>
                  <i class="fa fa-bar-chart"></i><span><%= t('activerecord.models.fb_comment_report') %></span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, BankTransaction %>
        <%= content_tag :li, class: controller_name == 'bank_transactions' ? 'active' : '' do %>
          <%= link_to users_bank_transactions_path do %>
            <i class="fa fa-dollar"></i><span><%= t('titles.bank_transactions') %></span>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read, SmsMessage %>
        <%= content_tag :li, class: controller_name == 'sms_messages' ? 'active' : '' do %>
          <%= link_to users_sms_messages_path do %>
            <i class="fa fa-send"></i><span><%= t('titles.sms_messages') %></span>
          <% end %>
        <% end %>
      <% end %>

      <% if (can? :read, Location) || (can? :read, Product) || (can? :read, ProductLocation) || (can? :read, Operator) || (can? :read, ProductSupplier) %>
        <%= content_tag :li, class: controller_name == 'product_categories' || controller_name == 'customers' ||
            controller_name == 'product_feature_groups' || controller_name == 'product_features' || controller_name == 'product_feature_options' ||
            controller_name == 'product_locations' || controller_name == 'category_filter_groups' ||
            controller_name == 'brands' || controller_name == 'manufacturers' || controller_name == 'technical_specifications' || controller_name == 'size_instructions' ||
            controller_name == 'operators' || controller_name == 'salesmen' ? 'treeview active' : 'treeview' do %>
          <%= link_to "#" do %>
            <i class="fa fa-cogs"></i><span><%= t('titles.settings') %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>

          <%= content_tag :ul, class: 'treeview-menu' do %>
            <% if can? :read, Product %>
              <%= content_tag :li, class: (controller_name == 'product_categories' || controller_name == 'category_filter_groups') ? 'active' : '' do %>
                <%= link_to users_product_categories_path do %>
                  <i class="fa fa-navicon"></i><span><%= t('titles.product_categories') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'product_feature_groups' || (controller_name == 'product_feature_options' && params[:product_feature_id].to_i == 1)) ? 'active' : '' do %>
                <%= link_to users_product_feature_groups_path do %>
                  <i class="fa fa-object-group"></i><span><%= t('activerecord.models.product_feature_group') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'product_feature_options' && params[:product_feature_id].present? && params[:product_feature_id].to_i == 2) ? 'active' : '' do %>
                <%= link_to users_product_feature_options_path(product_feature_id: 2) do %>
                  <i class="fa fa-asterisk"></i><span><%= t('titles.product_features') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'brands') ? 'active' : '' do %>
                <%= link_to users_brands_path do %>
                  <i class="fa fa-adn"></i><span><%= t('activerecord.models.brand') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'technical_specifications') ? 'active' : '' do %>
                <%= link_to users_technical_specifications_path do %>
                  <i class="fa fa-fw fa-television"></i><span><%= t('activerecord.models.technical_specification') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'size_instructions') ? 'active' : '' do %>
                <%= link_to users_size_instructions_path do %>
                  <i class="fa fa-fw fa-arrows-h"></i><span><%= t('activerecord.models.size_instruction') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'manufacturers') ? 'active' : '' do %>
                <%= link_to users_manufacturers_path do %>
                  <i class="fa fa-flag"></i><span><%= t('activerecord.models.manufacturer') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, ProductLocation %>
              <%= content_tag :li, class: (controller_name == 'product_locations') ? 'active' : '' do %>
                <%= link_to users_product_locations_path do %>
                  <i class="fa fa-shopping-basket"></i><span><%= t('titles.product_locations') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, Operator %>
              <%= content_tag :li, class: (controller_name == 'operators') ? 'active' : '' do %>
                <%= link_to users_operators_path do %>
                  <i class="fa fa-users"></i><span><%= t('titles.operators') %></span>
                <% end %>
              <% end %>
              <%= content_tag :li, class: (controller_name == 'salesmen') ? 'active' : '' do %>
                <%= link_to users_salesmen_path do %>
                  <i class="fa fa-car"></i><span><%= t('titles.salesmen') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if can? :read, Customer %>
              <%= content_tag :li, class: (controller_name == 'customers') ? 'active' : '' do %>
                <%= link_to users_customers_path do %>
                  <i class="fa fa-users"></i><span><%= t('activerecord.models.customer') %></span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if (can? :read, BankAccount) || (can? :read, BankDealingAccount) %>
        <%= content_tag :li, class: (controller_name == 'bank_accounts' || controller_name == 'bank_dealing_accounts') ? 'treeview active' : 'treeview' do %>
          <%= link_to "#" do %>
            <i class="fa fa-bank"></i><span><%= t('titles.bank_settings') %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>
          <%= content_tag :ul, class: 'treeview-menu' do %>
            <% if can? :manage, BankAccount %>
              <%= content_tag :li, class: controller_name == 'bank_accounts' ? 'active' : '' do %>
                <%= link_to users_bank_accounts_path do %>
                  <i class="fa fa-universal-access"></i><span><%= t('activerecord.models.bank_account') %></span>
                <% end %>
              <% end %>
              <% if can? :manage, BankDealingAccount %>
                <%= content_tag :li, class: controller_name == 'bank_dealing_accounts' ? 'active' : '' do %>
                  <%= link_to users_bank_dealing_accounts_path do %>
                    <i class="fa fa-universal-access"></i><span><%= t('activerecord.models.bank_dealing_account') %></span>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </section>
</aside>