<div class="content-wrapper index">
  <section class="content-header align-left">
    <h4> (<%= t('titles.total') %>：<%= @location_zones.total_count %>)</h4>
  </section>

  <div class="action-buttons index">
    <%= form_with url: operators_location_zones_path, method: "get", class: 'form-horizontal', local: true do |f| %>
      <%= text_field_tag :search_name, @search_name, {class: 'form-control search', placeholder: t('filters.name')} %>
      <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn' %>
      <% if can? :manage, LocationZone %>
        <%= link_to t('controls.button.create'), new_operators_location_zone_path, class: 'btn btn-warning' %>
      <% end %>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive no-padding">
            <%= render 'layouts/flash_message' %>

            <table class="table table-hover">
              <tr>
                <th class="text-center"><%= t('activerecord.attributes.location_zone.queue') %></th>
                <th class="text-center"><%= t('activerecord.attributes.location_zone.name') %></th>
              </tr>
              <% @location_zones.each do |l| %>
                <tr>
                  <td class="va-mid"><%= link_to l.queue, operators_location_zone_path(l) %></td>
                  <td class="va-mid"><%= link_to l.name, operators_location_zone_path(l) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <%= paginate @location_zones %>
      </div>
    </div>
  </section>
</div>