<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>

  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.fb_comment') %> </h1>
  </section>

  <div class="action-buttons">
    <% if can? :manage, FbComment %>
      <%= link_to t('activerecord.attributes.fb_comment.hide'), current_operator.present? ? hide_operators_fb_comments_path(id: @fb_comment.id) : hide_users_fb_comments_path(id: @fb_comment.id), method: :patch, data: {confirm: t('are_you_sure_ok')}, class: 'btn  btn-danger' %>
      <%= link_to t('activerecord.attributes.fb_comment.like'), current_operator.present? ? like_operators_fb_comments_path(id: @fb_comment.id) : like_users_fb_comments_path(id: @fb_comment.id), method: :patch, data: {confirm: t('are_you_sure_ok')}, class: 'btn  btn-success' %>
      <%= link_to t('controls.button.to_archive'), current_operator.present? ? operators_fb_comment_path(@fb_comment) : users_fb_comment_path(@fb_comment), method: :delete, data: {confirm: t('are_you_sure_switch')}, class: 'btn btn-warning' %>
    <% end %>
    <%= link_to t('titles.back_to_list'), current_operator.present? ? operators_fb_comments_path(page: cookies[:fb_comment_page_number]) : users_fb_comments_path(page: cookies[:fb_comment_page_number]), {class: "btn blck-btn"} %>
  </div>
  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box box-primary p-15">
          <% if @fb_comment.fb_post.content.start_with? 'https' %>
            <% if @fb_comment.fb_post.fb_post.present? %>
              <%= simple_format(@fb_comment.fb_post.fb_post.content) %>
            <% end %>
            <%= image_tag @fb_comment.fb_post.content, {style: "width:400px"} %>
          <% else %>
            <%= simple_format(@fb_comment.fb_post.content) %>
          <% end %>
          <div class="box-body">
            <table class="table table-hover table-bordered">
              <% @comments.each {|comment| %>
                <tr>
                  <td class="va-mid">
                    <strong><%= comment.user_name.presence || :'Market.mn' %></strong>
                  </td>
                  <td class="va-mid">
                    <% if comment.photo.present? %>
                      <%= link_to comment.photo, "data-lightbox": "roadtrip" do %>
                        <%= image_tag comment.photo, class: 'tumb' %>
                      <% end %>
                    <% end %>
                    <%= comment.message %>
                  </td>
                  <td class="va-mid nowrap"><%= comment.date.strftime('%F %R') %></td>
                </tr>
              <% } %>
              <tr>
                <td>
                  <div class="bg-yellow p-10"><%= @fb_comment.user_name %></div>
                </td>
                <td class="va-mid">
                  <% if @fb_comment.photo.present? %>
                    <%= link_to @fb_comment.photo, "data-lightbox": "roadtrip" do %>
                      <%= image_tag @fb_comment.photo, class: 'tumb' %>
                    <% end %>
                  <% end %>
                  <%= @fb_comment.message %>
                </td>
                <td class="va-mid nowrap"><%= @fb_comment.date.strftime('%F %R') %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% if can? :manage, FbComment %>
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="box box-info">
            <%= form_for :fb_comment, url: current_operator.present? ? operators_fb_comment_path : users_fb_comment_path, method: :patch,
                         local: true, :html => {class: 'form-horizontal'}, data: {confirm: t('are_you_sure_ok')} do |f| %>
              <%= form_body do %>
                <%= f.hidden_field :action_type, {value: 'reply'} %>
                <div class="form-group">
                  <%= f.label :reply_comment, class: 'col-sm-2 control-label' %>
                  <div class="col-sm-10 <%= get_error_class(@fb_comment, :reply_text) %>">
                    <%= field_errors(@fb_comment, :reply_text) %>
                    <%= f.text_field :reply_text, class: 'form-control none', placeholder: t('activerecord.attributes.fb_comment.reply_comment') %>

                    <%= f.select :comment_answer_id, {},
                                 {:prompt => t('activerecord.attributes.fb_comment.reply_comment')}, {class: 'form-control', "data-live-search": "true"} %>
                  </div>
                  <div class="action-buttons" style="margin-bottom: 0">
                    <%= f.submit t('controls.button.send'), class: 'btn btn-warning' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="box box-info">
            <%= form_for :fb_comment, url: current_operator.present? ? operators_fb_comment_path : users_fb_comment_path, method: :patch,
                         local: true, :html => {class: 'form-horizontal'}, data: {confirm: t('are_you_sure_ok')} do |f| %>
              <%= form_body do %>
                <%= f.hidden_field :action_type, {value: 'reply_image'} %>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="reply_image"><%= t('activerecord.attributes.fb_comment.reply_photo') %></label>
                  <div class="col-sm-9 <%= get_error_class(@fb_comment, :reply_image) %>">
                    <%= f.file_field :reply_image, accept: "image/*", class: 'image-file none-force' %>
                    <%= field_errors(@fb_comment, :reply_image) %>
                    <div class="preview noselect">
                      <span class="text"><%= t('upload_image') %></span>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <%= f.submit t('controls.button.send'), class: 'btn btn-warning' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="box box-info">
            <%= form_for :fb_comment, url: current_operator.present? ? operators_fb_comment_path : users_fb_comment_path, method: :patch,
                         local: true, :html => {class: 'form-horizontal'}, data: {confirm: t('are_you_sure_ok')} do |f| %>
              <%= form_body do %>
                <%= f.hidden_field :action_type, {value: 'image'} %>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="reply_image"><%= t('activerecord.attributes.fb_comment.reply_image') %></label>
                  <div class="col-sm-9 <%= get_error_class(@fb_comment, :reply_image) %>">
                    <%= f.file_field :reply_image, accept: "image/*", class: 'image-file none-force' %>
                    <%= field_errors(@fb_comment, :reply_image) %>
                    <div class="preview noselect">
                      <span class="text"><%= t('upload_image') %></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :reply_image_text, class: 'col-sm-2 control-label' %>
                  <div class="col-sm-10 <%= get_error_class(@fb_comment, :reply_image_text) %>">
                    <%= field_errors(@fb_comment, :reply_image_text) %>
                    <%= f.text_field :reply_image_text, {class: 'form-control', value: "#{greetings}, чатаар мэдээлэл явууллаа. Баярлалаа", placeholder: t('activerecord.attributes.fb_comment.reply_image_text')} %>
                  </div>
                  <div class="action-buttons" style="margin-bottom: 0">
                    <%= f.submit t('controls.button.send'), class: 'btn btn-warning' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="box box-info">
            <%= form_for :fb_comment, url: current_operator.present? ? operators_fb_comment_path : users_fb_comment_path, method: :patch,
                         local: true, :html => {class: 'form-horizontal'}, data: {confirm: t('are_you_sure_ok')} do |f| %>
              <%= form_body do %>
                <%= f.hidden_field :action_type, {value: 'message'} %>
                <div class="form-group">
                  <%= f.label :reply_message, class: 'col-sm-2 control-label' %>
                  <div class="col-sm-9 <%= get_error_class(@fb_comment, :reply_message) %>">
                    <%= field_errors(@fb_comment, :reply_message) %>
                    <%= f.text_area :reply_message, class: 'form-control', placeholder: t('activerecord.attributes.fb_comment.reply_message') %>
                  </div>
                  <div class="col-sm-1">
                    <%= f.submit t('controls.button.send'), class: 'btn btn-warning' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</div>
<style>
  .box {
    margin-bottom: 12px;
  }
</style>
<script>
    $(document).ready(function () {
        $('.preview').on('click', function () {
            $(this).parent().find('input').click();
        });
        $('input.image-file').on('change', function () {
            readURL(this, $(this).parent().parent().find('.preview:first'));
        });

        $('select#fb_comment_comment_answer_id').selectpicker("refresh")
            .parent().find('.bs-searchbox').find('input')
            .keydown(function (e) {
                if (e.which === 13) {
                    // || e.which === 32
                    live_search($(this).val());
                }
            });
    });


    function live_search(txt) {
        if (txt.length > 1) {
            Rails.ajax({
                url: "<%= search_fb_answer_path %>",
                type: "POST",
                data: "text=" + txt,
                success: function () {
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    }


    function readURL(input, div) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                div.html("<img class='preview-img' src='" + e.target.result + "'>");
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>