<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>

  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.fb_comment') %> </h1>
  </section>

  <div class="action-buttons">
    <% if can? :manage, FbComment %>
      <%= link_to t('controls.button.delete'), current_operator.present? ? operators_fb_comment_path(@fb_comment) : users_fb_comment_path(@fb_comment), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
    <% end %>
    <%= link_to t('titles.back_to_list'), current_operator.present? ? operators_fb_comments_path(page: cookies[:fb_comment_page_number]) : users_fb_comments_path(page: cookies[:fb_comment_page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body table-responsive no-padding">
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.fb_comment.fb_post_id') %> :</div>
          <div class="col-data"><%= @fb_comment.fb_post.full_name %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.fb_comment.user_name') %> :</div>
          <div class="col-data"><%= @fb_comment.user_name %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.fb_comment.message') %> :</div>
          <div class="col-data"><%= @fb_comment.message %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.fb_comment.date') %> :</div>
          <div class="col-data"><%= @fb_comment.date.strftime('%F %R') %></div>
        </div>
        <% if can? :manage, FbComment %>
          <div class="m30">
            <div class="align-left"><%= t('activerecord.attributes.fb_comment.reply_comment') %> :</div>
            <div class="col-data">
              <%= link_to current_operator.present? ? edit_operators_fb_comment_path(@fb_comment) : edit_users_fb_comment_path(@fb_comment) do %>
                <button type="button" class="btn btn-sm btn-info"><%= t('activerecord.attributes.fb_comment.reply_comment') %></button>
              <% end %></div>
          </div>
          <div class="m30">
            <div class="align-left"><%= t('activerecord.attributes.fb_comment.reply_text') %> :</div>
            <div class="col-data">
              <%= link_to current_operator.present? ? messages_operators_fb_comments_path(id: @fb_comment.id) : messages_users_fb_comments_path(id: @fb_comment.id) do %>
                <button type="button" class="btn btn-sm btn-info"><%= t('activerecord.attributes.fb_comment.reply_text') %></button>
              <% end %></div>
          </div>
          <div class="m30">
            <div class="align-left"><%= t('activerecord.attributes.fb_comment.hide') %> :</div>
            <div class="col-data">
              <%= link_to current_operator.present? ? hide_operators_fb_comments_path(id: @fb_comment.id) : hide_users_fb_comments_path(id: @fb_comment.id), method: :patch, data: {confirm: t('are_you_sure_ok')} do %>
                <button type="button" class="btn btn-sm btn-warning"><%= t('activerecord.attributes.fb_comment.hide') %></button>
              <% end %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
