<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>
<div class="content-wrapper">
  <section class="content-header">
    <h1><%= t('titles.product_supply_ordering') %></h1>
  </section>
  <section class="content">
    <div class="box box-info">
      <% supply_order = @supply_order_item.product_supply_order %>
      <div class="row m-t-10">
        <div class="col-md-12">
          <div class="col-md-5 field_div">
            <b><%= t('activerecord.attributes.product_supply_order.status') %>
              :</b> <%= supply_order.ordered_date.strftime('%F') %> - <%= @supply_order_item.status_i18n %>
            - <%= supply_order.user.name %>
          </div>
          <div class="col-md-2 field_div">
            <b><%= t('activerecord.attributes.product_supply_order.code') %>:</b> <%= supply_order.code %>
          </div>
          <div class="col-md-5 field_div">
            <b><%= t('activerecord.attributes.product_supply_order_item.note') %>:</b>
            <% if @supply_order_item.product_supply_order.present? %>
              <%= @supply_order_item.note %>
              <% if @supply_order_item.product_supply_order.is_sample? %>
                <%= @supply_order_item.product_supply_order.description %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <%= form_with model: @supply_order_item, url: logistics_supply_order_path, method: :patch, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="field_div cocoon-nested-form">
            <table class="table table-hover table-bordered">
              <thead>
              <% is_supply_order = @supply_order_item.product_supply_order.present? %>
              <tr>
                <% if is_supply_order %>
                  <th class="text-center"><%= t('activerecord.attributes.product_feature_item.image') %></th>
                <% end %>
                <th class="text-center"><%= t('activerecord.attributes.product_supply_feature.feature_item_id') %></th>
                <th class="text-center" colspan="2"><%= t('activerecord.attributes.product_supply_feature.quantity') %></th>
                <th class="text-center" colspan="2"><%= t('activerecord.attributes.product_supply_feature.price') %></th>
                <th class="text-center" colspan="2" width="40%"><%= t('activerecord.attributes.product_supply_feature.note') %></th>
              </tr>
              </thead>
              <tbody>
              <tr class="btn_actions">
                <% if is_supply_order %>
                  <td></td>
                <% end %>
                <td></td>
                <td class="text-center" colspan="2">
                  <button type="button" class="btn btn-default btn-xs" btype="quantity"><%= t('controls.button.to_equate') %></button>
                </td>
                <td class="text-center" colspan="2">
                  <button type="button" class="btn btn-default btn-xs" btype="price"><%= t('controls.button.to_equate') %></button>
                </td>
                <td colspan="2"></td>
              </tr>
              <%= f.fields_for :supply_features do |m| %>
                <%= render 'product_supply_feature_fields', :f => m, is_supply_order: is_supply_order %>
              <% end %>
              </tbody>
            </table>
          </div>

          <div class="form-group m-t-10 ">
            <%= f.label :note_lo, class: 'col-sm-1 control-label' %>
            <div class="col-sm-11 <%= get_error_class(@supply_order_item, :note_lo) %>">
              <%= field_errors(@supply_order_item, :note_lo) %>
              <%= f.text_area :note_lo, {class: 'form-control', placeholder: t('activerecord.attributes.product_supply_order_item.note_lo')} %>
            </div>
          </div>
          <div class="action-buttons m-t-10">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
<script>
    $(document).ready(function () {
        $('.btn_actions button').on('click', function () {
            var v = '';
            $('.nested-fields input.' + $(this).attr('btype')).each(function (index) {
                if (index === 0) {
                    v = $(this).val();
                } else {
                    $(this).val(v);
                }
            });
        });
    });
</script>
