<style>
  div.search{
    padding-left: 0!important;
    padding-right: 5px!important;
  }
  div.search input, div.search select, div.search a{
    font-size: smaller !important;
    height: 30px!important;
    padding-top: 6px;
  }
  div.search input, div.search select, div.search a{
    font-size: smaller !important;
    height: 30px!important;
    padding-top: 6px;
  }
</style>
<div class="content-wrapper index">
  <%= render 'layouts/breadcrumbs', data: [
      [users_product_incomes_path, t('titles.product_supply_orders')],
      [users_product_income_items_path(income_id: @income.id), @income.code], t('titles.product_income_items')] %>

  <section class="content-header align-left with-breadcrumbs">
    <h4> (<%= t('titles.total') %>：<%= @items.total_count %>)</h4>
  </section>

  <div class="col-md-12 m-t-10 m-b-10">
    <%= form_with url: users_product_income_items_path, method: "get", class: 'form-horizontal', local: true do |f| %>
      <%= hidden_field_tag :income_id, @income.id %>
      <div class="col-md-3 search">
        <%= text_field_tag :product_name, @search_name, {class: 'form-control search', placeholder: "Бараагаар"} %>
      </div>
      <div class="col-md-3 search">
        <%= text_field_tag :supply_code, @search_code, {class: 'form-control search', placeholder: 'Захиалгын кодоор'} %>
      </div>
      <div class="col-md-3 search">
        <%= f.select :search_type, ProductIncomeItem.urgent_types_i18n.keys.map {|k| [ProductIncomeItem.urgent_types_i18n[k], k]},
                     {:prompt => "Сонгох", :selected => @search_type}, {class: 'form-control'} %>
      </div>
      <div class="col-md-3 search">
        <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn pull-left' %>

        <%= link_to t('controls.button.create'), new_users_product_income_item_path(income_id: @income.id), class: 'btn btn-warning pull-right' %>
      </div>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <%= render 'layouts/flash_message' %>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th><%= t('activerecord.attributes.product_income_item.income_code') %></th>
                <th><%= t('activerecord.attributes.product_income_item.supply_order_item_code') %></th>
                <th><%= t('activerecord.attributes.product_income_item.supply_order_item_id') %></th>
                <th><%= t('activerecord.attributes.product_income_item.quantity') %></th>
                <th><%= t('activerecord.attributes.product_income_item.price') %></th>
                <th><%= t('activerecord.attributes.product_supply_order.exchange') %></th>
                <th><%= t('activerecord.attributes.product_income_item.sumPrice') %></th>
                <th><%= t('activerecord.attributes.product_income_item.shuudan') %></th>
                <th><%= t('activerecord.attributes.product_income_item.urgent_type') %></th>
                <th><%= t('activerecord.attributes.product_income_item.note') %></th>
                <th></th>
              </tr>
              <% @items.each_with_index do |o| %>
                <tr>
                  <td class="va-mid underline"><%= o.income.code %></td>
                  <td class="va-mid underline"><%= o.supply_order_item.supply_order.code %></td>
                  <td class="va-mid underline"><%= o.supply_order_item.product.name %></td>
                  <td class="va-mid underline"><%= o.quantity %></td>
                  <td class="va-mid underline"><%= o.price %></td>
                  <td class="va-mid underline"><%= o.supply_order_item.supply_order.exchange_i18n + " (" +  o.supply_order_item.supply_order.exchange_value.to_s + ")" %></td>
                  <td class="va-mid underline"><%= ((o.quantity*o.price)* o.supply_order_item.supply_order.exchange_value) %></td>
                  <td class="va-mid underline"><%= o.shuudan %></td>
                  <td class="va-mid underline"><%= o.urgent_type_i18n %></td>
                  <td class="va-mid underline"><%= o.note %></td>
                  <td>
                    <div class="btn-loc_khoroo">
                      <%= link_to edit_users_product_income_item_path(o), class: 'no-underline' do %>
                        <%= button_tag t('controls.button.edit'), class: "btn-sm btn-info" %>
                      <% end %>

                      <%= link_to users_product_income_item_path(o), class: 'no-underline', :method => :delete, data: {confirm: t('are_you_sure')} do %>
                        <%= button_tag t('controls.button.delete'), class: "btn-sm btn-danger" %>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <%= paginate @items %>
      </div>
    </div>
  </section>
</div>
