<div class="nested-fields col-sm-12">
  <div class="row">
    <div class="inner-nested" style="width: 32%">
      <%= field_errors f.object, :name %>
      <%= f.text_field :name, class: 'form-control field', placeholder: t('activerecord.attributes.category_filter.name') %>
    </div>
    <div class="inner-nested" style="width: 32%">
      <%= field_errors f.object, :name_en %>
      <%= f.text_field :name_en, class: 'form-control field', placeholder: t('activerecord.attributes.category_filter.name_en') %>
    </div>
    <div class="inner-nested" style="width: 20%">
      <%= field_errors f.object, :img %>
      <%= f.file_field :img, accept: "image/*" %>
    </div>
    <div class="inner-nested" style="width: 8%;text-align: center;padding-top: 10px;" class="remove">
      <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
        <%= nested_remove_btn %>
      <% end %>
    </div>
  </div>
</div>