<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>
<div class="content-wrapper">
  <section class="content-header">
    <h1><%= t('activerecord.models.product_category') + t(@category.persisted? ? 'titles.edit' : 'titles.add') %></h1>
  </section>

  <section class="content">
    <div class="box box-info">
      <%= form_with model: @category, url: @category.persisted? ? users_product_category_path : users_product_categories_path, method: @category.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <%= f.hidden_field :parent_id %>

          <div class="col-md-12">
            <div class="row">
              <% if @category.parent.presence %>
                <div class="col-md-3 field_div">
                  <%= f.label :parent, class: 'control-label' %>
                  <div class="<%= get_error_class(@category, :parent) %>">
                    <%= f.text_field :parent, class: 'form-control', value: @category.parent.name, disabled: true %>
                  </div>
                </div>
              <% end %>
              <div class="col-md-1 field_div">
                <%= f.label :queue, class: 'control-label' %>
                <div class="<%= get_error_class(@category, :queue) %>">
                  <%= field_errors(@category, :queue) %>
                  <%= f.number_field :queue, class: 'form-control', placeholder: t('activerecord.attributes.product_category.queue') %>
                </div>
              </div>
              <div class="col-md-5 field_div">
                <%= f.label :name, class: 'control-label' %>
                <div class="<%= get_error_class(@category, :name) %>">
                  <%= field_errors(@category, :name) %>
                  <%= f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.product_category.name') %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :code, class: 'control-label' %>
                <div class="<%= get_error_class(@category, :code) %>">
                  <%= field_errors(@category, :code) %>
                  <%= f.text_field :code, class: 'form-control', placeholder: t('activerecord.attributes.product_category.code'), readonly: true %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 field_div">
            <%= f.label :category_filter_groups, class: 'control-label' %>

            <div class="cocoon-nested-form">
              <div class="<%= get_error_class(@category, :category_filter_groups) %>">
                <%= field_errors(@category, :category_filter_groups) %>
                <table class="table table-bordered" id="tb_category_filter_groups">
                  <tr>
                    <th><%= t('activerecord.attributes.category_filter_group.name') %></th>
                    <th><%= t('activerecord.attributes.category_filter_group.name_en') %></th>
                    <th width="60%"><%= t('activerecord.attributes.category_filter_group.category_filters') %></th>
                    <th width="50px"></th>
                  </tr>
                  <%= f.fields_for :category_filter_groups do |m| %>
                    <%= render 'category_filter_group_fields', :f => m %>
                  <% end %>
                </table>
              </div>
              <div class="links item_append">
                <%= link_to_add_association f, :category_filter_groups, data: {association_insertion_node: '#tb_category_filter_groups', association_insertion_method: :append} do %>
                  <%= nested_add_btn %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
            <%= link_to t('controls.button.back'), users_product_categories_path(parent_id: (@category.parent.presence ? @category.parent.id : nil)), {class: "btn blck-btn"} %>
          </div>

        <% end %>
      <% end %>
    </div>
  </section>
</div>