<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<div class="content-wrapper">
  <div class="col-md-12 m-t-10 m-b-10">
    <%= form_with url: current_user.present? ? users_fb_comment_archives_path : operators_fb_comment_archives_path, method: "get", class: 'form-horizontal', local: true do |f| %>
      <div class="col-md-2 search">
        <%#= f.collection_select :fb_post_id, FbPost.order_code, :id, :full_name, {:selected => @fb_post_id, :include_blank => t('controls.select.none')}, {class: 'form-control selectpicker none', "data-live-search": "true"} %>
        <%= text_field_tag :post_id, @post_id, {class: 'form-control search', placeholder: t('activerecord.attributes.fb_comment.post_id')} %>
      </div>
      <div class="col-md-2 search">
        <%= text_field_tag :message, @message, {class: 'form-control search', placeholder: t('activerecord.attributes.fb_comment.message')} %>
      </div>
      <div class="col-md-2 search">
        <div id="search-date" class="form-control search">
          <i class="fa fa-calendar fa-lg p-r-0"></i>
          <span><%= t("filters.by_date") %>...</span>
          <%= f.hidden_field :start, value: @start %>
          <%= f.hidden_field :finish, value: @finish %>
        </div>
      </div>
      <div class="col-md-1 search">
        <%= f.select :start_hour, 0..23, {selected: @start_hour}, {class: '', style:'border-color: #d2d6de;'} %>
        -
        <%= f.select :end_hour, 0..23, {selected: @end_hour}, {class: '', style:'border-color: #d2d6de;'} %>
      </div>
      <div class="col-md-2 search">
        <%= f.select :verb, FbCommentArchive.verbs_i18n.keys.map {|k| [FbCommentArchive.verbs_i18n[k], k]},
                     {:prompt => t('activerecord.attributes.fb_comment_archive.verb'), :selected => @verb}, {class: 'form-control'} %>

      </div>
      <div class="col-md-2 search">
        <%= f.collection_select :operator_id, Operator.order_name, :id, :name, {:selected => @operator_id, :include_blank => t('controls.select.none')}, {class: 'form-control selectpicker', "data-live-search": "true"} %>
      </div>
      <div class="col-md-1 search">
        <%= submit_tag t('controls.button.searching') + " (" + @fb_comment_archives.total_count.to_s + ")", :class => 'btn blck-btn pull-left' %>
      </div>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <%= render 'layouts/flash_message' %>
          <!--          1 649 379 422-->
          <!--          1c5a9m-->
          <!--          265 145 016-->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <tr>
                <th class="th-center va-mid"><%= t('activerecord.attributes.fb_comment.fb_post_id') %></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.fb_comment.user_name') %></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.fb_comment.message') %></th>
                <th class="th-center va-mid"></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.fb_comment.date') %></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.fb_comment.post_id') %></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.fb_comment_archive.reply') %></th>
                <th class="th-center va-mid"><%= t('activerecord.attributes.fb_comment_archive.operator') %></th>
              </tr>
              <% @fb_comment_archives.each do |fb_comment_archive| %>
                <tr>
                  <td class="va-mid underline"><%= fb_comment_archive.fb_post.full_name %></td>
                  <td class="va-mid"><%= fb_comment_archive.user_name.presence || 'Market.mn' %></td>
                  <td class="va-mid">
                    <% if fb_comment_archive.message.present? %>
                      <%= fb_comment_archive.message %>
                    <% end %>
                    <% if fb_comment_archive.photo.present? %>
                      <%= link_to t('controls.link.photo'), fb_comment_archive.photo, target: '_blank' %>
                    <% end %>
                  </td>
                  <td class="va-mid"><%= fb_comment_archive.verb_i18n %></td>
                  <td class="td-center va-mid"><%= fb_comment_archive.date.strftime('%F %R') %></td>
                  <td class="td-center va-mid"><%= link_to 'fb post', "https://www.facebook.com/#{ENV['FB_PAGE_ID']}/posts/#{fb_comment_archive.fb_post.post_id}/", target: '_blank' %></td>
                  <td class="td-center va-mid">
                    <% replies = fb_comment_archive.replies.count %>
                    <% if replies > 0 %>
                      <%= link_to current_user.present? ? users_fb_comment_archive_path(fb_comment_archive) : operators_fb_comment_archive_path(fb_comment_archive) do %>
                        <% if fb_comment_archive.comment_action.present? %>
                          <button type="button" class="btn btn-sm btn-info">Auto (<%= replies %>)</button>
                        <% else %>
                          <button type="button" class="btn btn-sm btn-warning"><%= replies %></button>
                        <% end %>
                      <% end %>
                    <% elsif fb_comment_archive.comment_action.present? %>
                      <%= link_to current_user.present? ? users_fb_comment_archive_path(fb_comment_archive) : operators_fb_comment_archive_path(fb_comment_archive) do %>
                        <button type="button" class="btn btn-sm btn-info">Auto</button>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="td-center va-mid"><%= fb_comment_archive.operator_name %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <%= paginate @fb_comment_archives %>
      </div>
    </div>
  </section>
</div>
<%= render 'shared/date-range', search_field_id: 'search-date', start_id: 'start', finish_id: 'finish' %>
