<div class="content-wrapper">
  <div class="action-buttons">
    <%= link_to t('titles.back_to_list'), current_operator.present? ? operators_fb_comment_archives_path(page: cookies[:fb_comment_archive_page_number]) : users_fb_comment_archives_path(page: cookies[:fb_comment_archive_page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box box-primary p-15">
      <%= simple_format(@post_message) %>
      <div class="box-body">
        <table class="table table-hover table-bordered">
          <tr>
            <td>
              <div class="bg-yellow p-10"><%= @fb_comment_archive.user_name %></div>
            </td>
            <td class="va-mid"><%= @fb_comment_archive.message %></td>
            <td class="va-mid"><%= @fb_comment_archive.verb_i18n %></td>
            <td class="va-mid nowrap"><%= @fb_comment_archive.date.strftime('%F %R') %></td>
          </tr>

          <tr>
            <td class="va-mid">
              <strong>Auto: <%= @fb_comment_archive.comment_action.action_type_i18n %></strong>
            </td>
            <td class="va-mid"><%= @fb_comment_archive.comment_action.reply_txt %></td>
            <td class="va-mid"></td>
            <td class="va-mid nowrap"><%= @fb_comment_archive.comment.date.strftime('%F %R') %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>
