<div class="content-wrapper">
  <div class="action-buttons">
    <%= link_to t('titles.back_to_list'), current_operator.present? ? operators_fb_comment_archives_path(page: cookies[:fb_comment_archive_page_number]) : users_fb_comment_archives_path(page: cookies[:fb_comment_archive_page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box box-primary p-15">
      <%= simple_format(@post_message) %>
      <div class="box-body">
        <table class="table table-hover table-bordered">
          <tr>
            <td>
              <div class="bg-yellow p-10"><%= @fb_comment_archive.user_name %></div>
            </td>
            <td class="va-mid">
              <% if @fb_comment_archive.message.present? %>
                <%= @fb_comment_archive.message %>
              <% elsif @fb_comment_archive.photo.present? %>
                <%= link_to @fb_comment_archive.photo, "data-lightbox": "roadtrip" do %>
                  <%= image_tag @fb_comment_archive.photo, class: 'tumb' %>
                <% end %>
              <% end %>
            </td>
            <td class="va-mid"><%= @fb_comment_archive.verb_i18n %></td>
            <td class="va-mid nowrap"><%= @fb_comment_archive.date.strftime('%F %R') %></td>
          </tr>

          <% if @fb_comment_archive.replies.count == 0 %>
            <tr>
              <td class="va-mid">
                <strong>Auto: <%= @fb_comment_archive.comment_action.action_type_i18n %></strong>
              </td>
              <td class="va-mid"><%= @fb_comment_archive.comment_action.reply_txt %></td>
              <td class="va-mid"></td>
              <td class="va-mid nowrap"><%= @fb_comment_archive.date.strftime('%F %R') %></td>
            </tr>
          <% else %>
            <% @fb_comment_archive.replies.order_date.each {|comment| %>
              <tr>
                <td class="va-mid">
                  <strong>
                    <% if @fb_comment_archive.comment_action.present? && @fb_comment_archive.comment_action.reply_txt == comment.message %>
                      Auto:
                    <% end %>
                    <%= comment.user_name.presence || :'Market.mn' %></strong>
                </td>
                <td class="va-mid">
                  <% if comment.message.present? %>
                    <%= comment.message %>
                  <% elsif comment.photo.present? %>
                    <%= link_to comment.photo, "data-lightbox": "roadtrip" do %>
                      <%= image_tag comment.photo, class: 'tumb' %>
                    <% end %>
                  <% end %>
                </td>
                <td class="va-mid"><%= comment.verb_i18n %></td>
                <td class="va-mid nowrap"><%= comment.date.strftime('%F %R') %></td>
              </tr>
            <% } %>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>
