<% provide :head_tags do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&libraries=places"></script>
<% end %>
<div class="content-wrapper">
  <%= render 'layouts/breadcrumbs', data: [
      [operators_loc_districts_path, t('activerecord.models.loc_district')],
      [operators_loc_khoroos_path(id: @loc_khoroo.loc_district_id), @loc_khoroo.loc_district.name],
      t('activerecord.models.loc_khoroo') + (@loc_khoroo.persisted? ? t('titles.edit') : t('titles.add'))] %>

  <section class="content">
    <div class="box box-info">
      <%= form_for :loc_khoroo, url: @loc_khoroo.persisted? ? operators_loc_khoroo_path : operators_loc_khoroos_path, method: @loc_khoroo.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <%= f.hidden_field :loc_district_id %>
          <div class="form-group">
            <%= f.label :queue, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@loc_khoroo, :queue) %>">
              <%= field_errors(@loc_khoroo, :queue) %>
              <%= f.number_field :queue, class: 'form-control', placeholder: t('activerecord.attributes.loc_khoroo.queue') %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@loc_khoroo, :name) %>">
              <%= field_errors(@loc_khoroo, :name) %>
              <%= f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.loc_khoroo.name') %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.hidden_field :latitude, id: 'latitude' %>
              <%= f.hidden_field :longitude, id: 'longitude' %>
              <div id="map"></div>
            </div>
          </div>
          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
<script>
    var map = null, marker;

    function initMap() {
        let lat = document.getElementById('latitude').value;
        let lng = document.getElementById('longitude').value;

        let myCoords = new google.maps.LatLng(lat, lng);
        let mapOptions = {
            center: myCoords,
            zoom: 17,
            mapTypeId: 'hybrid',
            output: 'embed'
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        marker = new google.maps.Marker({
            position: myCoords,
            animation: google.maps.Animation.DROP,
            map: map,
            draggable: true
        });

        google.maps.event.addListener(map, "click", (event) => {
            const latlng = event.latLng;
            const newlat = (Math.round(latlng.lat() * 1000000)) / 1000000;
            const newlng = (Math.round(latlng.lng() * 1000000)) / 1000000;
            document.getElementById('latitude').value = newlat;
            document.getElementById('longitude').value = newlng;
            map.panTo(latlng);
            marker.setPosition(latlng);
        });

        // when marker is dragged update input values
        marker.addListener('drag', function () {
            const latlng = marker.getPosition();
            const newlat = (Math.round(latlng.lat() * 1000000)) / 1000000;
            const newlng = (Math.round(latlng.lng() * 1000000)) / 1000000;
            document.getElementById('latitude').value = newlat;
            document.getElementById('longitude').value = newlng;
        });
        // When drag ends, center (pan) the map on the marker position
        marker.addListener('dragend', function () {
            map.panTo(marker.getPosition());
        });
    }

    $(function () {
        initMap();
    });

</script>