<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>
<script !src="">
    var urgent_type = "";
    var product_income_date = "";
</script>
<div class="content-wrapper">
  <section class="content">
    <div class="box box-info">
      <%= form_with model: @product_income, url: @product_income.persisted? ? users_product_income_path : users_product_incomes_path,
                    method: @product_income.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 field_div">
                <%= f.label :code, class: 'control-label' %>
                <div class="<%= get_error_class(@product_income, :code) %>">
                  <%= field_errors(@product_income, :code) %>
                  <%= f.text_field :code, class: 'form-control', placeholder: t('activerecord.attributes.product_income.code') %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :income_date, class: 'control-label' %>
                <div class="input-append input-group date <%= get_error_class(@product_income, :income_date) %>" data-provide="datepicker">
                  <%= field_errors(@product_income, :income_date) %>
                  <%= f.text_field :income_date, value: @product_income.income_date.strftime('%F'), class: 'field form-control', placeholder: t('activerecord.attributes.product_income.income_date') %>
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-6 field_div">
                <%= f.label :note, class: 'control-label' %>
                <div class="<%= get_error_class(@product_income, :note) %>">
                  <%= field_errors(@product_income, :note) %>
                  <%= f.text_field :note, class: 'form-control', placeholder: t('activerecord.attributes.product_income.note') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 field_div">
            <%= f.label :product_income_items, class: 'control-label' %>

            <div class="cocoon-nested-form">
              <div class="<%= get_error_class(@product_income, :product_income_items) %>">
                <%= field_errors(@product_income, :product_income_items) %>
                <table class="table table-bordered" id="tb_product_income_items">
                  <tr>
                    <th><%= t('activerecord.attributes.product_income_item.supply_order_item_code') %></th>
                    <th><%= t('activerecord.attributes.product_income_item.supply_order_item_id') %></th>
                    <th><%= t('activerecord.attributes.product_income_item.exchange') %></th>
                    <th><%= t('activerecord.attributes.product_income_item.remainder') %></th>
                    <th><%= t('activerecord.attributes.product_income_item.feature_item_id') %></th>
                    <th><%= t('activerecord.attributes.product_income_item.quantity') %></th>
                    <th><%= t('activerecord.attributes.product_income_item.price') %></th>
                    <th><%= t('activerecord.attributes.product_income_item.shuudan') %></th>
                    <th><%= t('activerecord.attributes.product_income_item.urgent_type') %></th>
                    <th><%= t('activerecord.attributes.product_income_item.date') %></th>
                    <th><%= t('activerecord.attributes.product_income_item.note') %></th>
                    <th width="50px"></th>
                  </tr>
                  <%= f.fields_for :product_income_items do |m| %>
                    <%= render 'product_income_item_fields', :f => m %>
                  <% end %>
                </table>
              </div>
              <div class="links item_append">
                <%= link_to_add_association f, :product_income_items, data: {association_insertion_node: '#tb_product_income_items', association_insertion_method: :append} do %>
                  <%= nested_add_btn %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
<script>
    function supply_order_item_changed(select) {
        // alert($(select).val());
        // zahialgiin kod, exchange, exchange_value
        let order_item_id = $(select).val();
        if (valid_id(order_item_id)) {
            let parentTr = select_parent(select);
            Rails.ajax({
                url: "<%= get_supply_order_info_users_product_incomes_path %>",
                type: "PATCH",
                data: "order_item_id=" + order_item_id,
                success: function (data) {
                    if (data.order_code !== undefined) {
                        parentTr.find('input[name=supply_order_item_code]').val(data.order_code);
                        parentTr.find('input[name=exchange]').val(data.exchange+"("+data.exchange_value+")");
                        parentTr.find('input.remainder').val(data.remainder);
                        parentTr.find('input.price').val(data.price);
                        parentTr.find('input.shuudan').val(data.shuudan);
                        let features = data.features;
                        var feature_select = "";
                        for (var i = 0; i < features.length; i++) {
                            feature_select += '<option value="' + features[i]["id"] + '">' + features[i]["name"] + '</option>';
                        }
                        parentTr.find('select.feature_item').html("<option>Сонгох</option>" + feature_select).selectpicker('refresh');
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            }); // end ajax
        }
    }
</script>