<style>
  .timepicker-picker a {
    color: #337ab7;
    text-decoration: none;
  }
</style>
<div class="content-wrapper">

  <section class="content">
    <div class="box box-info">
      <%= form_with model: @product_income, url: @product_income.persisted? ? users_product_income_path : users_product_incomes_path,
                    method: @product_income.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="form-group">
            <%= f.label :code, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@product_income, :code) %>">
              <%= field_errors(@product_income, :code) %>
              <%= f.text_field :code, class: 'form-control', placeholder: t('activerecord.attributes.product_income.code') %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :income_date, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 date input-group <%= get_error_class(@product_income, :income_date) %>" id="datetimepicker1">
              <%= field_errors(@product_income, :income_date) %>
              <%= f.text_field :income_date, value:@product_income.income_date.strftime('%F %R'), class: 'field form-control', placeholder: t('activerecord.attributes.product_income.income_date') %>

              <div class="input-group-addon add-on">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :supplier_id, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@product_income, :supplier_id) %>">
              <%= field_errors(@product_income, :supplier_id) %>
              <%= f.collection_select :supplier_id,  ProductSupplier.search(""), :id, :name,
                                      {:prompt => t('controls.select.none')}, {class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :note, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@product_income, :note) %>">
              <%= field_errors(@product_income, :note) %>
              <%= f.text_area :note, class: 'form-control', placeholder: t('activerecord.attributes.product_income.note') %>
            </div>
          </div>



          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
            <%= link_to t('titles.back_to_list'), users_product_incomes_path(page: cookies[:page_number]), {class: "btn blck-btn"} %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            locale: 'mn',
            format: 'YYYY-MM-DD HH:mm',
            sideBySide: true
        });
    });
</script>