<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>
<div class="content-wrapper">
  <section class="content multi">
    <div class="box box-info">
      <%= form_with model: @product_income, url: @product_income.persisted? ? users_product_income_path : users_product_incomes_path,
                    method: @product_income.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <%= f.hidden_field :shipping_ub_id %>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 field_div">
                <%= f.label :number, class: 'control-label' %>
                <div>
                  <%= text_field_tag :number, show_id(@product_income.persisted? ? @product_income.id : @product_income.number), {class: 'form-control', readonly: true} %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :income_date, class: 'control-label' %>
                <div class="input-append input-group date <%= get_error_class(@product_income, :income_date) %>" data-provide="datepicker">
                  <%= field_errors(@product_income, :income_date) %>
                  <%= f.text_field :income_date, value: @product_income.income_date.strftime('%F'), class: 'field form-control', placeholder: t('activerecord.attributes.product_income.income_date') %>
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :logistic_id, class: 'control-label' %>
                <div class="<%= get_error_class(@product_income, :logistic_id) %>">
                  <%= field_errors(@product_income, :logistic_id) %>
                  <%= f.collection_select :logistic_id, Logistic.all, :id, :name, {}, {class: 'form-control'} %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :cargo_price, class: 'control-label' %>
                <div class="<%= get_error_class(@product_income, :cargo_price) %>">
                  <%= field_errors(@product_income, :cargo_price) %>
                  <%= f.number_field :cargo_price, step: 1, class: 'form-control', placeholder: t('activerecord.attributes.product_income.cargo_price') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 field_div m-t-10">
            <div class="cocoon-nested-form">
              <div class="<%= get_error_class(@product_income, :product_income_products) %>">
                <%= field_errors(@product_income, :product_income_products) %>
                <table class="table table-bordered" id="tb_product_income_products">
                  <tr>
                    <th colspan="5" class="text-center"><%= t('activerecord.attributes.product_income.product_income_products') %></th>
                    <th colspan="2" class="text-center"><%= t('activerecord.attributes.product_income_item.loaded') %></th>
                    <th colspan="2" class="text-center"><%= t('titles.received') %></th>
                    <th width="50px"></th>
                  </tr>
                  <tr>
                    <th class="va-mid"><%= t('activerecord.attributes.fb_post.product_code') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.fb_post.product_name') %></th>
                    <th class="va-mid"><%= t('activerecord.models.product_feature') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.product_supply_order.product_image') %></th>
                    <th class="va-mid" width="80px"><%= t('activerecord.attributes.product_supply_order_item.total_quantity') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.product_supply_order_item.shipping_ub_date') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.product_income_item.quantity') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.product_income_item.cargo') %></th>
                    <th class="va-mid" width="80px"><%= t('activerecord.attributes.product_income_item.quantity') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.product_income_item.cargo') %></th>
                    <th></th>
                  </tr>
                  <% shipping_ub_sample_id = 0
                     is_sample_box = false
                     @product_income.product_income_products.each do |product_income_product|
                       if product_income_product.shipping_ub_sample_id.present? && shipping_ub_sample_id != product_income_product.shipping_ub_sample_id
                       shipping_ub_sample_id = product_income_product.shipping_ub_sample_id
                       is_sample_box=true
                       else
                       is_sample_box=false
                       end    %>

                    <%= f.fields_for :product_income_products, product_income_product do |m| %>
                      <%= render 'product_income_product_fields', :f => m, is_sample_box: is_sample_box %>
                    <% end %>
                  <% end %>
                </table>
              </div>
            </div>
          </div>

          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>

          <div class="col-md-12 field_div">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#basic" data-toggle="tab" style="text-decoration: none">Үндсэн бараа</a>
                </li>
                <li><a href="#sample" data-toggle="tab" style="text-decoration: none">Дээж бараа</a></li>
                <li><a href="#half" data-toggle="tab" style="text-decoration: none" onclick="search_half_product()">Дутуу бараа</a></li>
              </ul>
              <div class="tab-content">
                <div class="active tab-pane" id="basic">
                  <div class="row m-b-10">
                    <div class="col-md-4">
                      <%= text_field_tag :by_product_name, @by_product_name, {class: 'form-control search', placeholder: t('filters.by_product')} %>
                    </div>
                    <div class="col-md-4">
                      <button type="button" class="btn btn-primary" onclick="search_ub_product()">Үндсэн бараа хайх
                      </button>
                    </div>
                  </div>
                  <div class="cocoon-nested-form" id="search_ub_product">
                    <table class="table table-bordered" id="tb_shipping_ub_products">
                      <thead>
                      <tr>
                        <th class="va-mid">Баримтын дугаар</th>
                        <th class="va-mid"><%= t('activerecord.attributes.fb_post.product_code') %></th>
                        <th class="va-mid"><%= t('activerecord.attributes.fb_post.product_name') %></th>
                        <th class="va-mid"><%= t('activerecord.models.product_feature') %></th>
                        <th class="va-mid"><%= t('activerecord.attributes.product_supply_order.product_image') %></th>
                        <th class="va-mid"><%= t('activerecord.attributes.product_supply_order_item.shipping_ub_date') %></th>
                        <th class="va-mid"><%= t('titles.box') %></th>
                        <th class="va-mid"><%= t('activerecord.attributes.product_income_item.loaded') %></th>
                        <th class="va-mid"><%= t('titles.cargo') %></th>
                        <th width="50px"></th>
                      </tr>
                      </thead>
                      <tbody id="ub_products"></tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="sample">
                  <div class="active tab-pane" id="basic">
                    <div class=" m-b-10">
                      <table class="table table-bordered t-list table-hover">
                        <thead>
                        <tr>
                          <th width="30px" class="text-center">#</th>
                          <th><%= t('activerecord.attributes.shipping_ub.shipping_ub_samples') %></th>
                          <th><%= t('activerecord.attributes.shipping_ub_sample.cost') %></th>
                          <th><%= t('activerecord.attributes.shipping_ub_sample.created_at') %></th>
                          <th width="50px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% ShippingUbSample.received_at_nil.each_with_index {|s, index| %>
                          <tr id="sample-box-<%= s.id %>">
                            <td class="text-center"><%= index + 1 %></td>
                            <td><%= s.number %></td>
                            <td>
                              <% sample_box_cost = get_currency(s.cost, Const::CURRENCY[0], 3) %>
                              <%= sample_box_cost %></td>
                            <td><%= s.created_at.strftime('%F') %></td>
                            <td>
                              <button class="btn btn-block btn-success btn-xs" type="button" onclick="add_sample_box(<%= s.id %>,'<%= s.number %>','<%= sample_box_cost %>')">
                                <i class="fa fa-plus" style="color: white"></i></button>
                            </td>
                          </tr>
                        <% } %>
                        </tbody>
                      </table>
                    </div>
                    <div class="row m-b-10">
                      <div class="col-md-4">
                        <%= text_field_tag :by_sample_code, @by_sample_code, {class: 'form-control', placeholder: t('filters.by_code')} %>
                      </div>
                      <div class="col-md-4">
                        <%= text_field_tag :sample_product_name, @sample_product_name, {class: 'form-control search', placeholder: t('filters.by_product')} %>
                      </div>
                      <div class="col-md-4">
                        <button type="button" class="btn btn-primary" onclick="search_sample_product()">Дээж бараа
                          хайх
                        </button>
                      </div>
                    </div>
                    <div class="cocoon-nested-form">
                      <table class="table table-bordered">
                        <thead>
                        <tr>
                          <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.order_code') %></th>
                          <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_name') %></th>
                          <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_code') %></th>
                          <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_image') %></th>
                          <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_feature') %></th>
                          <th class="va-mid"><%= t('activerecord.attributes.shipping_er_product.product_bought') %></th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody id="supply_features"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="half">
                  <div class="active tab-pane" id="basic">
                    <div class="row m-b-10">
                      <div class="col-md-4">
                        <%= text_field_tag :by_product_name, @by_product_name, {class: 'form-control search', placeholder: t('filters.by_product')} %>
                      </div>
                      <div class="col-md-4">
                        <button type="button" class="btn btn-primary" onclick="search_half_product()">Дутуу бараа хайх
                        </button>
                      </div>
                    </div>
                    <div class="cocoon-nested-form" id="search_half_product">
                      <table class="table table-bordered" id="tb_shipping_half_products">
                        <thead>
                        <tr>
                          <th class="va-mid">Баримтын дугаар</th>
                          <th class="va-mid"><%= t('activerecord.attributes.fb_post.product_code') %></th>
                          <th class="va-mid"><%= t('activerecord.attributes.fb_post.product_name') %></th>
                          <th class="va-mid"><%= t('activerecord.models.product_feature') %></th>
                          <th class="va-mid"><%= t('activerecord.attributes.product_supply_order.product_image') %></th>
                          <th class="va-mid"><%= t('activerecord.attributes.product_supply_order_item.shipping_ub_date') %></th>
                          <th class="va-mid"><%= t('titles.box') %></th>
                          <th class="va-mid"><%= t('activerecord.attributes.product_income_item.loaded') %></th>
                          <th class="va-mid"><%= t('titles.cargo') %></th>
                          <th width="50px"></th>
                        </tr>
                        </thead>
                        <tbody id="half_products"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>

<script>
    function add_product(is_box, id) {
        let row = $('#tb_product_income_products .nested-fields').length;
        Rails.ajax({
            url: "<%= insert_shipping_ub_users_product_incomes_path %>",
            type: "PATCH",
            data: "is_box=" + is_box + "&id=" + id + "&rows=" + row,
            success: function () {
                $("#tb_shipping_ub_products tr." + (is_box ? 'box' : 'pro') + "-" + id).each(function () {
                    $(this).remove();
                });
            },
        });
    }

    function add_half_product(is_box, id) {
        let row = $('#tb_product_income_products .nested-fields').length;
        Rails.ajax({
            url: "<%= insert_half_ub_users_product_incomes_path %>",
            type: "PATCH",
            data: "is_box=" + is_box + "&id=" + id + "&rows=" + row,
            success: function () {
                console.log("asd");
                $("#tb_shipping_half_products tr." + (is_box ? 'box' : 'pro') + "-" + id).each(function () {
                    $(this).remove();
                });
            },
        });
    }

    function search_ub_product() {
        let shipping_ub_product_ids = [];
        $('#tb_product_income_products tr.shipping_ub_product').each(function () {
            shipping_ub_product_ids.push($(this).attr('shipping_ub_product_id'));
        });
        $('#ub_products').html("<tr><td colspan='10' class='text-center m-t-20 w-100'><img src='/images/loading.gif'></td></tr>");
        Rails.ajax({
            url: "<%= search_products_users_product_incomes_path %>",
            type: "POST",
            data: "by_product_name=" + $('#by_product_name').val() + "&ids=" + shipping_ub_product_ids
        });
    }

    function search_half_product() {
        let shipping_half_product_ids = [];
        $('#tb_product_income_products tr.shipping_half_product').each(function () {
            shipping_half_product_ids.push($(this).attr('shipping_half_product_id'));
        });
        $('#half_products').html("<tr><td colspan='10' class='text-center m-t-20 w-100'><img src='/images/loading.gif'></td></tr>");
        Rails.ajax({
            url: "<%= search_half_products_users_product_incomes_path %>",
            type: "POST",
            data: "by_product_name=" + $('#by_product_name').val() + "&ids=" + shipping_half_product_ids
        });
    }
    function search_sample_product() {
        let product_ids = [];
        $('#tb_product_income_products tr.product').each(function () {
            product_ids.push($(this).attr('product_id'));
        });
        $('#supply_features').html("<tr><td colspan='7' class='text-center m-t-20 w-100'><img src='/images/loading.gif'></td></tr>");
        Rails.ajax({
            url: "<%= search_supply_feature_users_product_incomes_path %>",
            type: "POST",
            data: "by_code=" + $('#by_sample_code').val() + "&product_ids=" + product_ids + "&by_product_name=" + $('#sample_product_name').val()
        });
    }

    function add_sample_box(sample_box_id, name, cost) {
        $('#tb_product_income_products').append("<tr class='sample_box' id='" + sample_box_id + "'><td colspan='11' style='font-weight: bold'>" + name + ", " + cost + "</td></tr>");
        $("#sample-box-" + sample_box_id).remove();
    }

    function add_sample_product(product_id) {
        let current_sample_box = $('#tb_product_income_products tr.sample_box:last');
        if (current_sample_box.attr('id') !== undefined) {
            let row = $('#tb_product_income_products .nested-fields').length;
            Rails.ajax({
                url: "<%= insert_sample_product_users_product_incomes_path %>",
                type: "POST",
                data: "sample_box_id=" + current_sample_box.attr('id') + "&id=" + product_id + "&rows=" + row,
                success: function () {
                    $("#supply_features tr.p-" + product_id).each(function () {
                        $(this).remove();
                    });
                },
            });
        }
    }

    $(function () {
        search_ub_product();
    });
</script>