<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "form" %>
<% end %>
<div class="content-wrapper">
  <section class="content">
    <div class="box box-info">
      <%= form_with model: @product_income, url: @product_income.persisted? ? users_product_income_path : users_product_incomes_path,
                    method: @product_income.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <%= f.hidden_field :shipping_ub_id %>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 field_div">
                <%= f.label :code, class: 'control-label' %>
                <div class="<%= get_error_class(@product_income, :code) %>">
                  <%= field_errors(@product_income, :code) %>
                  <%= f.text_field :code, class: 'form-control', placeholder: t('activerecord.attributes.product_income.code') %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :income_date, class: 'control-label' %>
                <div class="input-append input-group date <%= get_error_class(@product_income, :income_date) %>" data-provide="datepicker">
                  <%= field_errors(@product_income, :income_date) %>
                  <%= f.text_field :income_date, value: @product_income.income_date.strftime('%F'), class: 'field form-control', placeholder: t('activerecord.attributes.product_income.income_date') %>
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :logistic_id, class: 'control-label' %>
                <div class="<%= get_error_class(@product_income, :logistic_id) %>">
                  <%= field_errors(@product_income, :logistic_id) %>
                  <%= f.collection_select :logistic_id, Logistic.all, :id, :name, {}, {class: 'form-control'} %>
                </div>
              </div>
              <div class="col-md-3 field_div">
                <%= f.label :cargo_price, class: 'control-label' %>
                <div class="<%= get_error_class(@product_income, :cargo_price) %>">
                  <%= field_errors(@product_income, :cargo_price) %>
                  <%= f.number_field :cargo_price, step: 1, class: 'form-control', placeholder: t('activerecord.attributes.product_income.cargo_price') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 field_div">
            <%= f.label :product_income_items, class: 'control-label' %>

            <div class="cocoon-nested-form">
              <div class="<%= get_error_class(@product_income, :product_income_items) %>">
                <%= field_errors(@product_income, :product_income_items) %>
                <table class="table table-bordered" id="tb_product_income_items">
                  <tr>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_code') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_name') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_image') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_feature') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.product_income_item.order_number') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.product_income_item.loaded') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.product_income_item.quantity') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.product_income_item.cargo') %></th>
                    <th class="va-mid"><%= t('activerecord.attributes.product_income_item.shipping_cost') %></th>
                    <% if @product_income.persisted? %>
                      <th class="va-mid"><%= t('activerecord.attributes.product_income_item.qr_printed') %></th>
                      <th class="va-mid"><%= t('activerecord.attributes.product_income_item.problematic') %></th>
                      <th class="va-mid"><%= t('activerecord.attributes.product_income_item.shelf') %></th>
                    <% end %>
                  </tr>
                  <%= f.fields_for :product_income_items do |m| %>
                    <%= render 'product_income_item_fields', :f => m, is_new: @product_income.persisted? %>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>