<tr class="nested-fields">
  <% product = f.object.product
     feature_item = f.object.feature_item %>
  <%= f.hidden_field :product_id %>
  <%= f.hidden_field :shipping_ub_item_id %>
  <%= f.hidden_field :supply_feature_id %>
  <%= f.hidden_field :feature_item_id %>
  <%= f.hidden_field :remainder %>
  <td class="va-mid"><%= product.code %></td>
  <td class="va-mid"><%= product.name %></td>
  <td class="va-mid">
    <% if feature_item.img.present? %>
      <%= link_to feature_item.img.url, "data-lightbox": "roadtrip" do %>
        <%= t('titles.view') %>
      <% end %>
    <% end %>
  </td>
  <td class="va-mid"><%= feature_item.name %></td>
  <td class="va-mid"><%= f.object.supply_feature.quantity %></td>
  <td class="va-mid"><%= f.object.shipping_ub_item.un_loaded %></td>
  <td>
    <%= field_errors f.object, :quantity %>
    <%= f.number_field :quantity, class: 'form-control p-2 field', min: 0, step: 1, placeholder: t('activerecord.attributes.product_income_item.quantity') %>
  </td>
  <td>
    <%= field_errors f.object, :cargo %>
    <%= f.number_field :cargo, class: 'form-control p-2 field', min: 0, step: 1, placeholder: t('activerecord.attributes.product_income_item.cargo') %>
  </td>
  <td class="va-mid"><%= get_currency(f.object.shipping_cost, "￥", 0) %></td>
  <% if is_new %>
    <td>
      <%= field_errors f.object, :qr_printed %>
      <%= f.number_field :qr_printed, class: 'form-control p-2 field', min: 0, step: 1, placeholder: t('activerecord.attributes.product_income_item.qr_printed') %>
    </td>
    <td>
      <%= field_errors f.object, :problematic %>
      <%= f.number_field :problematic, class: 'form-control p-2 field', min: 0, step: 1, placeholder: t('activerecord.attributes.product_income_item.problematic') %>
    </td>
    <td>
      <%= field_errors f.object, :shelf %>
      <%= f.number_field :shelf, class: 'form-control p-2 field', min: 0, step: 1, placeholder: t('activerecord.attributes.product_income_item.shelf') %>
    </td>
  <% end %>
</tr>