<% if is_sample_box %>
  <tr class='sample_box' id='<%= f.object.shipping_ub_sample_id %>'>
    <td colspan='11' style="font-weight: bold"><%= f.object.shipping_ub_sample.number %>
      , <%= get_currency(f.object.shipping_ub_sample.cost, Const::CURRENCY[0], 3) %></td>
  </tr>
<% end %>
<tr class="nested-fields">
  <% product = f.object.product
     ub_product = f.object.shipping_ub_product %>
  <%= f.hidden_field :product_id %>
  <%= f.hidden_field :shipping_ub_product_id %>
  <%= f.hidden_field :shipping_ub_sample_id %>
  <%= f.hidden_field :product_supply_order_id %>
  <td class="va-mid"><%= product.code %></td>
  <td class="va-mid"><%= product.name %></td>
  <td></td>
  <td class="va-mid">
    <% if product.picture.present? %>
      <%= link_to product.picture.url, "data-lightbox": "roadtrip" do %>
        <%= t('titles.view') %>
      <% end %>
    <% end %>
  </td>
  <td></td>
  <td class="va-mid"><%= ub_product.present? ? ub_product.shipping_ub.date.strftime('%F') : '' %></td>
  <td class="va-mid text-center"><%= f.object.remainder %></td>
  <td class="va-mid text-center"><%= ub_product.present? ? ub_product.cargo : '' %></td>
  <td></td>
  <td>
    <% if ub_product.present? %>
      <%= field_errors f.object, :cargo %>
      <%= f.number_field :cargo, class: 'form-control p-2 field', min: 0, step: 1, placeholder: t('activerecord.attributes.product_income_item.cargo') %>
    <% end %>
  </td>
  <td class="remove">
    <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
      <%= nested_remove_btn %>
    <% end %>
  </td>
</tr>
<%= f.fields_for :product_income_items do |m| %>
  <%= render 'product_income_item_fields', :f => m, is_income_order: true %>
<% end %>
