<% if is_income_order %>
  <tr class="nested-fields">
    <%= f.hidden_field :product_id %>
    <%= f.hidden_field :shipping_ub_feature_id %>
    <%= f.hidden_field :supply_feature_id %>
    <%= f.hidden_field :feature_item_id %>
    <%= f.hidden_field :remainder %>
    <%= f.hidden_field :is_income_order, value: is_income_order %>

    <% feature_item = f.object.feature_item %>
    <td></td>
    <td></td>
    <td class="va-mid"><%= feature_item.name %></td>
    <td class="va-mid">
      <% if feature_item.img.present? %>
        <%= link_to feature_item.img.url, "data-lightbox": "roadtrip" do %>
          <%= t('titles.view') %>
        <% end %>
      <% end %>
    </td>
    <td class="va-mid"></td>
    <td class="va-mid"><%= f.object.shipping_ub_feature.quantity %></td>
    <td></td>
    <td class="va-mid">
      <%= field_errors f.object, :quantity %>
      <%= f.number_field :quantity, class: 'form-control p-2 field', min: 0, step: 1, placeholder: t('activerecord.attributes.product_income_item.quantity') %>
    </td>
    <td></td>
    <td></td>
  </tr>
<% else %>

  <tr class="nested-fields">
    <% product = f.object.product
       feature_item = f.object.feature_item %>
    <td class="va-mid"><%= product.code %></td>
    <td class="va-mid"><%= product.name %></td>
    <td class="va-mid">
      <% if feature_item.img.present? %>
        <%= link_to feature_item.img.url, "data-lightbox": "roadtrip" do %>
          <%= t('titles.view') %>
        <% end %>
      <% end %>
    </td>
    <td class="va-mid"><%= feature_item.name %></td>
    <td class="va-mid"><%= f.object.supply_feature.quantity %></td>
    <td class="va-mid"><%= f.object.shipping_ub_feature.quantity %></td>
    <td class="va-mid"><%= f.object.quantity %></td>
    <td class="va-mid">
      <%= field_errors f.object, :qr_printed %>
      <%= f.number_field :qr_printed, class: 'form-control p-2 field', min: 0, step: 1, placeholder: t('activerecord.attributes.product_income_item.qr_printed') %>
    </td>
    <td class="va-mid">
      <%= field_errors f.object, :problematic %>
      <%= f.number_field :problematic, class: 'form-control p-2 field', min: 0, step: 1, placeholder: t('activerecord.attributes.product_income_item.problematic') %>
    </td>
    <td class="va-mid">
      <%= field_errors f.object, :income_locations %>
      <%= link_to_add_association f, :income_locations do %>
        <%= nested_add_btn %>
      <% end %>
      <%= f.fields_for :income_locations do |m| %>
        <%= render 'income_location_fields', :f => m %>
      <% end %>
    </td>
  </tr>
<% end %>