<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
<% end %>
<div class="content-wrapper">

  <div class="col-md-12 m-t-10 m-b-10">
    <%= form_with url: users_product_incomes_path, method: "get", class: "", local: true do |f| %>
      <div class="col-md-3 search">
        <div id="searchDate" class="form-control search">
          <i class="fa fa-calendar fa-lg p-r-0"></i>
          <span><%= t("filters.product_supply_order.by_date") %>...</span>
          <%= f.hidden_field :by_start, value: @by_start %>
          <%= f.hidden_field :by_end, value: @by_end %>
        </div>
      </div>
      <div class="col-md-3 search">
        <%= text_field_tag :by_code, @by_code, {class: 'form-control', placeholder: t('filters.product_supply_order.by_code')} %>
      </div>
      <div class="col-md-6 search">
        <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn pull-left' %>

        <%= link_to t('controls.button.create'), new_users_product_income_path, class: 'btn btn-warning pull-right' %>
      </div>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box" id="div_list">
          <div class="box-body table-responsive no-padding">
            <%= render 'layouts/flash_message' %>
            <table class="table table-hover">
              <tr>
                <th><%= t('activerecord.attributes.product_income.code') %></th>
                <th><%= t('activerecord.attributes.product_income.income_date') %></th>
                <th><%= t('activerecord.attributes.product_income.sum_price') %></th>
                <th><%= t('activerecord.attributes.product_income.note') %></th>
              </tr>
              <% @incomes.each do |p| %>
                <tr>
                  <td class="va-mid"><%= link_to p.code, users_product_income_path(p) %></td>
                  <td class="va-mid"><%= p.income_date.strftime('%F') %></td>
                  <td class="va-mid"><%= get_currency_mn p.sum_price %></td>
                  <td class="va-mid"><%= p.note %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>

        <%= paginate @incomes %>
      </div>
    </div>
  </section>
</div>

<script>
    $(document).ready(function () {
        var startDate = $('input#by_start');
        var endDate = $('input#by_end');

        $('#searchDate span').html(startDate.val() + '-' + endDate.val());


        $('#searchDate').daterangepicker({
                ranges: {
                    'Өнөөдөр': [moment(), moment()],
                    'Өчигдөр': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Сүүлийн 7 хоног': [moment().subtract('days', 6), moment()],
                    'Сүүлийн 30 хоног': [moment().subtract('days', 29), moment()],
                    'Энэ сар': [moment().startOf('month'), moment().endOf('month')],
                    'Өнгөрсөн сар': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                format: 'YYYY/MM/DD',
                locale: {
                    applyLabel: 'Болсон',
                    cancelLabel: 'Болих',
                    fromLabel: 'Аас',
                    toLabel: 'Хүртэл',
                    customRangeLabel: 'Өөрөөр сонгох',
                    dayNames: ["Даваа", "Мягмар", "Лхагва", "Пүрэв", "Баасан", "Бямба", "Ням"],
                    daysOfWeek: ["Ня", "Да", "Мя", "Лх", "Пү", "Ба", "Бя"],
                    monthNames: ["Нэгдүгээр сар", "Хоёрдугаар cар", "Гуравдугаар сар", "Дөрөвдүгээр сар", "Тавдугаар сар", "Зургаадугаар сар", "Долоодугаар сар", "Наймдугаар сар", "Есдүгээр сар", "Аравдугаар сар", "Арваннэгдүгээр сар", "Арванхоёрдугаар сар"],
                    firstDay: 1
                }
            },
            function (start, end) {
                $('#searchDate span').html(start.format('YYYY/MM/DD') + '-' + end.format('YYYY/MM/DD'));
                startDate.val(start.format('YYYY/MM/DD'));
                endDate.val(end.format('YYYY/MM/DD'));
            }
        );
        $('#searchDate').on('apply.daterangepicker', function (ev, picker) {
            startDate.val(picker.startDate.format('YYYY/MM/DD'));
            endDate.val(picker.endDate.format('YYYY/MM/DD'));
        });
        $('#searchDate').on('cancel.daterangepicker', function (ev, picker) {
            console.log("cancel event fired");
            $('#searchDate span').html("<%= t("filters.product_supply_order.by_date") %>...");
            startDate.val("");
            endDate.val("");
        });
    });
</script>