<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
  <%= stylesheet_link_tag "list" %>
<% end %>
<div class="content-wrapper">

  <div class="col-md-12 m-t-10 m-b-10">
    <%= form_with url: users_product_incomes_path, method: "get", class: "", local: true do |f| %>
      <div class="col-md-2 search">
        <div id="search-date" class="form-control search">
          <i class="fa fa-calendar fa-lg p-r-0"></i>
          <span><%= t("filters.by_date") %>...</span>
          <%= f.hidden_field :by_start, value: @by_start %>
          <%= f.hidden_field :by_end, value: @by_end %>
        </div>
      </div>
      <div class="col-md-2 search">
        <%= text_field_tag :by_income_code, @by_income_code, {class: 'form-control', placeholder: t('filters.by_income_code')} %>
      </div>
      <div class="col-md-2 search">
        <%= text_field_tag :by_code, @by_code, {class: 'form-control', placeholder: t('filters.by_code')} %>
      </div>
      <div class="col-md-2 search">
        <%= text_field_tag :by_product_name, @by_product_name, {class: 'form-control search', placeholder: t('filters.by_product')} %>
      </div>
      <div class="col-md-2 search">
        <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn pull-left' %>
        <% if can? :create, ProductIncome %>
          <%= link_to t('titles.product_incomes'), new_users_product_income_path, class: 'btn btn-warning pull-right' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box" id="div_list">
          <div class="box-body table-responsive no-padding">
            <%= render 'layouts/flash_message' %>
            <table class="table table-hover table-bordered">
              <tr>
                <th class="va-mid"><%= t('activerecord.attributes.product_income.code') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.order_code') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_code') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_name') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_image') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.shipping_er_item.product_feature') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.order_number') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.loaded') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.quantity') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.cargo') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.shipping_cost') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.qr_printed') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.problematic') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.shelf') %></th>
              </tr>
              <% @product_income_items.each do |i| %>
                <% product = i.product
                   income = i.product_income
                   feature_item = i.feature_item %>
                <tr>
                  <td class="va-mid"><%= link_to income.code, users_product_income_path(income) %></td>
                  <td class="va-mid"><%= i.supply_feature.code %></td>
                  <td class="va-mid"><%= product.code %></td>
                  <td class="va-mid"><%= product.name %></td>
                  <td class="va-mid">
                    <% if feature_item.img.present? %>
                      <%= link_to feature_item.img.url, "data-lightbox": "roadtrip" do %>
                        <%= t('titles.view') %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="va-mid"><%= feature_item.name %></td>
                  <td class="va-mid"><%= i.supply_feature.quantity %></td>
                  <td class="va-mid"><%= i.shipping_ub_item.loaded %></td>
                  <td class="va-mid"><%= i.quantity %></td>
                  <td class="va-mid"><%= i.cargo %></td>
                  <td class="va-mid"><%= get_currency(i.shipping_cost, "￥", 0) %></td>
                  <td class="va-mid"><%= i.qr_printed %></td>
                  <td class="va-mid"><%= i.problematic %></td>
                  <td class="va-mid">
                    <% i.income_locations.each {|i_loc| %>
                      <% location = i_loc.location %>
                      <div>
                        <span>x<%= location.x %></span>
                        <span>y<%= location.y %></span>
                        <span>z<%= location.z %></span>:&nbsp;<%= i_loc.quantity %>
                      </div>
                    <% } %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>

        <%= paginate @product_income_items %>
      </div>
    </div>
  </section>
</div>
<%= render 'shared/date-range', search_field_id: 'search-date', start_id: 'by_start', finish_id: 'by_end' %>