<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "show" %>
<% end %>
<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.product_income') %> </h1>
  </section>

  <div class="action-buttons">
    <% if can? :update, ProductIncome %>
      <%= link_to "Агуулхын байршил", locations_users_product_incomes_path(id: @product_income.id), class: 'btn btn-info' %>
      <%= link_to t('controls.button.edit'), edit_users_product_income_path(@product_income), class: 'btn btn-warning' %>
    <% end %>
    <%= link_to t('titles.back_to_list'), users_product_incomes_path(page: cookies[:page_number]), {class: "btn blck-btn"} %>
    <% if can? :destroy, ProductIncome %>
      <%= link_to t('controls.button.delete'), users_product_income_path(@product_income), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
    <% end %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 field_div">
              <div class="div_input">
                <b><%= t('activerecord.attributes.product_income.number') %>:</b> <%= show_id(@product_income.id) %>
              </div>
            </div>
            <div class="col-md-3 field_div">
              <div class="div_input">
                <b><%= t('activerecord.attributes.product_income.income_date') %>
                  :</b> <%= @product_income.income_date.strftime('%F') %>
              </div>
            </div>
            <div class="col-md-3 field_div">
              <div class="div_input">
                <b><%= t('activerecord.attributes.product_income.logistic_id') %>
                  :</b> <%= @product_income.logistic.name %>
              </div>
            </div>
            <div class="col-md-3 field_div">
              <div class="div_input">
                <b><%= t('activerecord.attributes.product_income.cargo_price') %>
                  :</b> <%= get_currency_mn(@product_income.cargo_price) %>
              </div>
            </div>
          </div>
        </div>

        <% if @product_income.product_income_items.present? %>
          <div class="col-md-12 group_div m-t-20">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th colspan="5" class="text-center"><%= t('activerecord.attributes.product_income.product_income_products') %></th>
                <th colspan="2" class="text-center"><%= t('activerecord.attributes.product_income_item.loaded') %></th>
                <th colspan="2" class="text-center"><%= t('titles.received') %></th>
                <th colspan="3"></th>
              </tr>
              <tr>
                <th class="va-mid"><%= t('activerecord.attributes.fb_post.product_code') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.fb_post.product_name') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_supply_order.product_image') %></th>
                <th class="va-mid"><%= t('activerecord.models.product_feature') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.order_number') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.loaded') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.quantity') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_product.cargo') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.qr_printed') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.problematic') %></th>
                <th class="va-mid"><%= t('activerecord.attributes.product_income_item.shelf') %></th>
              </tr>
              </thead>
              <tbody>
              <% @product_income.product_income_products.each do |i| %>
                <% product = i.product
                   shipping_ub_product = i.shipping_ub_product %>
                <tr>
                  <td class="va-mid"><%= product.code %></td>
                  <td class="va-mid"><%= product.full_name %></td>
                  <td class="va-mid">
                    <% if product.picture.present? %>
                      <%= link_to product.picture.url, "data-lightbox": "roadtrip" do %>
                        <%= t('titles.view') %>
                      <% end %>
                    <% end %>
                  </td>
                  <td></td>
                  <td></td>
                  <td class="va-mid"><strong><%= shipping_ub_product.quantity %></strong></td>
                  <td class="va-mid"><strong><%= i.quantity %></strong></td>
                  <td class="va-mid"><%= i.cargo %></td>
                  <td colspan="3"></td>
                </tr>
                <% i.product_income_items.each {|item|
                  feature_item = item.feature_item %>
                  <tr>
                    <td colspan="2"></td>
                    <td>
                      <% if feature_item.img.present? %>
                        <%= link_to feature_item.img.url, "data-lightbox": "roadtrip" do %>
                          <%= t('titles.view') %>
                        <% end %>
                      <% end %>
                    </td>
                    <td class="va-mid"><%= feature_item.name %></td>
                    <td class="va-mid"><%= item.supply_feature.quantity %></td>
                    <td class="va-mid"><%= item.shipping_ub_feature.quantity %></td>
                    <td class="va-mid"><%= item.quantity %></td>
                    <td></td>
                    <td class="va-mid"><%= item.qr_printed %></td>
                    <td class="va-mid"><%= item.problematic %></td>
                    <td class="va-mid">
                      <% item.income_locations.each {|i_loc| %>
                        <% location = i_loc.location %>
                        <div>
                          <span>x<%= location.x %></span>
                          <span>y<%= location.y %></span>
                          <span>z<%= location.z %></span>:&nbsp;<%= i_loc.quantity %>
                        </div>
                      <% } %>
                    </td>
                  </tr>
                <% } %>
              <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>