<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>

  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.saleman') %> </h1>
  </section>

  <div class="action-buttons">
    <% if can? :manage, Salesman %>
      <%= link_to t('controls.button.edit'), edit_users_salesman_path(@salesman), class: 'btn btn-info' %>
      <%= link_to t('controls.button.delete'), users_salesman_path(@salesman), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
    <% end %>
    <%= link_to t('titles.back_to_list'), users_salesmen_path(page: cookies[:salesman_page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body table-responsive no-padding">
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.avatar') %> :</div>
          <div class="col-data">
            <% if @salesman.avatar.present? %>
              <%= link_to @salesman.avatar.url, "data-lightbox": "roadtrip" do %>
                <%= image_tag @salesman.avatar.url(:tumb), class: 'tumb' %>
              <% end %>
            <% else %>
              <%= image_tag 'no-image.png', class: 'tumb' %>
            <% end %>
          </div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.id') %> :</div>
          <div class="col-data"><%= @salesman.id_number %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.surname') %> :</div>
          <div class="col-data"><%= @salesman.surname %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.name') %> :</div>
          <div class="col-data"><%= @salesman.name %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.gender') %> :</div>
          <div class="col-data"><%= @salesman.gender_i18n %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.register') %> :</div>
          <div class="col-data"><%= @salesman.register %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.email') %> :</div>
          <div class="col-data"><%= @salesman.email %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.phone') %> :</div>
          <div class="col-data"><%= @salesman.phone %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.address') %> :</div>
          <div class="col-data"><%= @salesman.address.presence || :'---' %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.pin_code') %> :</div>
          <div class="col-data"><%= @salesman.pin_code %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.price') %> :</div>
          <div class="col-data"><%= get_currency_mn @salesman.price %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.distribution') %> :</div>
          <div class="col-data"><%= @salesman.distribution %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.salesman.price_at') %> :</div>
          <div class="col-data"><%= @salesman.price_at.present? ? @salesman.price_at.strftime('%F %R') : '---' %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
