<% product_feature_items.each do |item| %>
  <% balance = @storeroom_id.to_i == 1 ? item.balance : item.store_room_balance(@storeroom_id) %>
  <tr>
    <td class="va-mid"><%= item.name %></td>
    <td class="va-mid"><%= item.barcode %></td>
    <td class="va-mid"><%= get_currency_mn item.price %></td>
    <td class="va-mid"><%= item.p_6_8_p %></td>
    <td class="va-mid"><%= get_currency_mn item.p_6_8 %></td>
    <td class="va-mid"><%= item.p_9_p %></td>
    <td class="va-mid"><%= get_currency_mn item.p_9_ %></td>
    <td class="va-mid"><%= get_currency_mn item.cost %></td>
    <td class="va-mid"><%= balance %></td>
    <td class="va-mid">
      <% if @storeroom_id.to_i == 1 %>
        <% ProductLocation.get_quantity(item.id).each {|loc_bal| %>
          <div><%= loc_bal.name %>:&nbsp;<%= loc_bal['quantity'] %></div>
        <% } else %>
        <%= @storeroom.product_location.name %>: <%= balance %>
      <% end %>
    </td>
  </tr>
<% end %>