<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "search" %>
<% end %>
<style>
  table th,
  table td {
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 3px 6px !important;
  }

  tr.product {
    cursor: pointer;
  }

  tr.selected,
  tr.selected:hover {
    background-color: lightyellow;
  }
</style>
<script>
    var category_max_index = 0;
</script>
<div class="content-wrapper index">
  <%= form_with url: balance_users_product_feature_items_path, method: "get", class: 'form-horizontal', local: true do |f| %>
    <div class="col-md-12 m-t-10 m-b-5">
      <div class="col-md-1 search">
        <%= text_field_tag :code, @code, {class: 'form-control search', placeholder: t('activerecord.attributes.product.code')} %>
      </div>
      <div class="col-md-2 search">
        <%= text_field_tag :name, @name, {class: 'form-control search', placeholder: t('activerecord.attributes.product.name')} %>
      </div>
      <div class="col-md-3 search">
        <%= f.select :customer_id, Customer.order_by_name.collect {|c| [c.name, c.id]}.insert(0, [t('activerecord.attributes.product.is_own'), 0]),
                     {:prompt => t('activerecord.attributes.product.customer_id'), :selected => @customer_id}, {class: 'form-control selectpicker', "data-live-search": "true"} %>
      </div>
      <div class="col-md-3 search va-mid">
        <%= select_tag :balance, options_for_select([["Үлдэгдэл", ""], ["Үлдэгдэлтэй", true], ["Үлдэгдэлгүй", false]], @balance), class: 'form-control-1' %>
        <%= select_tag :barcode, options_for_select([["Баркод", ""], ["Баркодтой", true], ["Баркодгүй", false]], @barcode), class: 'form-control-1' %>
        <%= select_tag :desk, options_for_select([["Тавиур", ""], ["Тавиуртай", true], ["Тавиургүй", false]], @desk), class: 'form-control-1' %>
      </div>
      <div class="col-md-3 search">
        <%= f.collection_select :storeroom_id, Storeroom.order_code, :id, :full_name,
                                {:selected => @storeroom_id, :include_blank => 'Бүгд'}, {class: 'form-control selectpicker', "data-live-search": true} %>

      </div>
    </div>
    <div class="col-md-12 m-b-10">
      <div class="col-md-3 search" id="product_category">
        <%= hidden_field_tag :category_id, @category_id %>
        <%= f.collection_select :main_category_id, ProductCategory.top_level, :id, :name,
                                {:prompt => t('activerecord.attributes.product.category_id'), selected: @headers.present? ? @headers.first.id : ""},
                                {class: 'form-control selectpicker', id: "category-0", ind: 0, onchange: 'callChildren(this)', "data-live-search": "true"} %>
        <% @headers.present? && @headers.each_with_index do |h, i| %>
          <% if h != @headers.first %>
            <div class="col-sm-12 sub_category" id="category-<%= i %>" style="padding: 10px 0 0 0;">
              <select class='form-control selectpicker' onchange='callChildren(this)' ind=<%= i %>>
                <% h.parent.children.each {|child| %>
                  <option value="<%= child.id %>" <%= h.id == child.id ? 'selected' : '' %>><%= child.name %></option>
                <% } %>
              </select>
            </div>
            <script type="text/javascript" charset="utf-8">
                category_max_index = <%= i + 1  %>;
            </script>
          <% end %>
        <% end %>

        <% if @product_category.present? && @product_category.children.present? %>
          <div class="col-sm-12 sub_category" id="category-<%= @headers.size %>" style="padding: 10px 0 0 0;">
            <select class='form-control selectpicker' onchange='callChildren(this)' ind=<%= @headers.size %>>
              <option value=''>Дэд ангилал сонгох</option>
              <% @product_category.children.each {|child| %>
                <option value="<%= child.id %>"><%= child.name %></option>
              <% } %>
            </select>
          </div>
        <% end %>
      </div>
      <div class="col-md-3 search m-t-5">
        <% if can? :create, Product %>
          <%= link_to 'Харилцагч', new_users_customer_import_path, class: 'btn-sm btn-warning' %>
          <%= link_to 'Үлдэгдэл нэмэх', set_balance_users_product_feature_items_path, class: 'btn-sm btn-warning', id: 'set_balance' %>
        <% end %>
      </div>
      <div class="col-md-6 search text-right">
        <%= submit_tag "#{t('controls.button.searching')} (#{@product_count})", :class => 'btn-sm blck-btn pull-right' %>
      </div>
    </div>
  <% end %>
  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box" style="margin-bottom: 8px">
          <div class="box-body table-responsive no-padding">
            <%= render 'layouts/flash_message' %>
            <table class="table table-hover table-bordered">
              <tr>
                <th><%= t('activerecord.attributes.product.code') %></th>
                <th><%= t('activerecord.attributes.product.name') %></th>
                <th><%= t('activerecord.attributes.product.p_type') %></th>
                <th><%= t('activerecord.attributes.product.price') %></th>
                <th><%= t('activerecord.attributes.product.balance') %></th>
                <th><%= t('activerecord.attributes.product.category') %></th>
                <th><%= t('activerecord.attributes.product.customer_id') %></th>
              </tr>
              <% @products.each do |p| %>
                <tr class="product" id="<%= p.id %>">
                  <td class="va-mid"><%= p.code %></td>
                  <td class="va-mid"><%= p.name %></td>
                  <td class="va-mid"><%= p.p_type_i18n %></td>
                  <td class="va-mid"><%= get_currency_mn(p.price) %></td>
                  <td class="va-mid"><%= @storeroom_id.to_i == 1 ? p.balance : p.store_room_balance(@storeroom_id) %></td>
                  <td class="va-mid"><%= get_name_recursive(p.category) %></td>
                  <td class="va-mid"><%= p.customer.present? ? p.customer.name : '' %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="box" style="margin-bottom: 0">
          <div class="p-l-10">Барааны дэлгэрэнгүй /Сонгосон барааны сериалаар/</div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <thead>
              <tr>
                <th rowspan="2" class="va-mid"><%= t('activerecord.models.product_feature') %></th>
                <th rowspan="2" class="va-mid"><%= t('activerecord.attributes.product_feature_item.barcode') %></th>
                <th rowspan="2" class="va-mid"><%= t('activerecord.attributes.product_feature_item.price') %></th>
                <th colspan="2"><%= t('activerecord.attributes.product_feature_item.p_6_8') %></th>
                <th colspan="2"><%= t('activerecord.attributes.product_feature_item.p_9_') %></th>
                <th rowspan="2" class="va-mid"><%= t('activerecord.attributes.product_feature_item.cost') %></th>
                <th rowspan="2" class="va-mid"><%= t('activerecord.attributes.product.balance') %></th>
                <th rowspan="2" class="va-mid"><%= t('activerecord.attributes.product_income_item.income_locations') %></th>
              </tr>
              <tr>
                <th class="text-center">%</th>
                <th class="text-center"><%= t('currency') %></th>
                <th class="text-center">%</th>
                <th class="text-center"><%= t('currency') %></th>
              </tr>
              </thead>
              <tbody id="feature_body"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%= paginate @products, total_pages: @total_pages %>
  </section>
</div>
<%= render 'shared/select_category_js' %>
<script>
    var tr_select_id = "";
    $(function () {
        $('tr.product').on('click', function () {
            $('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            $('#feature_body').html("<div class='text-center m-t-20 w-100'><img src='/images/loading2.gif'></div>");
            tr_select_id = $(this).attr('id');
            Rails.ajax({
                url: "<%= get_feature_items_users_product_feature_items_path %>",
                type: "POST",
                data: "product_id=" + tr_select_id + "&storeroom_id=<%= @storeroom_id %>"
            });
        });

        $('#set_balance').on('click', function () {
            let href = $(this).attr('href');
            $(this).attr('href', href + "?id=" + tr_select_id);
        });
    });
</script>