<% if @product_feature_items.present? %>
  $('#mpr_body').html("<%= escape_javascript render(:partial => 'itoms_feature_item', :locals => {:product_feature_items => @product_feature_items}) %>");
  <% if @name.present? %>
    $('#name').val("<%= @name %>");
  <% end %>
  <% if @product_id.present? %>
    product_id =  <%= @product_id %>;
  <% end %>
  $('#mpr_body .product').on('click', function () {
  $('#mpr_body tr.selected').removeClass('selected');
  $(this).addClass('selected');
  select_mrp = $(this).attr('item_id');
  });
<% else %>
  $('#mpr_body').html("<tr><td colspan='8' class='text-center'>Үр дүн олдсонгүй!</td></tr>")
<% end %>
<% if @json.present? %>
  $('#itoms_body').html("<%= escape_javascript render(:partial => 'itoms_json', :locals => {:json => @json['serials']}) %>");

  $('#itoms_body .product').on('click', function () {
  $('#itoms_body tr.selected').removeClass('selected');
  $(this).addClass('selected');
  select_itoms = $(this).attr('index');
  });
  $('#itoms_name').text("<%= @json['name'] %>");

<% else %>
  $('#itoms_body').html("<tr><td colspan='5' class='text-center'>Үр дүн олдсонгүй!</td></tr>");
<% end %>