<div class="content-wrapper">
  <section class="content-header">
    <h1><%= t('activerecord.models.user') + t(@user.persisted? ? 'titles.edit' : 'titles.add') %></h1>
  </section>
  <section class="content">
    <div class="box box-info">
      <%= form_with model: @user, url: @user.persisted? ? admin_users_user_path : admin_users_users_path, method: @user.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <div class="form-group">
            <%= f.label :surname, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@user, :surname) %>">
              <%= field_errors(@user, :surname) %>
              <%= f.text_field :surname, class: 'form-control', placeholder: t('activerecord.attributes.user.surname') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@user, :name) %>">
              <%= field_errors(@user, :name) %>
              <%= f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.user.name') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :gender, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 radio-group p-t-5 <%= get_error_class(@user, :gender) %>">
              <%= field_errors(@user, :gender) %>
              <%= f.collection_radio_buttons :gender, User.genders_i18n, :first, :second do |b| %>
                <%= b.radio_button %>&nbsp;&nbsp;<%= b.text %> &nbsp;&nbsp;
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@user, :email) %>">
              <%= get_user_field_errors(@user, :email) %>
              <%= f.email_field :email, class: 'form-control', placeholder: t('activerecord.attributes.user.email'), readonly: @user.persisted? %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :phone, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@user, :phone) %>">
              <%= field_errors(@user, :phone) %>
              <%= f.text_field :phone, class: 'form-control', placeholder: t('activerecord.attributes.user.phone') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :user_position, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9 <%= get_error_class(@user, :user_position_id) %>">
              <%= field_errors(@user, :user_position_id) %>
              <%= f.collection_select :user_position_id, UserPosition.order_by_name, :id, :name, {:prompt => t('controls.select.none')}, {class: 'form-control', id: 'position-select'} %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :user_permission_rels, class: 'col-sm-3 control-label' %>

            <div class="col-sm-9 cocoon-nested-form">
              <div class="<%= get_error_class(@user, :user_permission_rels) %>">
                <%= field_errors(@user, :user_permission_rels) %>
                <table class="table table-bordered" id="tb_user_permission_rels">
                  <tr>
                    <th width="45%"><%= t('activerecord.attributes.user_permission_rel.user_permission_id') %></th>
                    <th width="45%"><%= t('activerecord.attributes.user_permission_rel.role') %></th>
                    <th width="50px"></th>
                  </tr>
                  <%= f.fields_for :user_permission_rels do |rel| %>
                    <%= render 'user_permission_rel_fields', f: rel %>
                  <% end %>
                </table>
              </div>
              <div class="links item_append">
                <%= link_to_add_association f, :user_permission_rels, data: {association_insertion_node: '#tb_user_permission_rels', association_insertion_method: :append} do %>
                  <%= nested_add_btn %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
