<div class="content-wrapper">
  <div class="col-md-12 m-t-10 m-b-10">
    <div class="row">
      <%= form_with url: admin_users_users_path, method: "get", class: 'form-horizontal', local: true do |f| %>
        <div class="col-md-3 search">
          <%= text_field_tag :name, @sname, {class: 'form-control search', placeholder: t('filters.name')} %>
        </div>
        <div class="col-md-3 search">
          <%= text_field_tag :email, @semail, {class: 'form-control search', placeholder: t('filters.email')} %>
        </div>
        <div class="col-md-3 search">
          <%= text_field_tag :phone, @sphone, {class: 'form-control search', placeholder: t('filters.phone')} %>
        </div>
        <div class="col-md-3 search">
          <%= submit_tag t('controls.button.searching') + " (" + @users.total_count.to_s + ")", :class => 'btn blck-btn pull-left' %>

          <%= link_to t('controls.button.create'), new_admin_users_user_path, class: 'btn btn-warning pull-right' %>
        </div>
      <% end %>
    </div>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <%#= get_search_criteria([@sname, t('activerecord.attributes.user.name')], [@semail, t('activerecord.attributes.user.email')], [@sphone, t('activerecord.attributes.user.phone')]) %>

          <%= render 'layouts/flash_message' %>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th class="th-center va-mid"><%= t('activerecord.attributes.user.name') %></th>
                <th class="th-center va-mid">Ангилал</th>
                <th class="th-center va-mid">Филтер бүлэг</th>
                <th class="th-center va-mid">Филтер</th>

                <!--                <th class="th-center va-mid"><%#= t('activerecord.attributes.user.user_position') %></th>-->
                <!--                <th class="th-center va-mid"><%#= t('activerecord.attributes.user.email') %></th>-->
                <!--                <th class="th-center va-mid"><%#= t('activerecord.attributes.user.phone') %></th>-->
              </tr>
              <% @users.each do |user| %>
                <tr>
                  <td class="va-mid underline"><%= link_to user.name, admin_users_user_path(user) %></td>
                  <td class="td-center va-mid"><%= user.ali_c %></td>
                  <td class="td-center va-mid"><%= user.ali_g %></td>
                  <td class="td-center va-mid"><%= user.ali_c %></td>
                  <!--                  <td class="td-center va-mid"><%#= user.user_position.name %></td>-->
                  <!--                  <td class="va-mid"><%#= user.email %></td>-->
                  <!--                  <td class="td-center va-mid"><%#= user.phone %></td>-->
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <%= paginate @users %>
      </div>
    </div>
  </section>
</div>
