
<div class="content-wrapper">
  <%= render 'layouts/flash_message' %>
  <section class="content-header align-left padding-15">
    <h1> <%= t('activerecord.models.product_supplier') %> </h1>
  </section>

  <div class="action-buttons">
    <%= link_to t('controls.button.edit'), edit_users_product_supplier_path(@product_supplier), class: 'btn btn-info' %>
    <%= link_to t('controls.button.delete'), users_product_supplier_path(@product_supplier), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
    <%= link_to t('titles.back_to_list'), users_product_suppliers_path(page: cookies[:page_number]), {class: "btn blck-btn"} %>
  </div>
  <%= show_body do %>
    <div class="box">
      <div class="box-body table-responsive no-padding">
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.product_supplier.name') %> :</div>
          <div class="col-data"><%= @product_supplier.name %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.product_supplier.code') %> :</div>
          <div class="col-data"><%= @product_supplier.code %></div>
        </div>
        <div class="m30">
          <div class="align-left"><%= t('activerecord.attributes.product_supplier.description') %> :</div>
          <div class="col-data"><%= @product_supplier.description %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>