<!DOCTYPE html>
<html>
<head>
  <title><%= t('app_name') %></title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag asset_path('favicon.png') %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'application' %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<%= render 'layouts/logistic/header' %>
<%= render 'layouts/logistic/menu' %>
<%= yield %>
<%= render 'layouts/footer' %>

<%= yield :footer_js %>
<% if current_logistic.lang == "cn" %>
  <script type="text/javascript" charset="utf-8">
      $.fn.bootstrapDP.dates['cn'] = {
          "format": "yyyy年mm月dd日",
          "days": ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
          "daysShort": ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
          "daysMin": ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
          "months": ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
          "monthsShort": ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
          "weekStart": 1
      };
      $.fn.bootstrapDP.defaults.language = "cn";
  </script>
<% else %>
  <%= javascript_include_tag 'admin_users/common' %>
<% end %>
</body>
</html>
