<!DOCTYPE html>
<html>
<head>
  <title><%= t('app_name') %></title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head_tags %>
  <%= favicon_link_tag asset_path('favicon.png') %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'application' %>

</head>

<body class="hold-transition skin-blue sidebar-mini">
<%= render 'layouts/user/header' %>
<%= render 'layouts/user/menu' %>
<%= yield %>
<%= render 'layouts/footer' %>

<%= javascript_include_tag 'admin_users/common' %>
<%= yield :footer_js %>
</body>
</html>
