
<div class="content-wrapper">

  <section class="content">
    <div class="box box-info">
      <%= form_with model: @item, url: @item.persisted? ? users_product_supply_order_item_path : users_product_supply_order_items_path,
                    method: @item.persisted? ? :patch : :post, local: true, :html => {class: 'form-horizontal'} do |f| %>
        <%= form_body do %>
          <%= f.hidden_field :supply_order_id %>

          <div class="form-group">
            <%= f.label :code, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 %>">
              <%= f.text_field :code, value: @item.supply_order.code , class: 'form-control', disabled: true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :exchange, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 %>">
              <%= f.text_field :exchange, value: @item.supply_order.exchange_i18n , class: 'form-control', disabled: true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :exchange_value, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 %>">
              <%= f.number_field :exchange_value, value: @item.supply_order.exchange_value , class: 'form-control', disabled: true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :product_id, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@item, :product_id) %>">
              <%= field_errors(@item, :product_id) %>
              <%= f.collection_select :product_id,  Product.search(""), :id, :name,
                                      {:prompt => t('controls.select.none')}, {class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :quantity, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@item, :quantity) %>">
              <%= field_errors(@item, :quantity) %>
              <%= f.number_field :quantity, class: 'form-control', min:0, step: 1, placeholder: t('activerecord.attributes.product_supply_order_item.quantity')  %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :price, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@item, :price) %>">
              <%= field_errors(@item, :price) %>
              <%= f.number_field :price, class: 'form-control', min:0, step: 0.01, placeholder: t('activerecord.attributes.product_supply_order_item.price')  %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :link, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@item, :link) %>">
              <%= field_errors(@item, :link) %>
              <%= f.text_field :link, class: 'form-control', placeholder: t('activerecord.attributes.product_supply_order_item.link') %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :shuudan, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@item, :shuudan) %>">
              <%= field_errors(@item, :shuudan) %>
              <%= f.number_field :shuudan, class: 'form-control', min:0, step: 0.1, placeholder: t('activerecord.attributes.product_supply_order_item.shuudan')  %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :note, class: 'col-sm-3 control-label' %>
            <div class="col-sm-6 <%= get_error_class(@item, :note) %>">
              <%= field_errors(@item, :note) %>
              <%= f.text_area :note, class: 'form-control', placeholder: t('activerecord.attributes.product_supply_order_item.note') %>
            </div>
          </div>

          <div class="action-buttons">
            <%= f.submit t('controls.button.save'), class: 'btn btn-warning' %>
            <%= link_to t('titles.back_to_list'), users_product_supply_order_items_path(page: cookies[:page_number], order_id: @item.supply_order.id), {class: "btn blck-btn"} %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>