<div class="content-wrapper index">
  <%= render 'layouts/breadcrumbs', data: [
      [users_product_supply_orders_path, t('titles.product_supply_orders')],
      [users_product_supply_order_items_path(order_id: @order.id), @order.code], t('titles.product_supply_order_items')] %>

  <section class="content-header align-left with-breadcrumbs">
    <h4> (<%= t('titles.total') %>：<%= @items.total_count %>)</h4>
  </section>

  <div class="action-buttons">
    <%= form_with url: users_product_supply_order_items_path, method: "get", class: 'form-horizontal', local: true do |f| %>
      <%= hidden_field_tag :order_id, @order.id %>
      <%= text_field_tag :product_name, @search_name, {class: 'form-control search'} %>
      <%= submit_tag t('controls.button.searching'), :class => 'btn blck-btn' %>
      <%= link_to t('controls.button.create'), new_users_product_supply_order_item_path(order_id: @order.id), class: 'btn btn-warning' %>
    <% end %>
  </div>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <%= render 'layouts/flash_message' %>
<!--          <p><%#= t('activerecord.attributes.product_supply_order.exchange') + ": " + @order.exchange_i18n %></p>-->
<!--          <p><%#= t('activerecord.attributes.product_supply_order.exchange_value') + ": " + @order.exchange_value.to_s %></p>-->

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th><%= t('activerecord.attributes.product_supply_order_item.product_id') %></th>
                <th><%= t('activerecord.attributes.product_supply_order_item.quantity') %></th>
                <th><%= t('activerecord.attributes.product_supply_order_item.price') %></th>
                <th><%= t('activerecord.attributes.product_supply_order.exchange') %></th>
                <th><%= t('activerecord.attributes.product_supply_order_item.sum_price') %></th>
                <th><%= t('activerecord.attributes.product_supply_order_item.shuudan') %></th>
                <th></th>
              </tr>
              <% @items.each_with_index do |o| %>
                <tr>
                  <td class="va-mid underline"><%= o.product.name %></td>
                  <td class="va-mid underline"><%= o.quantity %></td>
                  <td class="va-mid underline"><%= o.price %></td>
                  <td class="va-mid underline"><%= @order.exchange_i18n + " (" + @order.exchange_value.to_s + ")" %></td>
                  <td class="va-mid underline"><%= ((o.quantity*o.price)*o.supply_order.exchange_value) %></td>
                  <td class="va-mid underline"><%= o.shuudan %></td>
                  <td>
                    <div class="btn-loc_khoroo">
                      <%= link_to edit_users_product_supply_order_item_path(o), class: 'no-underline' do %>
                        <%= button_tag t('controls.button.edit'), class: "btn-sm btn-info" %>
                      <% end %>

                      <%= link_to users_product_supply_order_item_path(o), class: 'no-underline', :method => :delete, data: {confirm: t('are_you_sure')} do %>
                        <%= button_tag t('controls.button.delete'), class: "btn-sm btn-danger" %>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <%= paginate @items %>
      </div>
    </div>
  </section>
</div>
